
{% extends "layout.html" %}

{% block page_title %}Page Not Found{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <h1>404</h1>
        <h2><a href="{{ url_for('public.home') }}">Click here to go home</a></h2>

        <p>Houston, we seem to have a problem. Play a game, instead?</p><br>

        <iframe src="https://itch.io/embed/681226" height="167" width="552" frameborder="0"><a href="https://ompuco.itch.io/i-am-not-what-remains">I AM NOT WHAT REMAINS by ompu co</a></iframe>
    </div>
</div>
{% endblock %}
