
{% extends "layout.html" %}

{% block page_title %}Page Not Found{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <h1>404</h1>

        <p>I am afraid I can't do that Dave. Would you like to play a game instead?</p><br>

        <a href="{{ url_for('public.home') }}" class="btn btn-lg btn-success">Go home</a>
        <a href="https://itch.io/randomizer" class="btn btn-lg btn-light" target="_blank">I'm feeling ludic</a>
    </div>
</div>
{% endblock %}
