<footer>
  <small>
    <ul class="footer-nav">
      <li>
        <b>
        D R I
        <i class="fa fa-thumbs-up"></i>
        <i style="-moz-transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -o-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1);" class="fa fa-thumbs-up"></i>
        A T</b>
      </li>
      <li>Open source under the MIT license.</li>
      <li>[ <a href="{{ url_for('public.about') }}">About</a> |
        <a href="https://github.com/loleg/dribdat/issues">Issues</a> ]</li>
    </ul>
  </small>
</footer>
