<!doctype html>
<!--
          M A Y   T H E   S O U R C E   B E   W I T H   Y O U   E X C E L L E N T   B E I N G !
         .#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
      .@@@@@@@@@@@@@@@@@@@@@@@@@@@@&##%@@@@@@@@@@@@@@@@@@@@@@@#   @@@@@@@@@@@@@@@@@@@@@@@@@@@@(
    .@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%######@@@@@@@@@@@@@@@@@@@/      *@@@@@@@@@@@@@@@@@@@@@@@@@@@@/
    #@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#######@@@@@@@@@@@@@@@@@@@        (@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@########%@@@@@@@@@@@@@@@@@@@#         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@.
  &@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#########@@@@@@@@@@@@@@@@@@@@@.         .@@@@@@@@@@@@@@@@@@@@@@@@@@@@
,@@@@@@@@@@@@@@@@@@@@@@@@@@@####################%@@@#                     @@@@@@@@@@@@@@@@@@@@@@@@@@%
&@@@@@@@@@@@@#########%@@#########################@*                        &@@/        #@@@@@@@@@@@@
@@@@@@@@@@@@@#########%@&#########################@*                         @@/        #@@@@@@@@@@@@,
@@@@@@@@@@@@@#########&@%########################&@&                         @@/        #@@@@@@@@@@@@.
(@@@@@@@@@@@@#########&@%########################@@@.                        @@/        #@@@@@@@@@@@&
  @@@@@@@@@@@@#########&@%#######################%@@@%                        @@/        #@@@@@@@@@@@*
  .@@@@@@@@@@@###&@&###&@%#######################@@@@@.                       @@/   @@%  #@@@@@@@@@@#
  .@@@@@@@@@@%########@@%######################%@@@@@@                       @@/        #@@@@@@@@@(
    &@@@@@@@@@&&&&&&@@@@@@%###################%@@@@@@@@                   .,#@@#********%@@@@@@@@.
      .@@@@@@@@@@@@@@@@@@@@@@@@@@@@&%%#####%%@@@@@@@@@@@@@*.    .,,(%@@@@@@@@@@@@@@@@@@@@@@@@@@@/
        &@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,
          THIS EVENT WAS PRODUCED WITH HELP FROM DRIBDAT.CC - OPEN SOURCE HACKATHON PLATFORM
 -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block page_title %}{% endblock %}</title>
  {% block page_meta %}{% endblock %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4/dist/{{ config.DRIBDAT_THEME }}/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flipclock@0/dist/flipclock.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4/css/font-awesome.min.css">

  {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  <link rel="stylesheet" href="{{ config.DRIBDAT_STYLE }}">
  <link rel="shortcut icon" href="/favicon.ico">

</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
{% with form=form, tabs=tabs, event=current_event %}
{% if not request.args.get('clean') and not request.args.get('minimal') %}
{% include "includes/nav.html" %}
{% endif %}
{% if event %}
{% if not request.args.get('minimal') %}
{% include "includes/header.html" %}
{% endif %}
<style id="custom_css" type="text/css">{{ event.custom_css|replace('<','')|safe }}</style>
{% endif %}
{% endwith %}

<div class="{% block content_class %}container{% endblock content_class %} {% if current_event %}with-event{% endif %}">

  <div role="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
         {{message}}
        </div><!-- end .alert -->
        {% endfor %}
      </div><!-- end col-md -->
    </div><!-- end row -->
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </div>

</div><!-- end container -->

{% include "includes/footer.html" %}

<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flipclock@0/dist/flipclock.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.min.js"></script>
{% assets "js_all" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block js %}{% endblock %}

{% include "includes/analytics.html" %}

{% endblock %}<!-- /body -->

{% block css %}{% endblock %}
  <a name="EOF"></a>
</body>
</html>
