<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

  {% if event %}
  <div class="section section-centered section-header">
    {% if event.logo_url %}
      <div class="section-header-logo">
        <img id="event-logo" src="{{ event.logo_url }}" alt="{{ event.hostname }}">
      </div>
    {% endif %}
    <div class="section-header-content">
      <h3>{{ event.name }}</h3>
      <h4>{{ event.date }}<br>{{ event.location }}</h4>
    </div>
  </div>
  <style type="text/css">{{ event.custom_css }}</style>
  {% endif %}

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('public.home') }}">
      <i style="-moz-transform: scale(1, 1); -webkit-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1);" class="fa fa-thumbs-up"></i>
      <i style="-moz-transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -o-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1);" class="fa fa-thumbs-up"></i>
    </a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      {% if event %}
        {% if event.has_started %}
        <li>
          <a href="{{ url_for('public.event', event_id=event.id) }}#projects">
            Projects
            <i class="fa fa-bars" aria-hidden="true"></i></a>
        </li>
        {% endif %}
        <li>
          <a href="{{ url_for('public.event', event_id=event.id) }}#top">
            Challenges
            <i class="fa fa-trophy" aria-hidden="true"></i></a>
        </li>
        {% if event.resources %}
        <li>
          <a href="{{ url_for('public.event', event_id=event.id) }}#resources">
            Resources
            <i class="fa fa-cart-plus" aria-hidden="true"></i></a>
        </li>
        {% endif %}
        {% if event.has_started %}
        <li>
          <a href="{{ url_for('public.project_new') }}">
            Get started
            <i class="fa fa-flag"></i></a>
        </li>
        {% endif %}
        {% if event.community_url %}
        <li>
          <a href="{{ event.community_url }}">
            Community
            <i class="fa fa-comment"></i></a>
        </li>
        {% endif %}
      {% endif %}
      {% if tabs %}
        {% for tab, link in tabs %}
        <li class="{% if active == tab %}active{% endif %}">
        <a href="{{ link }}">{{ tab|capitalize }}</a>
        </li>
        {% endfor %}
      {% endif %}
    </ul>
    {% if current_user and current_user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_admin %}
        <li><p class="navbar-text">
          <a class="navbar-link" href="{{ url_for('admin.index') }}">Admin</a>
        </p></li>
      {% endif %}
        <li><p class="navbar-text">
          [ <a class="navbar-link" href="{{ url_for('auth.user_profile') }}">{{ current_user.username }}</a> ]
        </p></li>
        <li><p class="navbar-text">
          <a class="navbar-link" href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out"></i> Logout</a>
        </p></li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
      <li><a href="{{ url_for('auth.register') }}">Create account</a></li>
    </ul>
    {% endif %}
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
