<!doctype html>
<head>
  <meta charset="utf-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

  <title>Render</title>
  
{% if config.ENV == 'prod' %}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
{% else %}
  <script src="{{ url_for('static', filename='libs/jquery/jquery.js')}}"></script>
{% endif %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js" integrity="sha512-q+4liFwdPC/bNdhUpZx6aXDx/h77yEQtn4I1slHydcbZK34nLaR3cAeYSJshoxIOq3mjEf7xJE8YWIUHMn+oCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf_viewer.min.js" integrity="sha512-r/1hgDCXmxicFJ66QCjMCFl0dEhTBu7kYqoef3OrdHbqrnyhp1V/GhyWQg8Gto8412MUqU8AbMSpc5TLbRURhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf_viewer.min.css" integrity="sha512-tze+o/xG0w3yxxE8xe32piisVvI/LfcEuf6LW7lFLUxhio2SfFQ9mQ0TqB0avvonmxUXT7/l8+fnWkR03u85fQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="render" src="{{ render_src }}">

<div class="btn-group toolbar-pdf">
  <button title="Previous" id="prev">&#9664;</button>
  <button id="go"><span id="page_num"></span> / <span id="page_count"></span></button>
  <button title="Next" id="next">&#9654;</button>
</div>
<canvas id="canv"></canvas>

</body>
<script src="{{ url_for('static', filename='js/render.js')}}"></script>
<style>
  body {
    margin: 0; padding: 0; border: 0; overflow: hidden;
  }
  canvas {
    width: 100%; height: 100%; margin: 0; padding: 0;
    direction: ltr;
  }
  .btn-group {
    position: absolute;
    right: 4px;
    top: 1px;
    font-size: 130%;
  }
  .btn-group button {
    border-style: dashed;
    background: transparent;
    cursor: pointer;
    opacity: 0.4;
  }
  .btn-group button:hover {
    border-color: firebrick;
    background: white;
    opacity: 1;
  }
</style>
</html>