{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <div class="row" style="text-align:center; margin-bottom:4em">
      <i>Powered by</i>
      <h1 style="font-weight:bold">D R I
        <i class="fa fa-thumbs-up"></i>
        <i style="-moz-transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -o-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1);" class="fa fa-thumbs-up"></i>
        A T _
      </h1>
      <i><b>All your hack belong to us.</b></i>
    </div>
    <div class="row">
      <p>This is an open source project board designed for running splendid hackathons.
        With this app you can collect and showcase all projects from an event
        in one place.
        The name is an amalgam of <i>Driven By Data</i>: we started
        this platform to help teams sustain their efforts and drive their
        ideas forward.</p>
      <p>If you would like to use this platform for your event,
        contact the organisers of the events listed here and they
        should be able to help you - or just fork our open source project
        and set it up to your liking.</p>
      <p>Developed by <a href="http://github.com/loleg">Oleg Lavrovsky</a>
         based on <a href="http://github.com/sloria/">Steven Loria</a>'s template for the <a href="http://github.com/audreyr/cookiecutter/">cookiecutter</a> package by <a href="http://github.com/audreyr/">Audrey Roy</a>.</p>
      <p><a href="https://github.com/loleg/dribdat" class="btn btn-primary">Visit our GitHub page &raquo;</a>
    </div>
</div>
{% endblock %}
