{% extends "layout.html" %}

{% block page_title %}About dribdat{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <div class="row"><center style="width:100%;margin-bottom:4em">
      <img title="D R I B D A T _" src="/static/img/logo7_gray.png"><br>
      <i><b>All your hack are belong to us.</b></i>
    </center></div>
    <div class="row">
      <p>This is an open source project board designed for splendid collaboration. 
        On this site we <b>collect and showcase all projects</b> from hackathon event in one place, under shared conditions. 
        This platform helps hackathon teams sustain and document their efforts, streamline things for the organisers, let
        everyone to focus on driving their ideas forward.</p>
    </div><div class="row">
      <h3>Overview</h3>
      <p>On the <a href="/">front page</a> you can see the upcoming event, as well as any previous events. A short description is followed
         by a link to the event home page, as well as a countdown of time remaining until the start or finish (if already started) of the hackathon.</p>
      <p>The <b>Projects, Challenges and Resources</b> are shown on the event home page. Here you can learn about topics, datasets, and 
        any other information the organisers have provided. Once the event has started, and you have formed a team, you can 
        <a href="/register/">login</a> and <a href="#" class="btn btn-success disabled">Start a project</a></p>
    </div><div class="row">
      <h3>Quickstart</h3>
      {% include "includes/quickstart.html" %}
    </div><div class="row">
      <h3>API</h3>
      <p>There is a simple API for accessing data from this site in machine-readable form. See the README for additional details.</p>
      <ul class="api">
      <p>Basic data on the current frontpage event:</p>
      <li><a href="/hackathon.json">/hackathon.json</a> (JSON <a href="https://schema.org/Hackathon">Schema</a>)</li>
      <li><a href="/api/event/current/info.json">/api/event/current/info</a> (JSON)</li>
      <p>Retrieve data on all projects from an event:</p>
      <li><a href="/api/event/current/projects.json">/api/event/current/projects</a> (JSON)</li>
      <li><a href="/api/event/current/projects.csv">/api/event/current/projects</a> (CSV)</li>
      <p>Recent activity in projects (default <tt>limit</tt> is 10):</p>
      <li><a href="/api/project/activity.json">/api/project/activity.json</a> (JSON)</li>
      <p>Search projects:</p>
      <li><form action="/api/project/search.json">
        <input name="q" placeholder="Search term ...">
        <input type="submit" value="Get JSON">
      </form></li>
      </ul>
    </div><div class="row">
      <h3>For organisers</h3>
      <p>All of the content on the site, including presentation and the Quickstart above, can be edited by the site administrator in the 
        <b>Admin</b> menu linked in the header if you have access: from where you can edit general details under <b>Events</b>, 
        publish <b>Categories</b>, and edit or sync <b>Projects</b> and 
        <b>Challenges</b> (which are either a Category, or just a project in challenge status).</p>
      <p>If you would like to use this platform for your event,
        contact the organisers of the events listed here and they
        should be able to help you - or just fork the open source project
        and set it up to your liking:</p>
      <p>
        <a href="https://github.com/hackathons-ftw/dribdat/issues" class="btn btn-primary">Issues &raquo;</a>
        <a href="https://github.com/hackathons-ftw/dribdat" class="btn btn-default">Source code</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
