
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>This is an open source project board designed for running hackathons.
        With this app you can collect and showcase all projects from an event
        in one place.
        The name is an amalgam of <i>Driven By Data</i>: we started
        this platform to help teams sustain their efforts and drive their
        ideas forward.</p>
        <p><a href="https://github.com/loleg/dribdat" class="btn btn-primary btn-large">Visit our GitHub page &raquo;</a>
      <p>It is based on <a href="http://github.com/sloria/">Steven Loria</a>'s template for the <a href="http://github.com/audreyr/cookiecutter/">cookiecutter</a> package by <a href="http://github.com/audreyr/">Audrey Roy</a>.</p>
    </div>
</div>
{% endblock %}
