{% extends "layout.html" %}

{% block page_title %}{{current_event.name}} dashboard{% endblock %}

{% block body_class %}dashboard-page embed-view{% endblock %}

{% block content %}
<!-- With apologies to everyone for this cruddy page .. working on V2!! -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flipdown@0/dist/flipdown.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-resizable-dom@0.35.0/dist/jquery-resizable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Refresh social media wall every ten minutes -->
{% if with_social_wall %}
  <script language="JavaScript">
  setTimeout(function() {
    location.reload();
  }, 1000 * 60 * 5);
  </script>
{% endif %}

<div class="superpowers">
  <button class="show-announcements">📣</button>
</div>

<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 sidebar">
      <div id="projects"></div>
    </nav>

    <main role="main" class="container-countdown col-md-{{ '6' if with_social_wall else '9' }} ml-sm-auto">
      <div id="event-logo"><img src="{{ current_event.logo_url }}" width="100%"></div>
      {% if current_event.countdown %}
        <div id="clockDashboard" class="event-countdown flipdown" data-start="{{ current_event.countdown }}"></div>
      {% endif %}
    </main>

    <div class="col-md-3">
    </div>

    <div class="col-md-3 socialwall">
        <div id="activities"></div>

    {% if with_social_wall == 'twitter' %}
      <a class="twitter-timeline" data-width="340" data-height="900" data-dnt="true" data-theme="light" data-link-color="#E95F28" href="{{ current_event.community_url }}">Tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% elif with_social_wall == 'mastodon' %}
      <iframe allowfullscreen sandbox="allow-top-navigation allow-scripts allow-popups allow-popups-to-escape-sandbox" width="100%" height="67%" src="https://www.mastofeed.com/apiv2/feed?userurl={{ wall_url }}&theme=light&size=100&header=false&replies=false&boosts=true" frameborder="0"></iframe>
    {% endif %}
    </div>
  </div>
</div>

<div class="{% if not status_text %}hidden{% endif %}" id="announcements">
  <textarea class="editable">{{ status_text }}</textarea>
  <button>📣 Send</button>
</div>

<style>
  html, body, body > .container-fluid { width: 100%; height: 100%; }
  body.dashboard-page {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('{{ current_event.gallery_url }}');
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .hidden {
    display: none;
  }
  #projects {
    font-size: 14pt;
    overflow: hidden;
    list-style-type: none;
    padding: 0px;
  }
  #projects div {
    padding: 5px 0px;
    cursor: pointer;
    line-height: 1.2em;
  }
  #projects div a {
    height: 1.4em;
    overflow: hidden;
    display: block;
  }
  #projects a {
    color: inherit;
    text-decoration: none;
    opacity: 1;
  }
  #projects sp {
    display: block;
    border-bottom: 2px solid white;
  }

  .container-countdown {
    padding-left: 265px;
    text-align: center;
  }
  @media (min-width: 1000px) {
    .container-countdown {
      padding-left: 400px;
    }
  }

  .container-fluid .sidebar {
    height: 100%;
    position: fixed;
    background-color: #ddd;
  }

  .container-fluid .socialwall {
    padding: 0px;
    background: #fff;
  }

  #event-logo {
    width: 50%;
    margin-top: 100px;
    position: fixed;
  }
  #event-logo img {
    border-radius: 10px;
  }

  #metrics {
    position: relative;
    left: 15px;
    top: 150px;
  }

  .dashboard-page .container.with-event { max-width: none; }
  #schedule { color: transparent; margin-top: 1em; }
  #schedule dashboard { color: #eee; display: initial !important; }
  #schedule > * { display: none; }

  #announcements {
    position: fixed;
    top: 26%;
    left: 22%;
    /*left: 50%;
    margin-left: -15em;*/
    z-index: 999;
  }

  #announcements button {
    display: block;
    opacity: 0.5;
  }

  #announcements textarea {
    width: 18em;
    height: 4em;
    font-size: 50px;
    font-weight: bold;
    padding: 0em 0.3em;
    color: blue;
    resize: both;
    background: #ffd73e;
    border-width: 10px;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
  }
  .superpowers {
    position: fixed;
    bottom: 0px; right: 50%;
    z-index: 999;
  }
  .superpowers button {
    border: 0px;
    background: none;
    opacity: 0.5;
    font-size: 200%;
  }
  .show-announcements:hover {
    opacity: 1;
  }

  .event-countdown {
    position: fixed;
    bottom: 25px;
    margin-left: -3em;
    transform: scale(1.5);
  }

  #activities {
    color: #333;
    font: 14pt/29pt sans-serif;
    text-align: right;
  }
  #activities a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    padding: 0px 0.5em;
    font-size: 80%;
    line-height: 2em;
    text-align: right;
    background: white;
  }
  #activities img, #activities image, #activities iframe, #activities video {
    width: 100%;
  }
  #activities div {
    background:rgba(230,230,230,0.8);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    font-size: 80%;
    padding: 0 0.3em;
    margin: 1em;
    text-align: right;
  }
  #activities p {
    padding-top: 0.5em;
    margin: 0px 0.5em;
    line-height: 1.2em;
    color: #000;
    font-size: 120%;
    text-align: left;
  }

  .vega-actions-wrapper, .vega-actions { display: none; }

  .blue-background-class {
    background: rgba(100, 100, 255, 0.5);
  }

</style>

<script>
var converter = new showdown.Converter();

refreshProjects = function() {
  $.getJSON('/api/event/current/projects.json', function(data) {
    $pp = $('#projects').empty();
    data.projects.forEach(function(p) {
      if (p.is_hidden) return;
      $pp.append('<div>' +
        '<a href="/project/'+p.id+'">'+p.name+'</a>' +
        '<sp style="width:'+p.score+'px"></sp>' +
      '</div>');
    });
  });

  $.getJSON('/api/project/posts.json?limit=3', function(data) {
    $pp = $('#activities').empty();
    data.activities.forEach(function(a) {
      if (!a.content) return;
      //a.content = a.content.replace(/\!\[.*\)/, '(img)')
      let content = converter.makeHtml(a.content);
      $pp.append('<div>' + content +
        '<a href="/project/'+a.project_id+'">@'+a.user_name + ' / ' + a.timesince + '</a>' +
      '</div>');
    });
  });

  setTimeout(refreshProjects, 60 * 1000); // refresh every minute
}
refreshProjects();

// Enable editable fields
$('.editable').each(function() {
  this.contentEditable = 'true';
});

// Enable announcements
$('.show-announcements').click(function() {
  if ($('#announcements').is(':visible')) {
    $('#announcements').hide();
  } else {
    $('#announcements').show();
  }
});
$('#announcements button').click(function() {
  let $self = $(this);
  let message = $('#announcements textarea').val();
  console.log(message);
  $.post('/api/event/{{ current_event.id }}/push/status', {
    'text': message
  }, function(resp) {
    if (resp.status && resp.status == 'OK') {
      $self.html('✅ Sent');
      setTimeout(function() {
        $self.html('📣 Send');
      }, 5000);
    } else {
      console.error(resp);
    }
  });
});


</script>

{% endblock %}
