<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Hackathon</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" type="text/css" href="http://d2aprndauq1nk.cloudfront.net/static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="http://d2aprndauq1nk.cloudfront.net/static/css/hackathon.css">
        <link rel="stylesheet" type="text/css" href="http://d2aprndauq1nk.cloudfront.net/static/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="http://d2aprndauq1nk.cloudfront.net/static/css/slick.css"/>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="//d2aprndauq1nk.cloudfront.net/static/slick/slick.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/libs/FlipClock/flipclock.css"/>
        <script type="text/javascript" src="/static/libs/FlipClock/flipclock.min.js"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>
    </head>

    <body class="template-home-page dashboard-page">
        <div id="wrapper">
            <div id="content-wrapper">


  <div style="position:absolute; top: 10%; left: 2em" id="projects">
  </div>

	{% if current_event.hashtag %}
  <div style="position:absolute; top: 10%; right: 8%; width:245px;">
    <a class="twitter-timeline" height="400" href="https://twitter.com/hashtag/{{ current_event.hashtag }}">{{ current_event.hashtag }}-Tweets</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
	{% endif %}

  {% if current_event.countdown %}
  <div style="position:absolute; top:420px; left: 50%; margin-left:-300px">
    <div class="event-countdown" data-start="{{ current_event.countdown }}"></div>
  </div>
  {% endif %}

<div class="section section-centered section-header" style="zoom:0.75">
    <div class="section-header-logo">
        <img src="{{ current_event.logo_url }}"/>
    </div>
    <div class="header-line"></div>
    <div class="section-header-content">
        <div class="rich-text"><h2>{{ current_event.name }}</h2></div>
        <div class="rich-text"><h3>{{ current_event.hostname }}</h3></div>
    </div>
    <div class="header-line" style="margin-top: 30px"></div>
</div>

        </div>
      </div>

    </body>
<style>
  #projects {
    color: #DDA;
    font: 14pt/29pt sans-serif;
  }
  #projects a {
    color: inherit;
    text-decoration: none;
    opacity: 0.9;
  }
  #projects sp {
    display: block;
    border-bottom: 2px solid white;
  }
</style>
<script>
refreshProjects = function() {
  $.getJSON('/project/list', function(data) {
    $pp = $('#projects').empty();
    data.projects.forEach(function(p) {
      $pp.append('<div>' +
        '<a href="/project/'+p.id+'">'+p.name+'</a>' +
        '<sp style="width:'+p.score+'px"></sp>' +
      '</div>');
    });
  });
  setTimeout(refreshProjects, 60 * 1000);
}
refreshProjects();
</script>
</html>
