<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>DRIBDAT</title>
        <meta name="description" content="Project dashboard" />
        <meta DISABLED-http-equiv="refresh" content="360">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="/static/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/libs/FlipClock/flipclock.css">
        <link rel="stylesheet" href="/static/css/honeycomb.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <style type="text/css">{{ current_event.custom_css }}</style>

        <script type="text/javascript" src="/static/libs/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/static/libs/popper.js/umd/popper.min.js"></script>
        <script type="text/javascript" src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins.js"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>
        <script type="text/javascript" src="/static/libs/FlipClock/flipclock.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vega@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@2"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
    </head>

    <body class="dashboard-page">

      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 bg-light sidebar">
            <div class="sidebar-sticky" id="projects"></div>
            <div class="sidebar-sticky" id="schedule">
              {{ current_event.description|safe }}
            </div>
          </nav>

          <main role="main" class="container-countdown col-md-9 ml-sm-auto">
            <img id="event-logo" src="{{ current_event.logo_url }}">

            {% if current_event.countdown %}
              <div class="event-countdown" data-start="{{ current_event.countdown }}"></div>
            {% endif %}

            <div class="panel-body">
                <div id="announcements" class="editable">Hello, World!</div>
                <div id="activities"></div>
            </div>
          </main>

          <div class="col-md-3 sidebar-social">
            {% if 'twitter.com' in current_event.community_url %}
              <a class="twitter-timeline" data-width="340" data-height="900" data-dnt="true" data-theme="dark" data-link-color="#E95F28" href="{{ current_event.community_url }}?ref_src=twsrc%5Etfw">Tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
</div>

</body>
<style>
  body {
    overflow: hidden;
  }
  #projects {
    color: #DDA;
    font: 14pt/29pt sans-serif;
  }
  #projects a {
    color: inherit;
    text-decoration: none;
    opacity: 0.9;
  }
  #projects sp {
    display: block;
    border-bottom: 2px solid white;
  }

  .container-countdown {
    padding-left: 265px;
    text-align: center;
  }

  .container-fluid .sidebar {
    height: 100%;
    position: fixed;
    background-color: black !important;
    opacity: 0.7;
  }

  #event-logo {
    width: 40%;
    margin-top: 100px;
  }

  #metrics {
    position: relative;
    left: 15px;
    top: 150px;
  }

  .vega-actions-wrapper, .vega-actions { display: none; }

</style>
<script>
refreshProjects = function() {
  $.getJSON('/api/event/current/projects.json', function(data) {
    $pp = $('#projects').empty();
    data.projects.forEach(function(p) {
      $pp.append('<div>' +
        '<a href="/project/'+p.id+'">'+p.name+'</a>' +
        '<sp style="width:'+p.score+'px"></sp>' +
      '</div>');
    });
  });

  $.getJSON('/api/project/activity.json', function(data) {
    var yourVlSpec = {
      "width": 525,
      "$schema": "https://vega.github.io/schema/vega-lite/v2.0.json",
      "description": "Project activities",
      "data": {
        "values": data.activities
      },
      "mark": {
        "type": "area",
        "interpolate": "monotone"
      },
      "encoding": {
        "x": {
          "field": "date",
          "type": "temporal",
          "scale": { "rangeStep": null }
        },
        "y": {
          "aggregate": "mean",
          "field": "project_score",
          "type": "quantitative",
          "axis": { "title": null, "labels": false }
        }
      },
      "config": {
        "autosize": { "type": "fit", "contains": "padding" },
        "axis": { "grid": false, "ticks": false }
      }
    }
    vegaEmbed("#activities", yourVlSpec);
  });

  setTimeout(refreshProjects, 60 * 1000); // refresh every minute
}
refreshProjects();

// Enable editable fields
$('.editable').each(function() {
  this.contentEditable = 'true';
});
</script>
</html>
