{% extends "layout.html" %}

{% import "macros/_social.html" as social %}

{% block page_title %}Dribs{% endblock %}

{% block body_class %}dribs-page{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">

    {% if current_user and current_user.is_authenticated %}
    <center style="position:relative">
      <a id="project-post"
         href="{{ url_for('public.user_post', username=current_user.username) }}"
         title="Post an update to your current project"
         class="btn btn-success btn-lg">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
        Write a Post</a>
    </center>
    {% endif %}

    {% if not data.items %}
      <div class="nothing-here text-center mt-5">
        Log in and write a <b>Post</b> to see your Dribs* here.
      </div>
    {% else %}
    <div class="stats-section">
      <h3>Contributor Stats</h3>
      <div class="stats-chart"></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Contributor</th>
            <th>Total Activities</th>
            <th>Commits</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          {% for stat in stats %}
          <tr>
            <td>{{ stat.username }}</td>
            <td>{{ stat.total_activities }}</td>
            <td>{{ stat.commits }}</td>
            <td>{{ stat.comments }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <section class="timeline">
      {% for s in data.items %}
      <div class="timeline-item timeline-{{ s.name }}">
        <div class="timeline-img">
          {% if s.name == 'boost' %}
            <i class="fa fa-trophy" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-paperclip" aria-hidden="true"></i>
          {% endif %}
        </div>
        <div class="timeline-content timeline-card js--fadeInBottom">
          <div class="timeline-img-header">
            <a href="{{ url_for('project.get_log', project_id=s.project.id)}}#log-{{s.id}}">
              <h2>{{s.project.name}}</h2>
            </a>
          </div>

          {% if s.content %}
            <div class="content">
              {{s.content|markdown|safe}}
            </div>
          {% endif %}

          {% if s.ref_url %}
            <a href="{{ s.ref_url }}">
          {% endif %}
            <div class="date" title="{{ s.data.date }}">
              {{s.data.timesince}}
              {% if s.user %}
                ~
                <a class="userlink"
                  href="{{ url_for('public.user_profile', username=s.user.username )}}">
                  {{ s.user.name }}</a>
              {% endif %}
            </div>
          {% if s.ref_url %}
            </a>
          {% endif %}
        </div><!-- /.timeline-content -->
      </div>
      {% endfor %}
    </section>
    {% endif %}

    {% if data.has_next %}
      <!-- More dribs button. TODO: use id or date of last drib -->
      <a href="{{ url_for(endpoint, page=data.next_num) }}" id="next-dribs"
        title="Load another page of dribs" style="width:100%"
        class="btn btn-primary btn-lg">More!</a>
    {% endif %}

  </div>
</div>

<center class="mt-5">
  <p>
    * <a href="https://dictionary.cambridge.org/dictionary/english/dribs" target="_blank"><b>dribs</b></a> <i>n. pl.: in small amounts, a few at a time</i>
  </p>
</center>

{% if current_event %}

  <center class="mt-5">
    <a class="btn btn-light btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      {{ current_event.name }}</a>
  </center>

  {% if config.DRIBDAT_SOCIAL_LINKS %}
    <center class="event-footer">
      {{ social.share_links(current_event.hashtags, url_for('public.event', event_id=current_event.id, _external=True)) }}
    </center>
  {% endif %}

{% endif %}


{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"></script>
<script>
  const stats = {{ stats|tojson }};
  const margin = {top: 20, right: 20, bottom: 30, left: 40};
  const width = 960 - margin.left - margin.right;
  const height = 500 - margin.top - margin.bottom;
  const x = d3.scaleBand().range([0, width]).padding(0.1);
  const y = d3.scaleLinear().range([height, 0]);
  const svg = d3.select(".stats-chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
  x.domain(stats.map(d => d.username));
  y.domain([0, d3.max(stats, d => d.total_activities)]);
  svg.selectAll(".bar")
    .data(stats)
    .enter().append("rect")
    .attr("class", "bar")
    .attr("x", d => x(d.username))
    .attr("width", x.bandwidth())
    .attr("y", d => y(d.total_activities))
    .attr("height", d => height - y(d.total_activities));
  svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));
  svg.append("g")
    .call(d3.axisLeft(y));
</script>
{% endblock %}
