{% extends "layout.html" %}

{% block page_title %}Dribs{% endblock %}

{% block body_class %}dribs-page{% endblock %}

{% block content %}
<h1 class="huge">Top dribs*</h1>

<div class="jumbotron">
  <div class="container">

    {% if current_user and current_user.is_authenticated %}
    <center style="position:relative">
      <a id="project-post"
         href="{{ url_for('public.user_post', username=current_user.username) }}"
         title="Post an update to your current project" class="btn btn-lg btn-success">
        <i class="fa fa-clipboard" aria-hidden="true"></i>
        Post</a>
    </center>
    {% endif %}

    {% if not data.items %}
      <div class="nothing-here">
        Log in and write a <b>Post</b> to see your project updates here!
      </div>
    {% else %}
    <section class="timeline">
      {% for s in data.items %}
      <div class="timeline-item">
        <div class="timeline-img"></div>
        <div class="timeline-content timeline-card js--fadeInBottom">
          <div class="timeline-img-header">
            <a href="{{ url_for('project.project_view', project_id=s.project.id)}}">
              <h2>{{s.project.name}}</h2>
            </a>
          </div>

          {% if s.content %}
            <div class="content">
              {{s.content|markdown|safe}}
            </div>
          {% endif %}

          {% if s.ref_url %}
            <a href="{{ s.ref_url }}" target="_blank">
          {% endif %}
            <div class="date" title="{{ s.data.date }}">
              {{s.data.timesince}}
              {% if s.user %} ~ <b>{{ s.user.username }}</b>{% endif %}
            </div>
          {% if s.ref_url %}
            </a>
          {% endif %}

          {% if False and s.resource and not s.resource.is_visible %}
            # TODO: replace with link to project
            <a class="resource-card" href="{{ url_for('public.resource', resource_id=s.resource.id) }}">
              <i title="{{s.resource.of_type}}"
                 class="fa fa-{{s.resource.icon}}"></i>
              <b>{{s.resource.name}}</b>
              <p>{{s.resource.summary}}</p>
            </a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </section>
    {% endif %}

    {% if data.has_next %}
      <a href="{{ url_for(endpoint, page=data.next_num) }}"
        title="Load another page of dribs" style="width:100%"
        class="btn btn-primary btn-lg">More!</a>
    {% endif %}

  </div>
</div>

<div class="container join-tip">
  <p class="bigger">
    <b>Join</b> a project to share your progress!
  </p>
</div>

<center class="mt-2">
  <p>
    * <b>dribs</b> <i>n. pl.: in small amounts, a few at a time</i>
    <br><small><a href="https://dictionary.cambridge.org/dictionary/english/dribs" target="_blank">Cambridge English</a></small>
  </p>
</center>

{% if current_event %}
<center class="mt-5">
  <a class="btn btn-light btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    {{ current_event.name }}</a>
</center>
{% endif %}


{% endblock %}
