{% extends "layout.html" %}

{% import "macros/_social.html" as social %}

{% block page_title %}Dribs{% endblock %}

{% block body_class %}dribs-page{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">

    {% if current_user and current_user.is_authenticated %}
    <center style="position:relative">
      <a id="project-post"
         href="{{ url_for('public.user_post', username=current_user.username) }}"
         title="Post an update to your current project" 
         class="btn btn-success btn-lg">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
        Write a Post</a>
    </center>
    {% endif %}

    {% if not data.items %}
      <div class="nothing-here">
        Log in and write a <b>Post</b> to see your Dribs* (project updates) here
      </div>
    {% else %}
    <section class="timeline">
      {% for s in data.items %}
      <div class="timeline-item timeline-{{ s.name }}">
        <div class="timeline-img">
          {% if s.name == 'boost' %}
            <i class="fa fa-trophy" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-paperclip" aria-hidden="true"></i>
          {% endif %}
        </div>
        <div class="timeline-content timeline-card js--fadeInBottom">
          <div class="timeline-img-header">
            <a href="{{ url_for('project.project_view', project_id=s.project.id)}}#log">
              <h2>{{s.project.name}}</h2>
            </a>
          </div>

          {% if s.content %}
            <div class="content">
              {{s.content|markdown|safe}}
            </div>
          {% endif %}

          {% if s.ref_url %}
            <a href="{{ s.ref_url }}">
          {% endif %}
            <div class="date" title="{{ s.data.date }}">
              {{s.data.timesince}}
              {% if s.user %}
                ~
                <a class="userlink"
                  href="{{ url_for('public.user_profile', username=s.user.username )}}">
                  {{ s.user.name }}</a>
              {% endif %}
            </div>
          {% if s.ref_url %}
            </a>
          {% endif %}
        </div><!-- /.timeline-content -->
      </div>
      {% endfor %}
    </section>
    {% endif %}

    {% if data.has_next %}
      <!-- More dribs button. TODO: use id or date of last drib -->
      <a href="{{ url_for(endpoint, page=data.next_num) }}" id="next-dribs"
        title="Load another page of dribs" style="width:100%"
        class="btn btn-primary btn-lg">More!</a>
    {% endif %}

  </div>
</div>

<div class="container join-tip">
  <p class="bigger">
    <b>Join</b> a project to share your progress!
  </p>
</div>

<center>
  <p>
    * <a href="https://dictionary.cambridge.org/dictionary/english/dribs" target="_blank"><b>dribs</b></a> <i>n. pl.: in small amounts, a few at a time</i>
  </p>
</center>

{% if current_event %}
<center class="mt-5">
  <a class="btn btn-light btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    {{ current_event.name }}</a>
</center>
{% endif %}


{% endblock %}
