{% extends "layout.html" %}
{% import "macros/_misc.html" as misc %}

{% block page_title %}Participants{% endblock %}
{% block body_class %}eventusers{% endblock %}

{% block content %}

{% if current_user and current_user.is_authenticated %}
  <div class="float-right">
    <a class="btn btn-lg btn-primary"
       title="Go to my user profile"
       href="{{ url_for('public.user_current') }}">
      <i class="fa fa-user bg-primary text-white" aria-hidden="true"></i>
      My Profile
    </a>
  </div>
{% endif %}

<h1 class="huge">
  {% if u %}`{{ u }}`
  {% else %}Contributors
  {% endif %}
</h1>

  <div id="search-users" class="mb-2">
    <form method="get" action="{{ url_for('public.all_participants') }}">
      <div class="content input-group">
        <span class="input-group-text">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <input type="text" class="form-control" name="u"
          title="Use @username *skill or ~role to refine your search."
          aria-label="Search users" placeholder="Search ...">
      </div>
    </form>
  </div>

{% if preset_roles %}
  <div class="missing-roles">
    {% for role in preset_roles %}
      <a class="role" data-id="{{ role.id }}"
         href="{{ url_for('public.all_participants') }}?u=~{{ role.name }}">
        <span>{{ role.name }}</span>
      </a>
    {% endfor %}
  </div>
{% endif %}

{% if participants %}

  <div class="event-participants">
    <div class="participant-box">
    {% for user in participants %}
      {{ misc.render_user_profile(user) }}
    {% endfor %}
    </div>
  </div><!-- /event-participants -->

{% endif %}

<div category-id="infobox" class="mt-5">
  {% if current_event and current_event.has_started and not current_event.has_finished and usercount %}
    <center><h4><i class="fa fa-lightbulb-o"></i> &nbsp;Join a project or
      challenge to be listed here</h4>
    <p>As
      <span class="user-score">{{ usercount }}</span> have done in
      <a href="{{ url_for('public.event', event_id=current_event.id) }}">
      this event</a> already</p></center>
  {% elif not usercount %}
    <h4 class="no-matches">🤷‍♀️ Encourage people to create a profile, choose a role, and join a team.</h4>
  {% else %}
    <center>
      <span class="user-score">{{ usercount }}</span>
    </center>
  {% endif %}
</div>

{% if current_event %}
<center class="mt-5">
    <a class="btn btn-light btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      {{ current_event.name }}</a>
</center>
{% endif %}

{% endblock %}
