{% extends "layout.html" %}
{% import "macros/_project.html" as proj %}

{% block page_title %}Resources{% endblock %}

{% block body_class %}eventresources-page{% endblock %}

{% block content %}
<div class="event-resources">
  {% if project_count %}
    <div class="profile-projects mt-2" style="border:none">
      <div class="row ibws-fix">
        {% for project in projects %}
            {{ proj.render_resource_card(project) }}
        {% endfor %}
      </div>
    </div><!-- /profile-projects -->
  {% else %}
    <i>Add your datasets and suggested tools here.</i>
  {% endif %}

  <div class="mt-4">
    {% if not current_event.lock_starting %}
      <a href="{{ url_for('project.project_new', event_id=current_event.id) }}" class="btn btn-success">
        <i class="fa fa-life-ring"></i>
        <span title="Add another resource here">Share a resource</span>
      </a>
    {% endif %}
      
    {% if current_user and current_user.active and current_user.is_admin %}
        <a href="{{ url_for('admin.event', event_id=current_event.id) }}" class="btn btn-secondary"
            title="Edit event details (admin view)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Edit</a>
    {% endif %}
  </div>
</div>
{% endblock %}
