{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}New event{% endblock %}
{% block body_class %}eventform eventnew{% endblock %}

{% block content %}
    <h1>Plan another Event</h1>
    <p>
        <b>Tip:</b> Set your start and finish in the
        <u title="TIME_ZONE environment setting">{{ config.TIME_ZONE }}</u>
        time zone.
    </p>

    {{ render_form(url_for('public.event_new'), form, formid='eventNew') }}

    {% if config.S3_KEY %}
      <button type="button" class="btn btn-light mt-2 m-1" style="display:none" data-bs-toggle="modal" data-bs-target="#uploadImage">
        <i class="fa fa-image text-info" area-hidden="true"></i>
        Upload an image
      </button>
    {% endif %}

    {% include "includes/uploader.html" %}

{% endblock %}
