{% extends "layout.html" %}

{% block page_title %}Instructions{% endblock %}

{% block body_class %}instruction-page{% endblock %}

{% block content %}

  <a name="resources"></a>
  <h1 class="huge">Resources</h1>

  <p class="mt-3">
    This page lists the typical stages of a project, as well as any tools or instructions.
    For more details on the process, see
    <a href="{{ url_for('public.event_stages', event_id=current_event.id) }}">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      Stages</a>.
  </p>

  <div class="list-stages">
  {% for step in steps %}
    <div class="row step {% if step.projects %}has_projects{% endif %}">
      {% if step.index > 0 %}
        <div class="number">{{ step.index }}</div>
      {% else %}
        <div class="number">*</div>
      {% endif %}

      {% if step.index > 0 %}
        <h3 class="title">{{ step.phase }}</h3>
      {% endif %}

      {% if step.projects %}
      <div class="profile-projects container-fluid">
        <div class="row flex-row flex-nowrap">
        {% for project in step.projects %}
            <a class="col-md-5 ms-auto card project"
              {%- if project.image_url %}
                style="background-image:url('{{project.image_url}}'); padding-left:100px"
              {%- endif %}
               href="{{ url_for('project.project_view', project_id=project.id) }}">
              <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.summary }}</p>
              </div>
            </a>
        {% endfor %}
        </div>
      </div><!-- /profile-projects -->
      {% endif %}
    </div>
  {% endfor %}
  </div>

  {% if current_event and current_event.instruction %}
  <a name="instructions"></a>
  <h1 class="mt-5">Instructions</h1>

  <div class="jumbotron event-instruction mt-3">
    <div class="content">
      {{current_event.instruction|markdown}}
    </div>
  </div>
  {% endif %}

{% if current_event.lock_resources %}
  <center class="mt-5">
    <a class="btn btn-light btn-lg" href="{{ url_for('public.home') }}">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Home</a>
  </center>
{% else %}
  <center class="mt-5">
    <a class="btn btn-light btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      {{ current_event.name }}</a>
  </center>
{% endif %}

{% endblock %}
