{% extends "layout.html" %}

{% block page_title %}{{current_event.name}} / {% if current_event.has_finished %} Results {% elif current_event.has_started %} Project Board {% else %} Challenges {% endif %}{% endblock %}

{% block page_meta %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url_for('public.event', event_id=current_event.id, _external=True) }}">
  <meta property="og:title" content="{{current_event.name}}">
  <meta property="og:image" content="{{current_event.logo_url}}">
  <meta property="og:description" content="{{current_event.description|truncate(140)}}">
  <meta name="description" content="{{current_event.description|truncate(140)}}">
  <script type="application/ld+json">{{ current_event.get_schema(request.host_url)|safe }}</script>
{% endblock %}

{% block content %}
{% cache 300, 'event-%d' % current_event.id %}
<center class="nav-categories">
  <div class="btn-group" data-toggle="buttons" role="group" aria-label="Filter by category">
    {% if projects %}
      <label class="btn btn-default active" title="Projects + Challenges">
        <input type="radio" name="category" id="" autocomplete="off" checked>
          <i class="fa fa-trophy"></i><br>
          <span> </span>
      </label>
      <label class="btn btn-default" title="Projects Only">
        <input type="radio" name="category" id="challenges" autocomplete="off">
          <i class="fa fa-cubes"></i><br>
          <span> </span>
      </label>
    {% endif %}
    {% for category in current_event.categories_for_event() %}
      <label class="btn btn-default">
        <input type="radio" name="category" id="{{category.id}}" autocomplete="off">
          {% if category.logo_icon %}
            <i class="fa fa-{{category.logo_icon}}"></i><br>
          {% endif %}
          <span>{{ category.name }}</span>
      </label>
    {% endfor %}
    {% if projects %}
      <label class="btn btn-default" title="List view">
        <input type="radio" name="category" id="list" autocomplete="off">
          <i class="fa fa-bars"></i><br>
          <span> </span>
      </label>
    {% endif %}
  </div>
</center>

<div class="honeycomb"><!-- Based on Hexagon Tiles by Graham Pyne http://codepen.io/gpyne/pen/iElhp/ -->
  <a name="projects"></a>
  <div class="ibws-fix">
  {% for project in projects %}
    <a href="{{ url_for('public.project', project_id=project.id) }}"
       class="hexagon project{% if project.phase=='Challenge' %} challenge{% endif %} category-highlight"
       {% if project.category %}category-id="{{project.category.id}}"{% endif %}
       style="background-color:{{project.logo_color}}; background-image:url('{{project.image_url}}')">
      <div class="hexagontent">
        {% if project.logo_icon %}
          <i class="fa fa-{{project.logo_icon}}"></i><br>
          <small>{{ project.name }}</small>
        {% else %}
          {{ project.name }}
        {% endif %}
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70" style="width:{{project.score}}%">
          </div>
        </div>
      </div>
    </a>
    {% if loop.index % 7 == 0 %}
  </div><div class="ibws-fix">
    {% endif %}
  {% endfor %}
  </div>
</div><!-- /honeycomb -->

<div class="category-info">
{% if current_event.categories %}
  <div category-id="infobox" class="category-container">
    <center><h4><i class="fa fa-arrow-circle-o-up"></i> Explore challenges and projects</h4></center>
  </div>
  {% for category in current_event.categories_for_event() %}
  <div category-id="{{category.id}}" class="category-container" style="border-top:5px solid {{category.logo_color}}; display:none">
    <h3>{{ category.name }}</h3>
    {{ category.description|markdown }}
    {% if current_user and current_user.is_authenticated and current_user.is_admin %}
      <br><a href="{{ url_for('admin.category', category_id=category.id) }}" class="btn btn-success btn-sm">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Edit challenge</a>
    {% endif %}
  </div>
  {% endfor %}
{% endif %}
</div><!-- /category-info -->

{% if current_event.can_start_project %}
  <div class="start-project">
    <a href="{{ url_for('public.project_new', event_id=current_event.id) }}" class="btn btn-lg btn-success">
      {% if current_event.has_started %}
        <i class="fa fa-rocket"></i>
        <span>Start project</span>
      {% else %}
        <i class="fa fa-trophy"></i>
        <span>Announce challenge</span>
      {% endif %}
    </a>
  </div>
{% endif %}

{% if current_event.resources %}
  <a name="resources"></a>
  <div class="event-resources">
    {{current_event.resources|markdown}}
  </div>
{% endif %}

<a name="info"></a>
{% if current_event.description or current_event.community_embed %}
<div class="jumbotron event-info">
  <div class="content">
    {{current_event.description|markdown}}
  </div>

  {% if current_event.community_embed %}
  <div class="panel panel-default community-embed">
    <a name="community"></a>
    <div class="panel-body"><i class="fa fa-comment"></i>
      {{current_event.community_embed|safe}}
    </div>
  </div>
  {% endif %}
</div><!-- /.jumbotron -->
{% endif %}

{% endcache %}

<center><div role="group" aria-label="Hackathon navigation">
  {% if current_event.countdown %}
    <a href="{{ url_for('public.home') }}" class="btn btn-sm btn-primary">{{ current_event.countdown|until_date }}</a>
  {% endif %}
  {% if current_event.webpage_url %}
    <a href="{{ current_event.webpage_url }}" class="btn btn-sm btn-default">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      Information &raquo;</a>
  {% endif %}
  <a href="{{ url_for('public.event_participants', event_id=current_event.id) }}" class="btn btn-default btn-sm">
    <i class="fa fa-user" aria-hidden="true"></i>
    Participants</a>
  {% if current_user and current_user.is_authenticated and current_user.is_admin %}
    <a href="{{ url_for('public.event', event_id=current_event.id, _external=True) }}?embed=1" class="btn btn-default btn-sm" id="embed-link">
      <i class="fa fa-external-link" aria-hidden="true"></i>
      Embed</a>
    <a href="{{ url_for('admin.event', event_id=current_event.id) }}" class="btn btn-warning btn-sm">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Edit event</a>
  {% endif %}
</div></center>
{% endblock %}
