{% extends "layout.html" %}
{% import "macros/_project.html" as proj %}

{% block page_title %}Projects by category{% endblock %}

{% block body_class %}eventcategories-page{% endblock %}

{% block content %}

{% if not current_event.lock_resources %}

    <center class="m-2 no-print float-right">
      <a class="btn btn-dark btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}"
        title="Back to project overview">
        <i class="fa fa-hexagon" aria-hidden="true">⬢</i>
      </a>

      <a href="{{ url_for('public.event_challenges', event_id=current_event.id) }}" class="btn btn-lg btn-secondary"
        title="Challenges">
        <i class="fa fa-trophy" aria-hidden="true"></i>
      </a>

      <a href="{{ url_for('public.event_print', event_id=current_event.id) }}" class="btn btn-lg btn-secondary"
        title="Full report">
        <i class="fa fa-print" aria-hidden="true"></i>
      </a>

      <a href="{{ url_for('public.event_stages', event_id=current_event.id) }}" class="btn btn-lg btn-secondary"
        title="Stages">
        <i class="fa fa-signal" aria-hidden="true"></i>
      </a>
    </center>

{% endif %}

<h1 class="huge">Categories</h1>
<br clear="all"/>

<div class="event-categories">
  <a name="steps"></a>
  <div class="list-stages">
  {% for category in steps %}
    <div category-id="{{category.id}}" class="row step category-container"
         style="border-top:5px solid {{category.logo_color}}">

      <h3 class="title">{{ category.name }}</h3>
      <p class="subtitle">
        {{ category.description|onebox|markdown|safe }}
      </p>
      <br clear="all" />

      {% if category.projects_here(current_event.id) %}
      <div class="profile-projects mt-2">
          <div class="row ibws-fix">
            {% for project in category.projects_here(current_event.id) %}
                {{ proj.render_project_card(project) }}
            {% endfor %}
          </div>
      </div>
      {% endif %}

    </div>
  {% endfor %}

  {% if projects %}
    <div class="row step category-container"
         style="border-top:5px dotted #eee">

      <h3 class="title">*</h3>
      <br clear="all" />

      <div class="profile-projects mt-2 p-0">
          <div class="row ibws-fix ms-2">
          {% for project in projects %}
              {{ proj.render_project_card(project) }}
          {% endfor %}
          </div>
      </div><!-- /profile-projects -->
    </div>
  {% endif %}
  </div>
</div>

<center class="mt-5">
  <a class="btn btn-light btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <span>Return</span></a>
</center>

{% endblock %}
