{% extends "layout.html" %}
{% import "macros/_event.html" as misc %}

{% block page_title %}Project stages{% endblock %}

{% block body_class %}stages-page{% endblock %}

{% block content %}

  {% if not current_event.lock_resources %}
    <h1 class="huge">Stages</h1>

    <p class="category-tip mt-3">
      <span class="user-score">&#x1F4A1;</span>
      Project requirements as they progress through stages of development.
    </p>
  {% endif %}

  <a name="steps"></a>
  <div class="list-stages">
  {% for step in steps %}
    {% if step.projects or not current_event.lock_resources %}
    <div class="row step">
      {% if step.index > 0 %}
        <a id="{{ step.id }}" name="{{ step.phase }}"></a>
        <div class="number">{{ step.index }}</div>
      {% else %}
        <a name="any"></a>
        <div class="number">*</div>
      {% endif %}

      {% if step.index > 0 %}
        <h3 class="title">{{ step.phase }}</h3>
      {% endif %}

      {% if step.index > 0 and not current_event.lock_resources and step.description %}
        <p class="subtitle">{{ step.description }}</p>
      {% endif %}

      {% if not current_event.lock_resources and step.conditions %}
      <ul class="agree-list" style="width:100%;">
        {% for what in step.conditions.agree %}
          <li>{{ what }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if step.projects %}
      <div class="honeycomb mb-5 pb-5">
          <div class="ibws-fix">
          {% for project in step.projects %}
              {{ misc.render_project_hexagon(project) }}
          {% endfor %}
          </div>
      </div><!-- /honeycomb -->
      {% endif %}

    </div>
    {% endif %}
  {% endfor %}
  </div>

  <center class="mt-5">
    <a class="btn btn-light btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <span>Return</span></a>

    <a href="{{ url_for('public.event_categories', event_id=current_event.id) }}" class="btn btn-lg btn-secondary"
       title="By Category">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <span>By Category</span>
    </a>

    <a href="{{ url_for('public.event_print', event_id=current_event.id) }}" class="btn btn-lg btn-secondary"
       title="Event report for downloading and printing">
      <i class="fa fa-print" aria-hidden="true"></i>
      <span>Full Report</span>
    </a>
  </center>

{% endblock %}
