{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h2>{{event.name}} projects</h2>
    <div class="nav-projects">
      {% if current_user and current_user.is_authenticated() %}
        <a href="{{ url_for('admin.project_new') }}" class="btn btn-success">Start a project</a>
      {% else %}
        Please <a href="{{ url_for('public.register') }}">create an account</a>
        and log in to start a project.
      {% endif %}
      <a href="{{ event.webpage_url }}" class="btn btn-primary btn-large">More info &raquo;</a>
    </div>
    <div class="hexaboard">
        {% for project in projects %}
        <div class="project">
            <h3>{{ project.name }}</h3>
            <p>{{ project.summary }}
            <span>{{ project.updated_at|format_date }}</span>
            <a class="btn btn-default" href="{{ url_for('admin.project', project_id=project.id) }}">Edit</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
