{% extends "layout.html" %}

{% block page_title %}Instructions{% endblock %}

{% block body_class %}eventinstruction-page{% endblock %}

{% block content %}

{% if not current_event.lock_resources %}

    <center class="m-2 no-print float-right">
      <a class="btn btn-dark btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}"
        title="Back to project overview">
        <i class="fa fa-hexagon" aria-hidden="true">⬢</i>
      </a>

      <a href="{{ url_for('public.event_challenges', event_id=current_event.id) }}" class="btn btn-lg btn-secondary"
        title="Challenges">
        <i class="fa fa-trophy" aria-hidden="true"></i>
      </a>

      <a href="{{ url_for('public.event_print', event_id=current_event.id) }}" class="btn btn-lg btn-secondary"
        title="Full report">
        <i class="fa fa-print" aria-hidden="true"></i>
      </a>

      <a href="{{ url_for('public.event_stages', event_id=current_event.id) }}" class="btn btn-lg btn-secondary"
        title="Stages">
        <i class="fa fa-signal" aria-hidden="true"></i>
      </a>
    </center>

{% endif %}

<h1 class="huge">Instructions</h1>
<br clear="all"/>

<div class="event-instructions jumbotron bg-light text-dark">
  <div class="container pe-4">
     {{current_event.instruction|markdown}}
  </div>
</div>

<center class="mt-5">
  <a class="btn btn-light btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <span>Return</span></a>
</center>

{% endblock %}
