{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}Start an event{% endblock %}
{% block body_class %}eventform eventstart{% endblock %}

{% block content %}
<div class="container">
  <h1>&#128203; Get started</h1>
  <div class="jumbotron alert alert-info">
    <!-- <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a> -->
    <div class="container scroll-after-500">
      {{ tips|markdown }}
    </div>
  </div>
  <center class="mt-2">
    <a href="{{ url_for('public.event_new') }}" class="btn btn-lg btn-success">Continue &#9654;</a>
  </center>
</div>
{% endblock %}
