{% extends "layout.html" %}

{% block page_title %}Events List{% endblock %}

{% block content %}
<h1>Event series</h1>

<div class="body-content">
  <div class="row">
    {% for event in events %}
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> {{event.name}}</h2>
      <div style="font-size:90%; padding-bottom:2em"><i>
        <b>{{ event.date }}</b>
        <span>{{ event.location }}</span>
      </i></div>
      <div class="panel panel-default">
        <div class="panel-body">
          {{event.description|markdown}}
        </div>
      </div>
      <p><a class="btn btn-primary" href="{{ url_for('public.event', event_id=event.id) }}">Browse projects</a></p>
    </div>
    {% endfor %}
  </div><!-- /.row -->
</div>
{% endblock %}
