{% extends "layout.html" %}
{% import "macros/_event.html" as misc %}

{% block page_title %}Challenges{% endblock %}

{% block body_class %}eventchallenges-page{% endblock %}

{% block content %}
<h1 class="huge">Challenges</h1>

<div class="event-challenges">
  {% if projects %}
    <div class="profile-projects mt-2" style="border:none">
        <div class="row ibws-fix">
        {% for project in projects %}
            {{ misc.render_project_card(project) }}
        {% endfor %}
        </div>
    </div><!-- /profile-projects -->
  {% else %}
    <i>None have been posted yet.</i>
  {% endif %}
</div>

<center class="mt-5">
  <a class="btn btn-light btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    {{ current_event.name }}</a>
  <a href="{{ url_for('public.event_stages', event_id=current_event.id) }}" class="btn btn-lg btn-secondary"
     title="By Category">
    <i class="fa fa-signal" aria-hidden="true"></i>
    <span>Stages</span>
  </a>
</center>
{% endblock %}
