{% extends "layout.html" %}
{% import "macros/_misc.html" as misc %}

{% block page_title %}{{current_event.name}} / Print{% endblock %}

{% block content %}
<div class="container">
    <p>List of all projects and challenges as of <b>{{ curdate }}</b></p>

    {% for project in projects %}
    <hr>
    <div class="project-info">

      <ul style="float:right; min-width:50%; list-style-type:none; border-left:1px solid #999; padding-left:15px">
        <li>Permalink: <a href="{{ url_for('project.project_view', project_id=project.id) }}">{{ url_for('project.project_view', project_id=project.id, _external=True) }}</a></li>
        {% if project.webpage_url %}
        <li>Homepage: <a href="{{ project.webpage_url }}">{{ project.webpage_url }}</a></li>
        {% endif %}
        {% if project.source_url %}
        <li>Source: <a href="{{ project.source_url }}">{{ project.source_url }}</a></li>
        {% endif %}
        {% if project.download_url %}
        <li>Download: <a href="{{ project.download_url }}">{{ project.download_url }}</a></li>
        {% endif %}
        {% if project.contact_url %}
        <li>Contact: <a href="{{ project.contact_url }}">{{ project.contact_url }}</a></li>
        {% endif %}
        <li>Updated: <span>{{ project.updated_at|format_date }}</span> ({{project.score}}%)</li>
        <li>Created: <span>{{ project.created_at|format_date }}</span> by <a href="{{project.user.webpage_url}}" target="_blank">{{ project.user.username }}</a></li>
        {% if project.category_id %}
        <li>Category: <b>{{ project.category.name }}</b></li>
        {% endif %}
        <li>Team:
          <ul class="project-team" title="team">
          {% for user in project.team() %}
            <li><a href="{{user.webpage_url}}" target="_blank">{{ user.username }}</a></li>
          {% endfor %}
          </ul>
        </li>
      </ul>

      {% if project.image_url %}
        <img class="project-image" width="128" src="{{project.image_url}}">
      {% endif %}

      <h2 style="font-weight:bold">
        {% if project.logo_icon %}
          <i class="fa fa-{{project.logo_icon}}"></i>
        {% endif %}

        {{project.name}}
      </h2>

      {% if project.summary %}
      <p class="project-summary">
        {{project.summary}}
      </p>
      {% else %}
      <div class="project-longtext">
        {{project.longtext|truncate(250)|markdown}}
      </div>
      {% endif %}
    </div>

    <br clear="all">
    {% endfor %}
</div>
{% endblock %}
