{% extends "layout.html" %}

{% block page_title %}I forgot{% endblock %}
{% block body_class %}userform forgot{% endblock %}

{% block content %}
<div class="container-narrow">
  <h1>I forgot ...</h1>
  <br/>
  {% if oauth_type %}
     <p>This site has &#x1f511;
      <b><a href="{{ url_for('auth.login') }}">Single Sign On</a></b>
      enabled through {{ oauth_type }}
      - please try to reset your password with the corresponding provider.</p>
  {% endif %}
  {% if not config.DRIBDAT_NOT_REGISTER %}
    <br>
    <p>This application does not have a reset password function. How very hacky.
      Please contact the organizers, and ask them to change your password in the Admin.
    </p>
  {% endif %}
</div>
{% endblock %}
