{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}User access{% endblock %}
{% block body_class %}userform forgot{% endblock %}

{% block content %}
<div class="container-narrow">
  <h1>Restore access</h1>
  {% if oauth_type %}
     <p>This site has &#x1f511;
      <b><a href="{{ url_for('auth.login') }}">Single Sign On</a></b> enabled.
      Please first try to reset your password using <b>{{ oauth_type }}</b>.</p>
  {% endif %}
  {% if config.DRIBDAT_NOT_REGISTER %}
    <p>Registration is currently disabled in this application. How very hacky.
      Please contact the organizers, and ask them to change your password in the Admin.
    </p>
  {% elif config.MAIL_SERVER %}
    <p>Enter an e-mail address you registered with here to receive a login link.</p>
    <div class="form-passwordless">
      {{ render_form(url_for('auth.passwordless'), form) }}
    </div>
  {% else %}
    <h5>
      Please contact the organizers, and ask them to change your password.
    </h5>
    <p>
      Admins:
      <a href="https://dribdat.cc/deploy#mail">see the docs</a> and
      <a href="https://dribdat.cc/trouble.html#restore-admin-access">help area</a>
      on enabling Mail services to let users reset their own passwords,
      or setting up a Single Sign-On provider.
    </p>
  {% endif %}
</div>
{% endblock %}
