{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}User access{% endblock %}
{% block body_class %}userform forgot{% endblock %}

{% block content %}
<div class="container-narrow">
  <h1>Log in</h1>
  
  {% if oauth_type %}
    <p>This site has Single Sign On, so you can try to &#x1f511;
      <b><a href="{{ url_for('auth.login') }}">Login with {{ oauth_type }}</a></b>
    </p>
  {% endif %}
  
  {% if config.MAIL_SERVER %}
    <p>Enter an e-mail address you registered with to receive a login link.</p>
    <div class="form-passwordless">
      {{ render_form(url_for('auth.passwordless'), form) }}
    </div>
  
  {% elif config.DRIBDAT_NOT_REGISTER %}
    <h5>Registration is currently unavailable</h5>
    <p>
      How very hacky. Please contact the organizers, and ask them to change your password in the Admin.
    </p>
  
  {% else %}
    <h5>
      Please contact the organizers
    </h5>
    <p>
      You will need to ask their help to restore access.
    </p><p><i>
      If you are an admin,
      <a href="https://dribdat.cc/deploy#mail">see the docs</a> and
      <a href="https://dribdat.cc/trouble.html#restore-admin-access">f.a.q.</a>
      on enabling Mail services or setting up a Single Sign-On provider.
    </i></p>
  {% endif %}
</div>
{% endblock %}
