{% extends "layout.html" %}

{% block content %}
<div class="jumbotron home-page">
  {% if current_event %}
  <h2>
    <a href="{{ url_for('public.event', event_id=current_event.id) }}">{{current_event.name}}</a>
  </h2>
  <p>{{current_event.description}}</p>
  <center>
    <p>
      <a href="{{ current_event.webpage_url }}" class="btn btn-primary">Join the hackathon &raquo;</a>
      <a href="{{ url_for('public.event', event_id=current_event.id) }}" class="btn btn-default">See the projects</a>
      {% if current_user and current_user.is_authenticated() %}
        <a href="{{ url_for('public.project_new') }}" class="btn btn-success btn-lg">Start a project</a>
      {% endif %}
    </p>
  </center>
  <div class="event-countdown" data-start="{{ current_event.starts_at }}"></div>
  <div class="panel panel-default community-embed">
    <div class="panel-body"><i class="fa fa-comment"></i>
      {{current_event.community_embed|safe}}
    </div>
  </div>
  {% endif %}
</div><!-- /.jumbotron -->
{% endblock %}
