{% extends "layout.html" %}
{% import "macros/_event.html" as evnt %}
{% import "macros/_project.html" as proj %}

{% block page_title %}{{featured_event.name}}{% endblock %}

{% block page_meta %}
{% if featured_event %}
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ url_for('public.event', event_id=featured_event.id, _external=True) }}"/>
  <meta property="og:title" content="{{featured_event.name}}"/>
  <meta property="og:image" content="{{featured_event.logo_url}}"/>
  <meta property="og:description" content="{{featured_event.summary or featured_event.description|truncate(140)}}"/>
  <meta name="description" content="{{featured_event.summary or featured_event.description|truncate(140)}}"/>
  <script type="application/ld+json">{{featured_event.get_schema(request.host_url)|safe}}</script>
  <meta name="dribdat:event:id" content="{{featured_event.id}}"/>
{% endif %}
{% endblock %}

{% block body_class %}home{% endblock %}
{% block content_class %}{% endblock %}

{% block content %}

{% if my_projects %}
  {% cache 300, 'home-user-%d' % current_user.id %}
    <center title="My teams" class="home-teams">
      <div class="ps-4 ps-md-0 mb-5 pb-4 resource-list profile-projects">
        <div class="honeycomb w-100">
        {% for project in my_projects %}
          {{ proj.render_project_hexagon(project) }}
        {% endfor %}
        </div>
      </div><br clear="all"/>
    </center>
  {% endcache %}
{% endif %}

{% cache 300, 'home-page' %}
{% if featured_event %}
  <main class="home-page">
    {% if featured_event.countdown and 'up' in config.DRIBDAT_CLOCK %}
      <a class="container-countdown"
		    href="{{ url_for('public.event', event_id=featured_event.id) }}"
        title="{{ featured_event.countdown }}">
        <div id="clockTop" class="event-countdown flipdown" data-start="{{ featured_event.countdown }}"></div>
      </a>
    {% endif %}

    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
  		<div class="carousel-inner">
       {% for event in events_featured %}
         {{ evnt.render_featured_event(event, event == featured_event) }}
       {% endfor %}
      </div>
      {% if events_featured|length > 1 %}
        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      {% endif %}
    </div>
  </main>
{% endif %}

<div class="container">
    <div class="body-content container">

  {% if featured_event and featured_event.countdown and 'down' in config.DRIBDAT_CLOCK %}
    <a class="container-countdown"
		   href="{{ url_for('public.event', event_id=featured_event.id) }}"
       title="{{ featured_event.countdown }}">
      <div id="clockDown" class="event-countdown flipdown"
           data-start="{{ featured_event.countdown }}"></div>
    </a>
  {% endif %}

  {% if events_tips or events_next %}
    <a name="tips"></a>
    <div class="row events-tips mt-5">
      {% for event in events_tips %}
        {{ evnt.render_home_event(event, False) }}
      {% endfor %}
      {% for event in events_next %}
        {{ evnt.render_home_event(event) }}
      {% endfor %}
    </div><!-- /.row events-tips -->
  {% endif %}

  {% if events_past %}
    <a name="past"></a>
    <h2 class="m-5 display-2 text-body-secondary" title="Past Results">
      <i class="fa fa-step-backward" aria-hidden="true"></i>
    </h2>
    <div class="row events-past">
      {% for event in events_past %}
        {{ evnt.render_home_event(event) }}
      {% endfor %}
    </div><!-- /.row events-past -->
    {% if events_past_next %}
      <center style="width: 100%">
        <!-- More events button -->
        <a href="{{ url_for('public.events_past') }}"
          class="btn btn-dark btn-lg">Browse all past events</a>
      </center>
    {% endif %}
  {% endif %}

    </div>
</div>

<div class="row start-event">
  <div class="col-lg-12 text-center">
    {% if not featured_event and not events_next and not events_past and not events_tips %}
      <p class="m-5">Thank you for using Dribdat &#x1F3C0;
        Read <a href="https://dribdat.cc/organiser" target="_blank">the docs</a> or
        <a href="mailto:dribdat@datalets.ch">contact us</a> if you need help.
      </p>
      <a href="{{ url_for('public.event_start') }}" class="btn btn-lg btn-info">
        &lt; Click here to get started &gt;
      </a>
      <h4 class="m-5">
          We hope you have an
          <a href="https://github.com/dribdat/awesome-hackathon?tab=readme-ov-file#awesome-hackathon" target="_blank">
              awesome hackathon</a>!
      </h4>
    {% elif config.DRIBDAT_ALLOW_EVENTS and current_user and current_user.active %}
      <a href="{{ url_for('public.event_start') }}" class="btn btn-lg btn-info ms-4">
        <i class="fa fa-calendar me-3" aria-hidden="true"></i>
        Share an event
      </a>
    {% endif %}
  </div>
</div>
{% endcache %}
{% endblock %}
