{% extends "layout.html" %}

{% block page_title %}{{current_event.name}}{% endblock %}

{% block page_meta %}
{% if current_event %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url_for('public.event', event_id=current_event.id, _external=True) }}">
  <meta property="og:title" content="{{current_event.name}}">
  <meta property="og:image" content="{{current_event.logo_url}}">
  <meta property="og:description" content="{{current_event.description|truncate(140)}}">
  <meta name="description" content="{{current_event.description|truncate(140)}}">
  <script type="application/ld+json">{{ current_event.get_schema(request.host_url)|safe }}</script>
{% endif %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ url_for('static', filename='libs/FlipClock/flipclock.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="jumbotron home-page">
  {% if current_event %}
    <p>{{current_event.description|markdown}}</p>
    <center>
      <div class="btn-group" role="group" aria-label="Hackathon navigation">
        <a href="{{ current_event.webpage_url }}" class="btn btn-lg btn-primary">
          <i class="fa fa-ticket" aria-hidden="true"></i>
          Register now!</a>
        <a href="{{ url_for('public.event', event_id=current_event.id) }}" class="btn btn-lg btn-warning"><b>
          <i class="fa fa-bars" aria-hidden="true"></i>
          {% if current_event.has_finished %}
          View the Results
          {% elif current_event.has_started %}
          Find your Team
          {% else %}
          See the Challenges
          {% endif %}
        </b></a>
        {% if current_event.has_started and current_event.can_start_project %}
          <a href="{{ url_for('public.project_new', event_id=current_event.id) }}" class="btn btn-lg btn-success">
            <i class="fa fa-rocket"></i>
            Start a Project</a>
        {% endif %}
      </div>
    </center>
    {% if current_event.countdown %}
    <div class="event-countdown" data-start="{{ current_event.countdown }}"></div>
    {% endif %}
  {% endif %}
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    {% cache 300, 'pastevents' %}
    {% if events or current_event %}
      {% for event in events %}
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2><i class="fa fa-code"></i><br>
              <a href="{{ url_for('public.event', event_id=event.id) }}">
                {{event.name}}</a>
              </h2>
            <div style="font-size:90%"><i>
              <b>{{ event.date }}</b>
              <span>{{ event.location }}</span>
            </i></div>
            <hr>
            {{event.description|markdown}}
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <div class="col-lg-12 text-center">
        <h3>Looks like you are new to this - welcome!</h3>
        <a href="/admin/event/new" class="btn btn-success">Start a Hackathon</a>
      </div>
    {% endif %}
    {% endcache %}
  </div><!-- /.row -->
</div>
{% endblock %}
