{% extends "layout.html" %}

{% block page_title %}Instructions{% endblock %}

{% block body_class %}instructions-page{% endblock %}

{% block content %}


  {% if current_event and current_event.instruction %}
  <h1 class="huge">Instructions</h1>

  <div class="jumbotron event-instruction mt-3">
    <div class="content">
      {{current_event.instruction|markdown}}
    </div>
  </div>
  {% endif %}

  <h1>Stages</h1>

  <div class="list-stages">
  <a name="steps"></a>
  {% for step in steps %}
    {% if step.projects %}
    <div class="row step">
      {% if step.index > 0 %}
        <div class="number">{{ step.index }}</div>
      {% else %}
        <div class="number">*</div>
      {% endif %}

      {% if step.index > 0 %}
        <h3 class="title">{{ step.phase }}</h3>
      {% endif %}

      <div class="profile-projects container-fluid">
        <div class="row flex-row flex-nowrap">
        {% for project in step.projects %}
            <a class="col-5 card project"
               href="{{ url_for('project.project_view', project_id=project.id) }}">

              {% if project.image_url %}
                <img class="project-image" src="{{project.image_url}}">
              {% endif %}

              {% if project.score and not project.is_challenge %}
              <div class="project-score">
                <div class="progress" title="A score based on profile completeness and voting results">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70" style="width:{{project.score}}%">
                    {{project.score}}
                  </div>
                </div>
              </div>
              {% endif %}

              <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.summary }}</p>
              </div>

            </a>
        {% endfor %}
        </div>
      </div><!-- /profile-projects -->
    </div>
    {% endif %}
  {% endfor %}
  </div>

  <p class="mt-5">
    See also: <a href="{{ url_for('public.event_stages', event_id=current_event.id) }}">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      About project stages</a>
  </p>

{% if current_event.lock_resources %}
  <center class="mt-5">
    <a class="btn btn-dark btn-lg" href="{{ url_for('public.home') }}">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Back to the future</a>
  </center>
{% else %}
  <center class="mt-5">
    <a class="btn btn-dark btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Back to the future</a>
  </center>
{% endif %}

{% endblock %}
