{% extends "layout.html" %}

{% block page_title %}Log in{% endblock %}
{% block body_class %}userform login{% endblock %}

{% block content %}
<div class="container-narrow">
  <h1>Log in</h1>
  <br/>
  {% if oauth_type == 'slack' %}
    <p class="sso-login">
      <a class="btn signin-slack" href="{{ url_for('slack.login') }}">
        Sign in with Slack
      </a>
    </p>
  {% elif oauth_type == 'azure' %}
    <p class="sso-login">
      <a class="btn signin-azure" href="{{ url_for('azure.login') }}">
        Sign in with Microsoft Teams
      </a>
    </p>
  {% elif oauth_type == 'github' %}
    <p class="sso-login">
      <a class="btn signin-github" href="{{ url_for('github.login') }}">
        Sign in with GitHub
      </a>
    </p>
  {% endif %}
  <form id="loginForm" method="POST" action="/login/" role="login" class="navbar-form form-inline">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username(placeholder="Username", class_="form-control") }}
      {{ form.password(placeholder="Password", class_="form-control") }}
      <button type="submit" class="btn btn-default btn-primary btn-submit">Enter</button>
    </div>
  </form>
  {% if not config.DRIBDAT_NOT_REGISTER %}
    <br>
    <p>Forgot your password?
      <a href="{{ url_for('auth.forgot') }}">Help me to get back in</a>.
    </p>
  {% endif %}
  {% if not config.DRIBDAT_NOT_REGISTER %}
    <p class="account-register">
      <a class="btn btn-warning btn-submit" href="{{ url_for('auth.register') }}">Create an account</a>
    </p>
  {% endif %}
</div>
{% endblock %}
