{% extends "layout.html" %}

{% block page_title %}Log in{% endblock %}
{% block body_class %}userform login{% endblock %}

{% block content %}
<div class="container-narrow">
  <h1>Log in</h1>
  <br/>

  {% if config.DRIBDAT_HELP_REGISTER %}
    <p>
      {{ config.DRIBDAT_HELP_REGISTER|markdown }}
    </p>
  {% elif oauth_type %}
    <p>
      Use this button to continue with your {{ oauth_type|capitalize }} account:
    </p>
  {% endif %}

  {% if oauth_type == 'slack' %}
    <p class="sso-login">
      <a class="btn signin-slack" href="{{ url_for('slack.login', next=request.args.get('next')) }}" title="Click to sign in - Slack">
        <span>&#x1f512; Sign in with Slack</span>
      </a>
    </p>
  {% elif oauth_type == 'azure' %}
    <p class="sso-login">
      <a class="btn signin-azure" href="{{ url_for('azure.login', next=request.args.get('next')) }}" title="Click to sign in - Teams">
        <span>&#x1f512; Sign in with Teams</span>
      </a>
    </p>
  {% elif oauth_type == 'github' %}
    <p class="sso-login">
      <a class="btn signin-github" href="{{ url_for('github.login', next=request.args.get('next')) }}" title="Click to sign in - GitHub">
        <span>&#x1f512; Sign in with GitHub</span>
      </a>
    </p>
  {% elif oauth_type == 'gitlab' %}
    <p class="sso-login">
      <a class="btn btn-lg btn-default signin-gitlab" href="{{ url_for('gitlab.login', next=request.args.get('next')) }}" title="Click to sign in - GitLab">
        <span>&#x1f512; Sign in with GitLab</span>
      </a>
    </p>
  {% elif oauth_type == 'oauth2' %}
    <p class="sso-login">
      <a class="btn signin-oauth2" href="{{ url_for('oauth2.login', next=request.args.get('next')) }}" title="Click to sign in - OAuth 2.0">
        <span>&#x1f512; Sign in with OAuth</span>
      </a>
    </p>
  {% elif oauth_type == 'mattermost' %}
    <p class="sso-login">
      <a class="btn signin-mattermost" href="{{ url_for('mattermost.login', next=request.args.get('next')) }}" title="Click to sign in - Mattermost">
        <span>&#x1f512; Sign in with Mattermost</span>
      </a>
    </p>
  {% elif oauth_type == 'hitobito' %}
    <p class="sso-login">
      <a class="btn signin-hitobito" href="{{ url_for('hitobito.login', next=request.args.get('next')) }}" title="Click to sign in - Hitobito">
        <span>&#x1f512; Sign in with Hitobito</span>
      </a>
    </p>
  {% endif %}

  {% if config.DRIBDAT_ALLOW_LOGINS %}
    {% if oauth_type %}
        <p>Or log in with your username or e-mail:</p>
    {% endif %}

    <form id="loginForm" method="POST" action="{{ url_for('auth.login', next=request.args.get('next')) }}" role="login" class="navbar-form form-inline">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username(placeholder="user", class_="form-control") }}
        {{ form.password(placeholder="pwd", class_="form-control") }}
        <button type="submit" class="btn btn-default btn-primary btn-submit">Verify me</button>
      </div>
    </form>
    <br>
    <p>
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      <a href="{{ url_for('auth.forgot') }}">Recover my login</a>
    </p>
  {% endif %}
  {% if not config.DRIBDAT_NOT_REGISTER %}
    <p class="account-register">
      <a class="btn btn-warning btn-submit" href="{{ url_for('auth.register', next=request.args.get('next')) }}">Create an account</a>
    </p>
  {% endif %}
  {% if config.OAUTH_LINK_REGISTER %}
    <p class="account-register">
      <a class="btn btn-info btn-submit" href="{{ config.OAUTH_LINK_REGISTER }}">Register for an account</a>
    </p>
  {% endif %}
</div>
{% endblock %}
