{% extends "layout.html" %}

{% block page_title %}Log in{% endblock %}

{% block content %}
<div class="container-narrow">
  <h1>Log in</h1>
  <br/>
  <form id="loginForm" method="POST" class="navbar-form form-inline navbar-right" action="/login/" role="login">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username(placeholder="Username", class_="form-control") }}
      {{ form.password(placeholder="Password", class_="form-control") }}
    </div>
    <button type="submit" class="btn btn-default">Confirm</button>
  </form>
  <br>
  <p>Not yet registered?
    <a href="{{ url_for('auth.register') }}">Create an account</a>.
  </p>
  <p>Lost password? Delete my account?
    <script>document.write(
      '<a href="mailto:' + 'info' + '@' + 'datalets' + '.ch?'
        + 'subject=Help with ' + location.host + '">'
      )</script>
      Contact an admin</a>.
  </p>
</div>
{% endblock %}
