{% extends "layout.html" %}

{% block page_title %}Log in{% endblock %}

{% block content %}
<div class="container-narrow">
  <h1>Log in</h1>
  <br/>
  {% if slack_enabled %}
    <p><a class="btn signin-slack" href="{{ url_for('slack.login') }}">
      Sign in with Slack
    </a></p>
  {% endif %}
  <form id="loginForm" method="POST" class="navbar-form form-inline navbar-right" action="/login/" role="login">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username(placeholder="Username", class_="form-control") }}
      {{ form.password(placeholder="Password", class_="form-control") }}
      <button type="submit" class="btn btn-default btn-primary">Login</button>
    </div>
  </form>
  {% if not config.DRIBDAT_NOT_REGISTER %}
    <br>
    <p>Not yet registered?
      <a href="{{ url_for('auth.register') }}">Create an account</a>.
    </p>
  {% endif %}
</div>
{% endblock %}
