{% extends "layout.html" %}

{% block content %}
<div class="jumbotron project-page">
  <center>
    <img src="{{project.image_url}}">
    <h2 style="font-weight:bold">
      {{project.name}}
    </h2>
    <p>
      {{project.summary}}
    </p>
  </center>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>{{project.longtext}}</p>
    </div>
  </div>
  <p>
    <a href="{{ project.webpage_url }}" class="btn btn-primary">Project homepage &raquo;</a>
    <a href="{{ project.source_url }}" class="btn btn-success">Source code</a>
  </p>
  <p class="details">
    Last update:
    <span>{{ project.updated_at|format_date }}</span>
    {% if current_user and current_user.is_authenticated() %}
      <a href="{{ url_for('public.project_edit', project_id=project.id) }}" class="btn btn-success btn-sm">edit</a>
    {% endif %}
  </p>
  <p class="started-at">
    Started at the
    <b>{{ current_event.name }}</b>
    <a href="{{ url_for('public.event', event_id=current_event.id) }}" class="btn btn-default">Browse all projects</a>
  </p>
</div><!-- /.jumbotron -->
{% endblock %}
