{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}New project{% endblock %}

{% block content %}
<div class="container">
    <h2>Start something awesome!</h2>

    {% if boilerplate %}
    {% else %}
      {% include "quickstart.html" %}
    {% endif %}

    {% if form %}
      {{ render_form(url_for('public.project_new'), form) }}
    {% else %}
      <div class="alert alert-info">
        Please <a href="{{ url_for('auth.login') }}">log in</a>
        to publish a project here.
      </div>
    {% endif %}
</div>
{% endblock %}
