{% from "macros/_form.html" import render_form %}
{% import "macros/_event.html" as evnt %}

{% extends "layout.html" %}

{% block page_title %}🖄 {{project.name}}{% endblock %}
{% block body_class %}projectpost{% endblock %}

{% block content %}

  {% if (suggestions or stage) and project.progress and project.progress < 50 %}
    <div class="alert float-right pe-5 resource-list project-tips profile-projects alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

      <div class="resource-list-suggestions container-fluid p-1">
        <h5 class="category-tip m-0 mb-2 clearfix"
            title="This tip is only visible to you and your team">
          {{stage.tip}}
        </h5>
        <div class="row flex-row flex-nowrap">
          {% for project in suggestions %}
            <a class="col-md-5 ms-auto card project"
              {%- if project.image_url %}
                style="background-image:url('{{project.image_url}}'); padding-left:100px"
              {%- endif %}
               href="{{ url_for('project.project_view', project_id=project.id) }}">
              <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.summary }}</p>
              </div>
            </a>
          {% endfor %}
        </div>
        {% if not all_valid %}
          <p class="stage-conditions clearfix">
            {% for item in stage.conditions.validate %}
              {% if item.valid %}
                <span class="mr-2 float-left stage-ok">
                  <i class="fa fa-thumbs-up"></i>&nbsp;
                  {{ item.help }}
                </span>
              {% else %}
                <span class="mr-2 float-left stage-no">
                  <i class="fa fa-paw"></i>&nbsp;
                  {{ item.help }}
                </span>
              {% endif %}
            {% endfor %}
          </p>
        {% endif %}
      </div><!-- /resource-list-suggestions -->

      {% if all_valid %}
        <div class="form-project-confirm clearfix pl-2 ms-1" role="alert">
          {% for item in stage.conditions.agree %}
            <span>
              <i class="fa fa-check-square-o"></i>&nbsp;
              {{ item }}
            </span><br>
          {% endfor %}
        </div>
      {% endif %}
    </div><!-- /alert -->
  {% endif %}

  {% if stage %}
    {% if all_valid and stage['name'] == 'LIVE' %}
      <div class="alert alert-success mt-1" role="alert">
        <i class="fa fa-thumbs-up"></i>
        Your project is ready for action!
      </div>
    {% else %}
      {% if not all_valid %}
      <div class="form-project-stage">
        <p class="text-center mt-3 mb-0 hidden"><small>
          &#x1F3AF;
          To Post on another project, <b>Join</b> it or visit
          <a href="{{ url_for('public.user_profile', username=current_user.username) }}">your profile</a>
          to switch.
          For more info see
          <a href="{{ url_for('public.event_stages', event_id=current_event.id) }}" target="_blank">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            Stages</a>
        </small></p>
      </div>
      {% endif %}
    {% endif %}
  {% endif %}

  <h2 class="project-name">
    <i class="fa fa-comment text-sm"></i>
    <a href="{{ url_for('project.project_view', project_id=project.id) }}"
       title="Back to project">
      {{project.name}}
    </a>
  </h4>

  {% if config.S3_KEY %}
    <button type="button" class="btn btn-light post-image-btn" style="display:none"
            title="Attach image" data-bs-toggle="modal" data-bs-target="#uploadImage">
      <i class="fa fa-image text-info" area-hidden="true"></i>
      Attach
    </button>
  {% endif %}

  <div class="form-project-post">
    {% if stage %}
      {{ render_form(url_for('project.project_post', project_id=project.id), form, formid='projectPost') }}
    {% else %}
      {{ render_form(url_for('project.project_comment', project_id=project.id), form, formid='projectPost') }}
    {% endif %}
  </div>

  <center class="mt-3"
    onclick="return $('#note').val().length == 0 || window.confirm('Your post will not be saved - continue?')">
    <a href="{{ url_for('project.project_view', project_id=project.id) }}"
       title="Cancel" class="btn btn-light">
      <i class="fa fa-arrow-left" aria-hidden="true"></i> Project
    </a>
    {% if stage %}
      <div class="btn-group">
        <a href="{{ url_for('project.project_edit', project_id=project.id) }}" class="btn btn-light"
          title="Edit basic project data">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          Edit</a>
        <a href="{{ url_for('project.project_details', project_id=project.id) }}" class="btn btn-light"
          title="Edit project details" style="opacity:0.9">
          <i class="fa fa-magic" aria-hidden="true"></i>
          Details</a>
      </div>
    {% endif %}
  </center>

  {% include "includes/uploader.html" %}

  {% include "includes/pleasewait.html" %}

{% endblock %}
