{% extends "layout.html" %}
{% import "macros/_misc.html" as misc %}

{% block page_title %}{{project.name}} - {{project.event.name}}{% endblock %}

{% block page_meta %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url_for('public.project', project_id=project.id, _external=True) }}">
  <meta property="og:title" content="{{project.name}}">
  <meta property="og:image" content="{% if project.image_url %}{{project.image_url}}{% else %}{{ url_for('static', filename='img/badge-black.png', _external=True) }}{% endif %}">
  <meta property="og:description" content="{% if project.summary %}{{project.summary}}{% else %}{{ project.longtext|striptags|truncate(120) }}{% endif %}">
  <meta name="twitter:site" content="@opendatach">
  <meta name="twitter:card" content="summary">
  {% if project.user.cardtype == 'twitter' %}<meta name="twitter:creator" content="@{{ project.user.carddata }}">{% endif %}
  <meta name="description" content="{{project.summary}}">
  <meta name="author" content="{{project.user.username}}">
{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/rainbow/zenburnesque.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='css/rainbow/rainbow-custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-resizable/dist/jquery-resizable.min.js') }}"></script>
{% endblock %}

{% block body_class %}project-home{% endblock %}

{% block content %}
<div class="btn-group project-edit-buttons" role="group" aria-label="Project tools">
  {% if allow_edit %}
   <a id="project-post" href="{{ url_for('public.project_post', project_id=project.id) }}" class="btn btn-lg btn-success">
     <i class="fa fa-signal" aria-hidden="true"></i>
     Post</a>
   <a href="{{ url_for('public.project_edit', project_id=project.id) }}" class="btn btn-lg btn-secondary">
     <i class="fa fa-pencil" aria-hidden="true"></i>
     Edit</a>
    {% if project.is_autoupdate %}
      <a href="{{ url_for('public.project_autoupdate', project_id=project.id) }}" class="btn btn-lg btn-warning">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        Sync</a>
    {% endif %}
  {% endif %}

  {% if current_user.is_admin and project.event.lock_editing and project_starred %}
    <a href="{{ url_for('public.project_unstar', project_id=project.id) }}"  class="project-star btn btn-lg btn-secondary">
      <i class="fa fa-star"></i>
    </a>
  {% endif %}

  {% if not project.event.lock_editing %}
    {% if project_starred %}<!-- Already starred -->
      <a href="{{ url_for('public.project_unstar', project_id=project.id) }}" class="project-star btn btn-lg btn-primary"
        title="You are a member of the project. Click if you wish to leave."
        onclick="return confirm('Are you sure you wish to leave the team?')">
        <i class="fa fa-star"></i>
      </a>
    {% elif current_user and current_user.active %}
      <a href="{{ url_for('public.project_star', project_id=project.id) }}" class="btn btn-lg btn-primary project-star"
        title="Join this project.">
       <i class="fa fa-star-o"></i>
       Join
      </a>
    {% else %}
      <a href="{{ url_for('auth.login') }}" class="btn btn-lg btn-primary project-star"
        title="Login to join this project">
       <i class="fa fa-star-o"></i>
       Join
      </a>
    {% endif %}
  {% endif %}
</div><br clear="all">

{% if project.image_url %}
  <div class="project-image"
    style="background-image:url('{{project.image_url}}'); {% if project.logo_color %}background-color:{{project.logo_color}}; opacity:1.0{% endif %}"
    data-href="{{project.image_url}}"></div>
{% endif %}

<div class="jumbotron project-page phase-{{ project.phase }}" {% if project.logo_color %} style="border-color:{{project.logo_color}}"{% endif %}>

  <div class="project-score">
    <span class="label label-info">{{ project.phase }}</span>
    <div class="progress" title="A score based on profile completeness and voting results">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70" style="width:{{project.score}}%">
        {{project.score}}
      </div>
    </div>
  </div>

  <div class="project-name">
  {% if project.logo_icon %}
      <i class="fa fa-{{project.logo_icon}}"></i>
  {% endif %}
    <h2>{{project.name}}</h2>

  {% if project.category %}
    <div class="project-category">
      {% if project.category.logo_icon %}
        <i class="fa fa-{{project.category.logo_icon}}"></i>
      {% endif %}
      <a href="#category">{{ project.category.name }}</a>
    </div>
  {% endif %}

  {% if project.summary %}
    <p class="project-summary">
      {{project.summary}}
    </p>
  {% endif %}
  </div>

  {% if not project.is_challenge and project_starred and suggestions %}
    <div class="alert alert-info resource-list col-12">
      <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
        <p>For this stage of your project, we suggest:</p>
    {% for resource in suggestions %}
        {% if resource.is_visible %}
        <a class="col-5 resource-card" href="{{ url_for('public.resource', resource_id=resource.id) }}">
            <i title="{{resource.of_type}}"
            class="fa fa-{{resource.icon}}"></i>
            <b>{{resource.name}}</b>
            <p>{{resource.summary}}</p>
        </a>
        {% endif %}
    {% endfor %}
    </div>
  {% endif %}

  {% if not project.is_challenge %}
  <ul class="nav nav-pills nav-fill md-tabs" id="projectTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="project-tab-md" data-toggle="tab" href="#project-md" role="tab" aria-controls="project-md"
        aria-selected="true">Pitch</a>
    </li>
    {% if project.autotext %}
    <li class="nav-item">
      <a class="nav-link" id="readme-tab-md" data-toggle="tab" href="#readme-md" role="tab" aria-controls="readme-md"
        aria-selected="false">Readme</a>
    </li>
    {% endif %}
    {% if not project.is_challenge %}
    <li class="nav-item">
      <a class="nav-link" id="dribs-tab-md" data-toggle="tab" href="#dribs-md" role="tab" aria-controls="dribs-md"
        aria-selected="false">Log</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}

<div class="project-info tab-content" id="projectContent">

{% if not project.is_challenge %}
  <div class="tab-pane fade show active" id="project-md" role="tabpanel" aria-labelledby="project-tab-md">

    {% if current_user and current_user.active and not project.webpage_url and not project.longtext %}
    <div class="alert alert-success" role="alert">
      <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
      <!-- Helpful comment for new projects -->
      {% if not project_starred %}
        Join this project to <b>Post</b> on the Log, <b>Edit</b> the pitch or <b>Sync</b> any external content.
      {% else %}
        <b>Edit</b> the pitch to add content, or to <b>Embed</b> your presentation or demo here.
      {% endif %}
    </div>
    {% endif %}

{% endif %}

  {% if project.is_webembed and project.webpage_url %}
    <div class="project-webembed resizable">
      {{ project.webembed|safe }}
      <div class="win-size-grip"></div>
    </div>
    <a href="{{ project.webpage_url }}" class="btn btn-small btn-default" target="_blank">&#x26F6; Full screen</a>
  {% endif %}

  {% if project.longtext %}
    <div class="project-longtext">
      {{ project.longtext|onebox|markdown|safe }}
    </div>
  {% endif %}

  {% if project.source_url and 'github.com' in project.source_url %}
    <div class="widget widget-github">
      <div data-theme="default" data-width="400" data-height="150" data-github="{{ project.source_url|replace('https://github.com/','') }}" class="github-card"></div>
      <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>
  {% endif %}

{% if not project.is_challenge %}
  {% if project_team %}
    <a name="team"></a>
    <div class="widget widget-team">
      {% for user in project_team %}
        {{ misc.render_user_profile(user) }}
      {% endfor %}
      <p class="started-at">
        <small>
          Launched this at
          <a href="{{ url_for('public.event', event_id=project.event.id) }}">
            <b>{{ project.event.name }}</b>
          </a>
        </small>
      </p>
    </div>
  {% endif %}

  </div>
  <div class="tab-pane fade" id="readme-md" role="tabpanel" aria-labelledby="readme-tab-md">
{% endif %}

    {% if project.autotext %}
      {% if not project.is_challenge %}
      <div class="alert alert-secondary">
        These contents were scraped from an external site.
        Visit the
        <a href="{{ project.autotext_url }}" target="_blank" title="Source link">original location</a>
        to see all the formatting.
      </div>
      {% endif %}

    <div class="project-autotext"><div class="cover"></div>
      {{project.autotext|markdown}}
    </div>
    {% endif %}

{% if not project.is_challenge %}
  </div>
{% endif %}
  <div class="tab-pane fade" id="dribs-md" role="tabpanel" aria-labelledby="dribs-tab-md">

    <section class="timeline">
      {% for s in project_dribs %}
      <div class="timeline-item">
        <div class="timeline-img"></div>
        <div class="timeline-content timeline-card js--fadeInBottom">
          {% if s.title %}
          <div class="timeline-img-header">
            <h2>{{s.title}}</h2>
          </div>
          {% endif %}
          {% if s.text %}
            {{s.text|markdown|safe}}
          {% endif %}

          <div class="date">
            {{s.date|format_datetime}}
            {% if s.author %} ~ <b>{{ s.author }}</b>{% endif %}
          </div>

          {% if s.resource and s.resource.is_visible %}
            <a class="resource-card" href="{{ url_for('public.resource', resource_id=s.resource.id) }}">
              <i title="{{s.resource.of_type}}"
                 class="fa fa-{{s.resource.icon}}"></i>
              <b>{{s.resource.name}}</b>
              <p>{{s.resource.summary}}</p>
            </a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </section>

    <!-- <p class="details-basic">
      <span class="updated">
        Last update
        <a href="#" id="show-history">{{ project.updated_at|format_datetime }}</a>
      </span>
      <span class="maintainer">
        Maintainer:
        <b><a href="{{project.user.webpage_url}}" target="_blank">{{ project.user.username }}</a></b>
      </span>
    </p> -->

  </div>

</div>

  <div class="project-buttons" role="group" aria-label="Main navigation">
    {% if project.contact_url %}
      <a href="{{ project.contact_url }}" target="_blank" class="btn btn-lg" title="Contact the team"><span>&#x1f44b;</span> Contact</a>
    {% endif %}
    {% if project.webpage_url %}
      <a href="{{ project.webpage_url }}" class="btn btn-lg" target="_blank" title="Project web link"><span>&#x1f310;</span> Explore</a>
    {% endif %}
    {% if project.source_url %}
      <a href="{{ project.source_url }}" class="btn btn-lg" target="_blank" title="Source code"><span>&#x1f4bb;</span> Source</a>
    {% endif %}
  </div>

  {% if project.category %}
  <div class="panel panel-default category-details">
    <a name="category"></a>
    <div category-id="{{project.category.id}}" class="category-container" style="border-top:5px solid {{project.category.logo_color}}">
      <h3>{{ project.category.name }}</h3>
      {{ project.category.description|markdown }}
    </div>
  </div>
  {% endif %}
</div><!-- /.jumbotron -->

<div class="panel panel-default community-embed">
  <div class="panel-body"><i class="fa fa-comment"></i>
    {{project.event.community_embed|safe}}
  </div>
</div>

<center class="mt-5">
  <a class="btn btn-dark btn-lg" href="{{ url_for('public.event', event_id=project.event.id) }}">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    {{ project.event.name }}</a>
</center>

{% endblock %}
