{% from "macros/_form.html" import render_form %} {% extends "layout.html" %} {%
block page_title %}New project{% endblock %} {% block body_class %}projectform
projectnew{% endblock %} {% block content %} {% if form %} {% if
current_event.boilerplate %}
<div class="jumbotron projectnew-boilerplate">
    <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
    <div class="container scroll-after-500">
        {{ current_event.boilerplate|markdown }}
    </div>
</div>
{% endif %} {% if suggestions %}
<div class="profile-projects container-fluid template-select">
    <div class="row flex-row flex-nowrap">
        {% for project in suggestions %}
        <div
            class="col-md-5 ms-auto card project"
            {%-
            if
            project.image_url
            %}
            style="background-image:url('{{project.image_url}}'); padding-left:100px"
            {%-
            endif
            %}
        >
            <div class="card-body">
                <a
                    href="{{ url_for('project.project_view', project_id=project.id) }}"
                    target="_blank"
                >
                    <i class="fa fa-eye"></i
                ></a>
                <label for="tpl_{{ project.id }}">
                    <h5 class="card-title">
                        <input
                            type="radio"
                            name="template"
                            value="{{ project.id }}"
                            id="tpl_{{ project.id }}"
                        />
                        {{ project.name }}
                    </h5>
                    <p class="card-text">{{ project.summary }}</p>
                </label>
            </div>
        </div>
        {% endfor %}
    </div>
    <p class="category-tip mb-2 mt-1 clearfix" style="margin-left: -1em">
        <span class="user-score" style="background: white">&#x1F4A1;</span
        >&nbsp; Select a template to pre-fill your content, or load a Readme
        from elsewhere to get started.
    </p>
</div>
<!-- /profile-projects -->
{% endif %}

<div class="container">
    {{ render_form(url_for('project.project_new', event_id=current_event.id) +
    '?create=1', form, formid="projectNew") }}
</div>
{% else %}
<div class="alert alert-info">
    Please <b><a href="{{ url_for('auth.login') }}">log in</a></b>
    to publish a project here.
</div>
{% endif %} {% endblock %}
