{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}Edit: {{project.name}}{% endblock %}
{% block body_class %}projectform{% endblock %}

{% block content %}
  <h2 class="huge">Edit project</h2>

  {% if config.S3_KEY %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadImage">
    Upload an image
  </button>
  {% endif %}

  {{ render_form(url_for('project.project_edit', project_id=project.id), form) }}

  <!-- Upload dialog -->
  <div class="modal fade uploader" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="uploadLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadLabel">Upload an image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="upload-note">
            PNG and JPEG formats are accepted.
            To embed a slide presentation, use
            <a href="https://hackmd.io/s/how-to-create-slide-deck" target="_blank">HackMD</a>,
            <a href="https://slides.com" target="_blank">Slides.com</a>, or
            <a href="https://speakerdeck.com" target="_blank">SpeakerDeck</a>, and
            put the embed URL into the <b>Project link</b> instead.
          </p>
          <center class="preview hidden" id="img-preview">
            <img src="" height="100">
            <input name="url" disabled style="display:block;margin-top:1em">
          </center>
          <div class="input-group" style="margin-top:1em">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputFileLabel">Select</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputImageFile"
                name="image" aria-describedby="inputFileLabel" accept="image/*"
                data-maxsize="{{ config.MAX_CONTENT_LENGTH }}">
              <label class="custom-file-label" for="inputImageFile">Choose file</label>
            </div>
          </div>
          <center class="col hidden" style="margin-top:1em" id="img-confirm">
            <div class="btn-group">
              <button class="btn btn-warning" data-target="cover">
                Replace cover image
              </button>
              <button class="btn btn-success" data-target="pitch">
                Add to pitch content
              </button>
              <button class="btn btn-primary" data-target="xclip">
                Copy to clipboard
              </button>
            </div>
          </center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
