{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}New project{% endblock %}
{% block body_class %}projectform projectnew{% endblock %}

{% block content %}
  {% if form %}
    {% if current_event.boilerplate %}
    <div class="jumbotron alert alert-success">
      <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
      <div class="container scroll-after-500">
        {{ current_event.boilerplate|markdown }}
      </div>
    </div>
    {% endif %}
    <div class="container">
      {{ render_form(url_for('project.project_new', event_id=current_event.id), form) }}
    </div>
  {% else %}
    <div class="alert alert-info">
      Please <b><a href="{{ url_for('auth.login') }}">log in</a></b>
      to publish a project here.
    </div>
  {% endif %}
{% endblock %}
