{% from "macros/_form.html" import render_form %}
{% import "macros/_event.html" as misc %}

{% extends "layout.html" %}

{% block page_title %}Post: {{project.name}}{% endblock %}
{% block body_class %}projectpost{% endblock %}

{% block content %}

  <div class="mt-5">&nbsp;</div>

  <div class="honeycomb d-none d-md-block">
      {{ misc.render_project_hexagon(project) }}
  </div>

  {% if all_valid %}
    <h4 class="text-center mt-5 mb-3">
      &#128640; Ready for the next level?
    </h4>
    <div class="form-project-confirm alert alert-success mb-3" role="alert">
      <label><input type="checkbox">&nbsp;
      {% for item in stage.conditions.agree %}
        <span>{{ item }}</span><br>
      {% endfor %}
      </label>
    </div>
  {% endif %}

  <div class="form-project-post">
    {{ render_form(url_for('project.project_post', project_id=project.id), form) }}
  </div>

  {% if stage %}
  {% if all_valid and stage['name'] == 'LIVE' %}
    <div class="alert alert-success mt-1" role="alert">
      <i class="fa fa-thumbs-up"></i>
      Your project is ready for action!
    </div>
  {% else %}
  {% if not all_valid %}
  <div class="form-project-stage" style="{% if all_valid %}border-color:lightgreen{% endif %}">
    <h5 class="text-center mb-3">
      To reach the
      <a href="{{ url_for('public.event_stages', event_id=current_event.id) }}" target="_blank">
        next stage</a>
      &#128161;
    </h5>
    {% for item in stage.conditions.validate %}
      {% if item.valid %}
        <div class="alert alert-success" role="alert">
          <i class="fa fa-thumbs-up"></i>
          {{ item.help }}
        </div>
      {% else %}
        <div class="alert alert-warning" role="alert">
          <i class="fa fa-paw"></i>
          {{ item.help }}
        </div>
      {% endif %}
    {% endfor %}

    <p class="text-center mt-3 mb-0 hidden"><small>
      &#x1F3AF;
      To Post on another project, <b>Join</b> it or visit
      <a href="{{ url_for('public.user', username=current_user.username) }}">your profile</a>
      to switch.
      For more info see
      <a href="{{ url_for('public.event_stages', event_id=current_event.id) }}" target="_blank">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        Stages</a>
    </small></p>
  </div>
  {% endif %}
  {% endif %}
  {% endif %}

  <center class="mt-3">
    <a href="{{ url_for('project.project_view', project_id=project.id) }}"
       title="Cancel" class="btn btn-light"
       onclick="if(!window.confirm('Your post will not be saved - continue?')) return false">
      <i class="fa fa-arrow-left" aria-hidden="true"></i> Cancel and return to project
    </a>
  </center>

{% endblock %}
