{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}Edit: {{project.name}}{% endblock %}
{% block body_class %}projectform projectedit{% endblock %}

{% block js %}
  {% if config.ENV == 'prod' %}
    <script src="https://uicdn.toast.com/editor/3.0.0/toastui-editor-all.min.js"></script>
    <link href="https://uicdn.toast.com/editor/3.0.0/toastui-editor.min.css" rel="stylesheet">
  {% else %}
    <script src="{{ url_for('static', filename='libs/toastui-all/toastui-editor-all.min.js')}}"></script>
    <link href="{{ url_for('static', filename='libs/toastui-editor/dist/toastui-editor.css')}}" rel="stylesheet">
  {% endif %}
{% endblock %}

{% block content %}
  <h2 class="huge">
    Edit
    <a href="{{ url_for('project.project_view', project_id=project.id) }}" title="Back to project">
      {%- if project.is_challenge -%}
      challenge
      {%- else -%}
      project
      {%- endif -%}
    </a>
    {% if detail_view %}details{% else %}basics{% endif %}
  </h2>

  <div class="text-right">
    <div class="btn-group switch-editor">
      <a href="{{ url_for('project.project_edit', project_id=project.id) }}" title="Edit project" class="btn btn-lg btn-warning {% if not detail_view %}disabled{% endif %}">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Basics</a>
      <a href="{{ url_for('project.project_details', project_id=project.id) }}" title="Edit project details" class="btn btn-lg btn-info {% if detail_view %}disabled{% endif %}">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Details</a>
    </div>
  </div>

  {% if not detail_view %}
  <button id="activateEditor" type="button" class="btn btn-light hidden" aria-pressed="false">
    <i class="fa fa-hand-o-down text-info" area-hidden="true"></i>
    Markdown editor
  </button>
  {% endif %}

  {% if config.S3_KEY %}
  <button type="button" class="btn btn-light mt-2 m-1" style="display:none" data-toggle="modal" data-target="#uploadImage">
    <i class="fa fa-image text-info" area-hidden="true"></i>
    Upload an image
  </button>
  {% endif %}

  {% if config.S3_KEY %}
  <button type="button" class="btn btn-light mt-2 m-1" style="display:none" data-toggle="modal" data-target="#uploadFile">
    <i class="fa fa-folder text-info" area-hidden="true"></i>
    Attach data
  </button>
  {% endif %}

  {% if detail_view %}
    {{ render_form(url_for('project.project_details', project_id=project.id), form) }}
  {% else %}
    {{ render_form(url_for('project.project_edit', project_id=project.id), form) }}
  {% endif %}

{% if not detail_view %}
<div class="alert-warning text-center mt-4 p-2">
  Looking for a way to add more links, contacts, or change the cover image? Edit the
  <a href="{{ url_for('project.project_details', project_id=project.id) }}" target="_blank">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    Project Details</a>
</div>
{% endif %}

{% include "includes/uploader.html" %}

{% endblock %}
