{% extends "layout.html" %}

{% block page_title %}{{project.name}} ~{{project.event.name}}{% endblock %}

{% block page_meta %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url_for('public.project', project_id=project.id, _external=True) }}">
  <meta property="og:title" content="{{project.name}}">
  <meta property="og:image" content="{{project.image_url}}">
  <meta property="og:description" content="{{project.summary|safe}}">
  <meta name="twitter:site" content="@opendatach">
  <meta name="twitter:card" content="summary">
  {% if project.user.cardtype == 'twitter' %}<meta name="twitter:creator" content="@{{ project.user.carddata }}">{% endif %}
  <meta name="description" content="{{project.summary|safe}}">
  <meta name="author" content="{{project.user.username}}">
{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/rainbow/zenburnesque.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='css/rainbow/rainbow-custom.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="jumbotron project-page phase-{{ project.phase }}" style="background-color:{{project.logo_color}}">
  <div class="project-info">
    {% if project.image_url %}
      <img class="project-image" src="{{project.image_url}}">
    {% endif %}

    <div class="project-tools">
      <span class="label label-info">{{ project.phase }}</span>
      <div class="progress" title="A score based on profile completeness and voting results">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70" style="width:{{project.score}}%">
          {{project.score}}
        </div>
      </div>

      {% if project_starred %}
      <a href="{{ url_for('public.project_unstar', project_id=project.id) }}" class="project-star" title="Click to leave the project">
        <i class="fa fa-star"></i>TEAM
      </a>
      {% elif current_user and current_user.is_authenticated %}
      <a href="{{ url_for('public.project_star', project_id=project.id) }}" class="project-star" title="Join project to show your profile below">
        <i class="fa fa-star-o"></i>JOIN
      </a>
      {% else %}
      <a href="{{ url_for('auth.login') }}" class="project-star" title="Login to join this project">
        <i class="fa fa-star-o"></i>JOIN
      </a>
      {% endif %}
    </div>

    {% if allow_edit %}
      <div class="btn-group edit-buttons" role="group" aria-label="Project tools">
         <a href="{{ url_for('public.project_edit', project_id=project.id) }}" class="btn btn-success">
           <i class="fa fa-pencil" aria-hidden="true"></i>
           Edit</a>
         {% if project.is_autoupdate %}
          <a href="{{ url_for('public.project_autoupdate', project_id=project.id) }}" class="btn btn-warning">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            Sync</a>
         {% endif %}
       </div>
    {% endif %}

    <h2 class="project-name">
      {% if project.logo_icon %}
        <i class="fa fa-{{project.logo_icon}}"></i>
      {% endif %}
      <span>{{project.name}}</span>

      {% if project.category %}
      <div class="project-category">
        {% if project.category.logo_icon %}
        <i class="fa fa-{{project.category.logo_icon}}"></i>
        {% endif %}
        <span>{{ project.category.name }}</span>
      </div>
      {% endif %}
    </h2>

    {% if github_project %}
      <div data-theme="default" data-width="400" data-height="150" data-github="{{ github_project }}" class="github-card"></div>
      <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    {% endif %}

    {% if project.summary %}
    <p class="project-summary">
      {{project.summary}}
    </p>
    {% endif %}
    {% if project.contact_url %}
      <a href="{{ project.contact_url }}" target="_blank">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        Contact</a>
    {% endif %}
    <br clear="all"><hr>

    <div class="project-longtext">
      {{project.longtext|markdown}}
    </div>
  </div>
  <div class="btn-group project-buttons" role="group" aria-label="Hackathon navigation">
    {% if project.webpage_url %}
      <a href="{{ project.webpage_url }}" class="btn btn-primary" target="_blank">Homepage &raquo;</a>
    {% endif %}
    {% if project.source_url %}
      <a href="{{ project.source_url }}" class="btn btn-default" target="_blank">Source &raquo;</a>
    {% endif %}
  </div>
  <div class="panel panel-default community-embed">
    <div class="panel-body"><i class="fa fa-comment"></i>
      {{project.event.community_embed|safe}}
    </div>
  </div>
  <div class="panel panel-default community-embed">
    <div class="panel-body">
      <p class="details">
        Latest update:
        <span>{{ project.updated_at|format_date }}</span>
        <br>
        Maintainer:
        <b><a href="{{project.user.webpage_url}}" target="_blank">{{ project.user.username }}</a></b>
      </p>
      {% if project_stars %}
        <p class="started-at">
          <small>Launched at
            <a href="{{ url_for('public.event', event_id=project.event.id) }}">
              <b>{{ project.event.name }}</b>
            </a> by
          </small>
        </p>
        {% for activity in project_stars %}
          {% if activity.user.cardtype == 'github' %}
            <div class="github-card" data-width="310" data-height="150" data-user="{{activity.user.carddata}}"
              data-theme="default"></div>
            <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
          {% elif activity.user.cardtype == 'twitter' %}
            <a class="twitter-follow-button"
              href="https://twitter.com/{{activity.user.carddata}}"
              data-size="large" data-show-count="false">
              @{{activity.user.carddata}}</a>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          {% else %}
            <a href="{{activity.user.webpage_url}}" title="{{activity.user.username}}" alt=":-)" target="_blank" class="team-gravatar">
              <img align="left" width="40" height="40" src="https://www.gravatar.com/avatar/{{activity.user.carddata}}"/>
            </a>
          {% endif %}
        {% endfor %}
      {% endif %}
      </div>
  </div>
</div><!-- /.jumbotron -->
{% endblock %}
