{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}Registration{% endblock %}
{% block body_class %}userform register{% endblock %}

{% block content %}
<div class="container-narrow">
    <h1>Register</h1>
    <p>Already registered? 
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      <b><a href="{{ url_for('auth.login', next=request.args.get('next')) }}">Log in here</a></b>
    </p>
    <br/>

  {% if oauth_type %}
    <p>You can also use &#x1f511;
      <b><a href="{{ url_for('auth.login', next=request.args.get('next')) }}">Single Sign On</a></b>
      through {{ oauth_type }}
      in this application.</p>
  {% endif %}

  {{ render_form(url_for('auth.register'), form) }}

    <p class="mt-4"><i>Note: Your profile image will be the
        <a href="https://gravatar.com" target="_blank">Gravatar</a>
        of the e-mail address, or imported
        from the online profile (GitHub, GitLab, LinkedIn, StackOverflow)
    </i></p>

</div>
{% endblock %}
