{% extends "layout.html" %}

{% block page_title %}Registration{% endblock %}

{% block content %}
<div class="container-narrow">
  <h1>Register</h1>
  <p>Create an account to be able to submit projects.</p>
  <br/>

    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.username.label}}
                {{form.username(placeholder="Username", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.email.label}}
                {{form.email(placeholder="Email", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.webpage_url.label}}
                {{form.webpage_url(placeholder="https://", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.password.label}}
                {{form.password(placeholder="Password", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.confirm.label}}
                {{form.confirm(placeholder="Password (again)", class_="form-control")}}
            </div>
            <p><input class="btn btn-primary btn-lg btn-submit" type="submit" value="Register"></p>
    </form>
    <p>Already registered? Click <a href="{{ url_for('auth.login') }}">here</a> to login.</p>
</div>
{% endblock %}
