{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}Registration{% endblock %}
{% block body_class %}userform register{% endblock %}

{% block content %}
<div class="container-narrow">
    <div class="float-right">
    Already registered? 
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      <a class="btn btn-success btn-submit btn-lg" 
         href="{{ url_for('auth.login', next=request.args.get('next')) }}">
          Log in here</a>
    </div>

    {% include "includes/loginsso.html" %}

    <br clear="all"/>
    <h1>Register</h1>


  {{ render_form(url_for('auth.register'), form, formid='registerForm') }}

    <p class="text-center mt-4">
        Use
        <a href="https://gravatar.com" target="_blank">Gravatar</a>
        to upload a profile image based on your e-mail address, 
        else it will be imported from the Online Profile
        (GitHub, GitLab, LinkedIn, StackOverflow ...)
    </i></p>

</div>
{% endblock %}
