{% extends "layout.html" %}

{% block content %}
<div class="container-narrow">
  <h1>Register</h1>
    <br/>
    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.first_name.label}}
                {{form.first_name(placeholder="", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.last_name.label}}
                {{form.last_name(placeholder="", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.email.label}}
                {{form.email(placeholder="name@domain.tld", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.contact.label}}
                {{form.contact(placeholder="phone, @handle, ...", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.username.label}}
                {{form.username(placeholder="", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.password.label}}
                {{form.password(placeholder="**********", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.confirm.label}}
                {{form.confirm(placeholder="**********", class_="form-control")}}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Register"></p>
    </form>
    <p><em>Already registered?</em> Click <a href="/">here</a> to login.</p>
</div>
{% endblock %}
