{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}{{resource.name}} / Resources{% endblock %}
{% block body_class %}resource-page{% endblock %}

{% block content %}

<h2 class="huge">Resource</h2>


<div class="jumbotron">
  <div class="container">

    <h1>
       <i title="{{resource.of_type}}"
        class="fa fa-{{resource.icon}}"></i>
        {{resource.name}}
    </h1>

     {% if resource.source_url %}
     <p class="resource-link" style="margin-left:3.3em">
       <a href="{{ resource.source_url }}" target="_blank">{{ resource.source_url|truncate(36)|replace("https://", "")|replace("http://", "") }}</a>
      </p>
     {% endif %}

    <h4 class="resource-summary">{{resource.summary}}</h4>

    <div class="resource-content">
        {{resource.content|markdown|safe}}
    </div>

    {% if projects %}
    <h5 class="resource-projects">Used in</h5>
    <div class="profile-projects container-fluid">
        <div class="row flex-row flex-nowrap">
        {% for project in projects %}
            <a class="col-5 card project"
               href="{{ url_for('public.project', project_id=project.id) }}">

              {% if project.image_url %}
                <img class="project-image" src="{{project.image_url}}">
              {% endif %}

              {% if project.score and not project.is_challenge %}
              <div class="project-score">
                <div class="progress" title="A score based on profile completeness and voting results">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70" style="width:{{project.score}}%">
                    {{project.score}}
                  </div>
                </div>
                <center>{{ project.event.name }}</center>
              </div>
              {% endif %}

              <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.summary }}</p>
              </div>

            </a>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    </div>
</div>

{% if resource.user_id %}
    <p class="resource-tip bigger">Recommended by
        <a href="{{ url_for('public.user', username=resource.user.username) }}">
            {{resource.user.username}}</a>
    </p>
{% endif %}

<div class="project-buttons" role="group" aria-label="Resource navigation">
    {% if resource.source_url %}
      <a href="{{ resource.source_url }}" class="btn btn-lg" target="_blank" title="Web link">
          <span>&#x1f310;</span> Get</a>
    {% endif %}

    {% if current_user and current_user.active %}
    {% if resource.user_id == current_user.id or current_user.is_admin %}
      <a href="{{ url_for('public.resource_edit', resource_id=resource.id) }}" class="btn btn-lg" title="Edit this resource">
          <span>&#128221;</span> Edit</a>
    {% endif %}
    {% endif %}
</div>

{% if current_event %}
<center class="mt-5">
    <a class="btn btn-dark btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}">Back to the future</a>
</center>
{% endif %}

{% endblock %}
