{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}Add bootstrap{% endblock %}
{% block body_class %}bootstrapform{% endblock %}

{% block content %}
  <div>Add a bootstrap or component to
    <h2>
      <a class="project-link" href="{{ url_for('project.project_view', project_id=project.id) }}">{{project.name}}</a>
    </h2>
  </div>

  <div class="form-bootstrap">

    {{ render_form(url_for('project.bootstrap_add', project_id=project.id), form) }}

  </div>

{% endblock %}
