{% extends "layout.html" %}

{% block page_title %}Stages{% endblock %}

{% block body_class %}stages-page{% endblock %}

{% block content %}
<h1 class="huge">Projects by stage</h1>

  <p style="mt-2">
    See also: <a href="{{ url_for('public.event_instructions', event_id=current_event.id) }}#steps">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      Details about stages</a>
  </p>

  <div class="list-stages">
  <a name="steps"></a>
  {% for step in steps %}
    <div class="row step">
      {% if step.index > 0 %}
        <div class="number">{{ step.index }}</div>
      {% else %}
        <div class="number">*</div>
      {% endif %}

      {% if step.index > 0 %}
        <h3 class="title">{{ step.phase }}</h3>
      {% endif %}

      {% if step.projects %}
        <div class="profile-projects container-fluid">
          <div class="row flex-row flex-nowrap">
          {% for project in step.projects %}
              <a class="col-5 card project"
                 href="{{ url_for('project.project_view', project_id=project.id) }}">

                {% if project.image_url %}
                  <img class="project-image" src="{{project.image_url}}">
                {% endif %}

                {% if project.score and not project.is_challenge %}
                <div class="project-score">
                  <div class="progress" title="A score based on profile completeness and voting results">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70" style="width:{{project.score}}%">
                      {{project.score}}
                    </div>
                  </div>
                  <center>{{ project.event.name }}</center>
                </div>
                {% endif %}

                <div class="card-body">
                  <h5 class="card-title">{{ project.name }}</h5>
                  <p class="card-text">{{ project.summary }}</p>
                </div>

              </a>
          {% endfor %}
          </div>
        </div><!-- /profile-projects -->
      {% endif %}
    </div>
  {% endfor %}
  </div>

  <center class="mt-5">
    <a class="btn btn-dark btn-lg" href="{{ url_for('public.event', event_id=current_event.id) }}">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Back to the future</a>
  </center>

{% endblock %}
