{% extends "layout.html" %}

{% block page_title %}Terms of Use{% endblock %}

{% block body_class %}terms-dribdat{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="container">

    <div class="row">
      <h1 style="font-weight:bold; font-family:monospace">
        ? terms and conditions
      </h1>
    </div>

    <div class="row">
      {{ terms|markdown }}
    </div>
    <hr>
    <div class="conclusion">
      <b>Dribdat</b> is distributed under the
      <a href="https://en.wikipedia.org/wiki/MIT_License" target="_blank">MIT license</a>
       -
      source code available on
        <a href="https://github.com/dribdat/dribdat" target="_blank">GitHub</a> and
        <a href="https://codeberg.org/dribdat/dribdat" target="_blank">Codeberg</a>
      <br>
      Visit <a href="https://app.fossa.com/projects/git%2Bgithub.com%2Floleg%2Fdribdat?utm_source=share_link">FOSSA</a>
      for a list of bundled code works.
    </div>
  </div>
</div>

{% endblock %}
