{% extends "layout.html" %}
{% import "macros/_event.html" as misc %}

{% block page_title %}{{ user.username }}{% endblock %}
{% block body_class %}userprofile{% endblock %}

{% block page_meta %}
  <link rel="alternate" type="application/rss+xml" title="RSS: Dribs by {{ user.name }}" href="/feeds/user/{{ user.username }}">
{% endblock %}

{% block content %}

{% if score_tip and current_user.id == user.id %}
  <div class="alert alert-info"
       title="This tip is only visible to you">
    <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
    To improve your score, please  
    <a href="{{ url_for('auth.user_profile') }}">
      complete your profile.
    </a>
  </div>
{% endif %}

{% if user.my_goals %}
  <div class="profile-goals col-6 bg-body" title="My Goals">
    <a name="goals"></a>
      {{ user.my_goals|markdown }}
  </div>
{% endif %}

{% if current_user and current_user.is_authenticated %}
<div class="row">

  <div class="col-sm text-right mt-2">
  {% if current_user.id == user.id %}

    <div class="btn-group">
      <a id="project-post"
         href="{{ url_for('public.user_post') }}"
         title="Post an update to your current project" 
         class="btn btn-success btn-lg">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
        Write a Post</a>

      <a href="{{ url_for('auth.user_profile') }}" class="btn btn-warning btn-lg">
        <i class="fa fa-child"></i>
        Edit Profile
      </a>

      <a id="get-mydata" class="btn btn-light btn-lg"
        href="{{ url_for('api.current_user_hackathon_json') }}" download
        title="Download a snapshot of my contributions">
        <i class="fa fa-download"></i>
        My data
      </a>
    </div>

  {% elif current_user.is_admin %}

    <div class="btn-group">
      <a id="user-email"
         href="mailto:{{ user.email }}"
         class="btn btn-info btn-lg">
        <i class="fa fa-email" aria-hidden="true"></i>
        Write E-mail</a>

      <a id="user-edit"
          href="{{ url_for('admin.user', user_id=user.id )}}"
          class="btn btn-secondary btn-warning btn-lg">
        <i class="fa fa-child"></i>
        Edit Profile
      </a>
    </div>

  {% endif %}
  </div>
</div>

{% if may_certify %}
  <div class="float-right">
    <br clear="all"/>
    <a id="get-certified" class="btn btn-success btn-lg"
      href="{{ url_for('public.user_cert') }}" download
      title="Download a participation certificate">
      Download&nbsp;Certificate
    </a>
  </div>
{% endif %}

{% endif %}

<div class="row mt-2 profile-header">

  <div class="col-3 text-center">
    {% if user.carddata %}
      <div class="profile-picture">
        <img src="{{user.carddata}}"/>
      </div>
    {% endif %}
  </div>

  {% if user.fullname %}
    <h1 class="col-sm text-left">
      <span>
        {{ user.fullname }}
      </span>
      <br><tt class="text-secondary">{{ user.username }}</tt>
    </h1>
  {% else %}
    <h1 class="col-sm text-left">
      <tt>{{ user.username }}</tt>
    </h1>
  {% endif %}

</div>
<div class="row mb-3">

  <div class="col-3 text-center">
    {% if score %}
      <h5 title="Total score across all projects, adjusted by profile completeness">
        <span class="user-score">{{ score }}</span>
      </h5>
    {% endif %}
    {% if user.webpage_url %}
      <div class="profile-social">
        <a href="{{ user.webpage_url }}" class="btn btn-lg" target="_blank" rel="noopener noreferrer">
        {% if not user.cardtype %}
          <i class="fa fa-globe"></i>&nbsp;Visit
        {% else %}
          <i class="fa fa-{{ user.cardtype }}"></i>&nbsp;Follow
        {% endif %}
        </a>
      </div>
    {% endif %}
  </div>

  <div class="col-sm">
    <ul class="profile-roles">
    {% for role in user.roles %}
      <li>{{ role.name }}</li>
    {% endfor %}
    </ul>
  </div>

</div>

{% if user.my_story %}
<div class="row">
  <div class="profile-story col-9 bg-body" title="My story">
    <a name="story"></a>
    <blockquote class="profile-text">
      {{ user.my_story|markdown }}
    </blockquote>
  </div>
</div>
{% endif %}

{% if not projects %}
  {% if current_user and current_user.id == user.id %}
    <div class="alert alert-success">
    No projects here yet. Time to <b>Join</b> or <b>Start</b> something awesome!
    </div>

    {% if events_next %}
    <div class="row events-next mt-4 mb-4">
      {% for event in events_next %}
        {{ misc.render_home_event(event) }}
      {% endfor %}
    </div><!-- /.row events-next -->
    {% endif %}
  {% endif %}
{% else %}
  <a name="projects"></a>
  <div class="profile-projects honeycomb">
    <div class="row ibws-fix">
    {% for project in projects %}
      {{ misc.render_project_hexagon(project) }}
    {% endfor %}
    </div>
  </div><!-- /profile-projects -->
{% endif %}

{% if events %}
  <a name="events"><h2 class="mt-4 mb-2">Contributions</h2></a>
  <div class="row profile-events">
    {% for event in events %}
      {{ misc.render_home_event(event, False) }}
    {% endfor %}
  </div><!-- /.row -->
{% endif %}

{% if not posts %}
  {% if current_user and current_user.id == user.id %}
    <div class="alert alert-info">
    Once you join a project, write some <b>Posts</b> to show a log of your work.
    </div>
  {% endif %}
{% else %}
<a name="timeline"><h2 class="mt-4 mb-2" onclick="this.innerHTML='Captain\'s Log, supplemental';console.log('To boldly go...')">Dribs</h2></a>
<div class="jumbotron">

  <section class="timeline">
  {% for s in posts %}
  <div class="timeline-item timeline-{{ s.name }} timeline-{{ s.icon }}">
    <div class="timeline-img">
      <i class="fa fa-paperclip" aria-hidden="true"></i>
    </div>
    <div class="timeline-content timeline-card js--fadeInBottom">
      <div class="timeline-img-header">
      <a href="{{ url_for('project.project_view', project_id=s.project_id) }}#log">
        <h2>{{s.project_name}}</h2>
      </a>
      </div>

      {% if s.content %}
      <div class="content">
        {{s.content|markdown|safe}}
      </div>
      {% endif %}

      <div class="date" title="{{s.date}}">{{s.timesince}}</div>
    </div>
  </div>
  {% endfor %}
  </section>
</div>
{% endif %}
{% endblock %}
