{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}My profile{% endblock %}
{% block body_class %}userform{% endblock %}

{% block content %}
  <div class="row">
    <h2 class="huge col">
      Edit
      <a href="{{ url_for('public.user', username=user.username) }}">
        profile</a>
    </h2>
    <div class="profile-header col text-right">
      {% if user.carddata %}
        <img src="{{user.carddata}}"/>
      {% endif %}
    </div>
    <div class="col font-small pt-4">
      To change picture: link your online profile to GitHub or GitLab - or sign up to
      <a href="https://gravatar.com/connect/?source=_signup" target="_blank" rel="noopener noreferrer nofollow">
        Gravatar</a> with your e-mail address.
    </div>
  </div>

  {{ render_form(url_for('auth.user_profile'), form) }}

  <hr>

  {% if user.sso_id %}
    <center class="m-4">
      &#x1f511; Single Sign-On&nbsp;<b>enabled</b>
      &nbsp;(<u>{{oauth_type}}</u>)
    </center>
  {% endif %}

  <center class="mt-5">
    <form action="{{ url_for('auth.delete_my_account') }}" method="POST">
      <input type="submit" class="btn btn-light" value="Delete my account"
        onclick="if(!window.confirm('Are you sure you wish to DELETE your user account?') || !window.confirm('Last warning: deletion is final, all data will be lost.')) return false">
    </form>
  </center>
{% endblock %}
