{% extends "layout.html" %}

{% block page_title %}{{ user.username }}{% endblock %}
{% block body_class %}userprofile{% endblock %}

{% block content %}
<div class="row">

    <h1 class="profile-header">
        <img src="https://www.gravatar.com/avatar/{{user.carddata}}"/>
        <span>
            {{ user.username }}
        </span>
    </h1>

</div>
<div class="row">

    {% if user.webpage_url %}
    <div class="col-sm">
        <div class="profile-social">
            <a href="{{ user.webpage_url }}" target="_blank">
        {% if user.cardtype == '' %}
            <i class="fa fa-globe"></i>
            <span>Website</span>
        {% else %}
            <i class="fa fa-{{ user.cardtype }}"></i>
            <span>Follow</span>
        {% endif %}
            </a>
        </div>
    </div>
    {% endif %}

    {% if current_user and current_user.is_authenticated and current_user.id == user.id %}
    <div class="col-sm">
        <a href="{{ url_for('auth.user_profile') }}" class="btn btn-warning">
          <i class="fa fa-child"></i>
          Edit Profile
        </a>
    </div>
    {% endif %}

    <div class="col-sm">
        <ul class="profile-roles">
        {% for role in user.roles %}
            <li>{{ role.name }}</li>
        {% endfor %}
        </ul>
    </div>

</div>

{% if user.my_story %}
<div class="row">
    <div class="profile-story col-12">
        <div class="profile-text">
            {{ user.my_story|markdown }}
        </div>
    </div>
</div>
{% endif %}

<div class="profile-projects container-fluid">
    {% if not projects and current_user and current_user.is_authenticated and current_user.id == user.id %}
        <h5><i>No projects here. Time to <b>Join</b> or <b>Start</b> something awesome!</i></h5>
    {% endif %}
    <div class="row flex-row flex-nowrap">
    {% for project in projects %}
        <a class="col-5 card project"
           href="{{ url_for('public.project', project_id=project.id) }}">

          {% if project.image_url %}
            <img class="project-image" src="{{project.image_url}}">
          {% endif %}

          <div class="project-score">
            <div class="progress" title="A score based on profile completeness and voting results">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70" style="width:{{project.score}}%">
                {{project.score}}
              </div>
            </div>
            <center>{{ project.event.name }}</center>
          </div>

          <div class="card-body">
            <h5 class="card-title">{{ project.name }}</h5>
            <p class="card-text">{{ project.summary }}</p>
          </div>

        </a>
    {% endfor %}
    </div>
</div>

{% if user.my_goals %}
<div class="row">
    <div class="profile-goals col-12">
        <div class="profile-text">
            {{ user.my_goals|markdown }}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
