{% from "macros/_form.html" import render_form %}

{% extends "layout.html" %}

{% block page_title %}My profile{% endblock %}
{% block body_class %}userform{% endblock %}

{% block content %}

  <div class="profile-header">
    <div class="float-right">
      {% if user.carddata %}
        <img align="right" width="100" hspace="10" vspace="5" border="1" src="{{user.carddata}}"/>
        <br />
      {% endif %}
      <a href="{{ url_for('auth.user_story') }}" class="btn btn-primary btn-lg">
        <i class="fa fa-arrow-right"></i>
        My Story
      </a>
    </div>

  <h2 class="huge col-5">
    Edit
    <a href="{{ url_for('public.user_profile', username=user.username) }}">
      profile</a>
  </h2>
    <p class="w-50">
      To change picture: link your online profile to a supported service - GitHub, GitLab, LinkedIn, StackOverflow - or sign up to
      <a href="https://gravatar.com/connect/?source=_signup" target="_blank" rel="noopener noreferrer nofollow">
        Gravatar</a> with your e-mail address.
    </p>
  </div>

  {{ render_form(url_for('auth.user_profile'), form, formid='userEdit') }}

  <hr>

  {% if user.sso_id %}
    <center class="m-4">
      &#x1f511; Single Sign-On&nbsp;<b>enabled</b>
      {% if oauth_type %}
        &nbsp;(<u>{{oauth_type}}</u>)
      {% endif %}
    </center>
  {% endif %}

  <center class="mt-5">
    <form action="{{ url_for('auth.delete_my_account') }}" method="POST">
      <input type="submit" class="btn btn-light" value="Delete my account"
        onclick="if(!window.confirm('Are you sure you wish to DELETE your user account?') || !window.confirm('Last warning: deletion is final, all data will be lost.')) return false">
    </form>
  </center>
{% endblock %}
