{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
    <a href="{{ url_for('admin.category_new') }}" class="btn btn-success btn-lg">Add category</a>
    <h2>Categories</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
              <th>Name</th>
              <th>Event</th>
              <th>Projects count</th>
            </tr>
        </thead>
        {% for category in categories %}
        <tr>
            <td>
              <a href="{{ url_for('admin.category', category_id=category.id) }}">
                {{ category.name }}
              </a>
            </td>
            <td>{{ category.event.name }}</td>
            <td>
              <a href="{{ url_for('admin.category_projects', category_id=category.id) }}" class="btn btn-sm btn-primary">
                {{ category.project_count() }} items
              </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
