{% from "macros/_form.html" import render_form %}

{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
    <h2>Update event</h2>

    <div class="float-right">

      <a href="{{ url_for('public.event', event_id=event.id) }}" class="btn btn-warning m-4" target="_blank">
        &#128065; Public view
      </a>
      <a href="{{ url_for('admin.event_projects', event_id=event.id) }}" class="btn btn-light"
        onclick="if(!window.confirm('Make sure you have saved any changes.')) return false">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        Projects</a>
    </div>

    {{ render_form(url_for('admin.event', event_id=event.id), form) }}

    <a href="{{ url_for('admin.event_delete', event_id=event.id) }}" class="btn btn-sm btn-danger"
      onclick="if(!window.confirm('Are you sure you wish to delete this event?')) return false">
      Delete
    </a>
</div>
{% endblock %}
