{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
    <a href="{{ url_for('admin.event_new') }}" class="btn btn-success btn-lg">Start an event</a>
    <h2>Events</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
              <th></th>
              <th width="100%">Name</th>
              <th>Start</th>
              <th>Finish</th>
              <th>Manage</th>
            </tr>
        </thead>
        {% for event in events %}
        <tr>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="evMenu{{ event.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action ...
                </button>
                <div class="dropdown-menu" aria-labelledby="evMenu{{ event.id }}">
                  <a href="{{ url_for('admin.event_projects', event_id=event.id) }}" class="dropdown-item">
                    Projects
                  </a>
                  <a href="{{ url_for('admin.event_print', event_id=event.id) }}" class="dropdown-item">
                    Print
                  </a>
                  <a href="{{ url_for('public.event', event_id=event.id) }}" class="dropdown-item">
                    Public view
                  </a>
                  <a href="{{ url_for('public.dashboard', event_id=event.id) }}" class="dropdown-item">
                    Dashboard
                  </a>
                  <a href="{{ url_for('public.event', event_id=event.id, _external=True) }}?embed=1" class="dropdown-item" id="embed-link">
                    Embed view
                  </a>
                  <a href="{{ url_for('api.info_event_hackathon_json', event_id=event.id) }}" class="dropdown-item">
                    Projects (JSON)
                  </a>
                  <a href="{{ url_for('api.project_list_event_csv', event_id=event.id) }}" class="dropdown-item">
                    Projects (CSV)
                  </a>
                  <a href="{{ url_for('api.event_participants_csv', event_id=event.id) }}" class="dropdown-item">
                    Participants (CSV)
                  </a>
                </div>
              </div>
            </td>
            <td>
              <a href="{{ url_for('admin.event', event_id=event.id) }}#EOF" style="float:right">
              {% if event.is_current %}
                <span class="btn btn-warning btn-sm">Current</span>
              {% endif %}
              {% if event.lock_editing %}
                <span title="Editing locked" class="btn btn-dark btn-sm">Freeze</span>
              {% endif %}
              {% if event.lock_starting %}
                <span title="Creating locked" class="btn btn-dark btn-sm">Lock</span>
              {% endif %}
              {% if event.lock_resources %}
                <span title="Projects are considered global resources" class="btn btn-dark btn-sm">Resource</span>
              {% endif %}
              {% if event.is_hidden %}
                <span class="btn btn-dark btn-sm">Hidden</span>
              {% endif %}
              </a>

              <a href="{{ url_for('admin.event', event_id=event.id) }}">
                {{ event.name }}
              </a>
            </td>
            <td>{{ event.starts_at|format_date }}</td>
            <td>{{ event.ends_at|format_date }}</td>
            <td>
              <a href="{{ url_for('admin.event_projects', event_id=event.id) }}" class="btn btn-primary">
                {{ event.project_count }}&nbsp;projects
              </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
