{% from "macros/_form.html" import render_form %}

{% extends "admin/layout.html" %}

{% block content %}
<div class="container">

    <div class="float-right btn-group">
      <a href="{{ url_for('public.event', event_id=event.id) }}" class="btn btn-light" target="_blank">
        &#128065; View
      </a>
      <a href="{{ url_for('admin.event_projects', event_id=event.id) }}" class="btn btn-warning">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        Projects</a>

      <a href="{{ url_for('admin.event_delete', event_id=event.id) }}" class="btn btn-dark"
        onclick="if(!window.confirm('Are you sure you wish to delete this event?')) return false">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete
      </a>
    </div>

    <h1 class="huge">Edit sprint</h1>
    
    <div class="mb-4 fs-xs">
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <a href="#starts_date">Schedule</a> 
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <a href="#summary">Summary</a>
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <a href="#description">Description</a>
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <a href="#logo_url">Images</a>
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <a href="#instruction">Instructions</a>
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <a href="#community_embed">Customize</a>
    </div>

    {{ render_form(url_for('admin.event', event_id=event.id), form) }}

</div>
{% endblock %}
