{% extends "admin/layout.html" %}

{% block content %}
<div class="container admin-events">

    <div class="btn-group">
      <a href="{{ url_for('public.event_start') }}" class="btn btn-success btn-lg">
        <i class="fa fa-calendar me-2" aria-hidden="true"></i>
        New event</a>
      <button type="button" class="btn btn-lg btn-dark" data-bs-toggle="modal" data-bs-target="#importEvent">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
          Import data</button>
    </div>

    <h2 class="huge">Events</h2>

    <p class="mb-4">Here we group together people, teams, and results.</p>

    {% if data %}
      {% include "includes/pagination.html" %}
    {% endif %}

    <table class='table table-hover'>
        <thead>
            <tr>
              <th></th>
              <th width="100%">Name</th>
              <th>Date</th>
              <th></th>
            </tr>
        </thead>
        {% for event in events or data.items %}
        <tr>
            <td>
              <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="evMenu{{ event.id }}" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                  &nbsp;⬣&nbsp;{{ event.project_count }}&nbsp;
                </button>
                <ul class="dropdown-menu" aria-labelledby="evMenu{{ event.id }}">
                  <a href="{{ url_for('public.event_challenges', event_id=event.id) }}" class="dropdown-item">
                      <i class="fa fa-trophy" aria-hidden="true"></i>
                      Challenges
                    </a>
                  <a href="{{ url_for('public.event_print', event_id=event.id) }}" class="dropdown-item">
                      <i class="fa fa-print" aria-hidden="true"></i>
                    Report
                  </a>
                  <!--
                  <a href="{{ url_for('public.event', event_id=event.id, _external=True) }}"
                     class="dropdown-item" id="embed-link"
                     title="Get a link that you can use to embed the site in your CMS">
                     <i class="fa fa-bars" aria-hidden="true"></i>
                    Embed
                  </a>
                  -->
                  <a href="{{ url_for('admin.event', event_id=event.id) }}" class="dropdown-item">
                    &#9734; Edit
                  </a>
                  <a href="{{ url_for('admin.event_projects', event_id=event.id) }}" class="dropdown-item">
                    &#9734; Projects
                  </a>
                  <a href="{{ url_for('admin.event_feature', event_id=event.id) }}"
                     onclick="if(!window.confirm('Make this the current featured event?')) return false"
                     class="dropdown-item" title="Set this event as featured">
                    &#9734; Feature
                  </a>
                  <a href="{{ url_for('admin.event_copy', event_id=event.id) }}"
                     onclick="if(!window.confirm('Are you sure you wish to make a copy?')) return false"
                     class="dropdown-item" title="Duplicate this event">
                    &#9734; Duplicate
                  </a>
                  <a href="{{ url_for('api.info_event_hackathon_json', event_id=event.id) }}" class="dropdown-item">
                    &#9660; hackathon<b>.json</b>
                  </a>
                  <a href="{{ url_for('api.package_specific_event', event_id=event.id, format='json') }}" class="dropdown-item">
                    &#9660; datapackage<b>.json</b>
                  </a>
                  <a href="{{ url_for('api.package_specific_event', event_id=event.id, format='zip') }}" class="dropdown-item">
                    &#9660; datapackage<b>.zip</b>
                  </a>
                  <a href="{{ url_for('api.event_participants_csv', event_id=event.id) }}" class="dropdown-item">
                    &#9660; participants<b>.csv</b>
                  </a>
                  <a href="{{ url_for('api.project_list_event_csv', event_id=event.id, moar=True) }}" class="dropdown-item">
                    &#9660; projects<b>.csv</b>
                  </a>
                </ul>
              </div>
            </td>

            <td>
              <a href="{{ url_for('admin.event', event_id=event.id) }}" style="float:right">
              {% if event.is_current %}
                <span class="btn btn-primary btn-sm">Current</span>
              {% endif %}
              {% if event.lock_editing %}
                <span title="Editing locked" class="btn btn-light btn-sm">Freeze</span>
              {% endif %}
              {% if event.lock_starting %}
                <span title="Creating locked" class="btn btn-light btn-sm">Lock</span>
              {% endif %}
              {% if event.lock_resources %}
                <span title="Projects are considered global resources" class="btn btn-warning btn-sm">Resource</span>
              {% endif %}
              {% if event.is_hidden %}
                <span class="btn btn-dark btn-sm">Hidden</span>
              {% endif %}
              </a>

              <h5 class="event-name">
                {{ event.name }}
              </h5>
            </td>

            <td>{{ event.starts_at|format_date }}&nbsp;→&nbsp;{{ event.ends_at|format_date }}</td>

            <td class="btn-group">
              <a href="{{ url_for('public.event', event_id=event.id) }}" class="btn btn-light" target="_blank">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
              <a href="{{ url_for('admin.event_projects', event_id=event.id) }}" class="btn btn-info" title="See projects">
                ⬣
              </a>
              <a href="{{ url_for('admin.event', event_id=event.id) }}" class="btn btn-warning" title="Edit this event">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </td>
        </tr>
        {% endfor %}
    </table>
  {% if data %}
    {% include "includes/pagination.html" %}
  {% endif %}
</div>

<!-- Upload Event dialog -->
<div class="modal fade uploader" id="importEvent" tabindex="-1" role="dialog" aria-labelledby="uploadFileLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="{{ url_for('api.event_upload_datapackage') }}"
          method="post" enctype="multipart/form-data">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadFileLabel">Import Sprint data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-4">
          <div class="custom-file">
            <label class="form-label custom-file-label" for="inputImageFile">Choose file</label>
            <input type="file" class="custom-file-input form-control form-control-lg" placeholder="https://..."
              id="inputFile" name="file" aria-describedby="inputFileLabel">
          </div>
        </div>
        <div class="form-group form-check">
          <input type="radio" name="import" value="none" checked class="form-check-input" id="importCheck1">
          <label class="form-check-label" for="importCheck1">Validate and preview</label>
        </div>
        <div class="form-group form-check">
          <input type="radio" name="import" value="basic" checked class="form-check-input" id="importCheck2">
          <label class="form-check-label" for="importCheck2">Import only basic event data</label>
        </div>
        <div class="form-group form-check">
          <input type="radio" name="import" value="full" checked class="form-check-input" id="importCheck3">
          <label class="form-check-label" for="importCheck3">Include event, projects, users</label>
        </div>
        <hr>
        <p class="upload-note mt-2">
          Expects a
          <b><a href="https://frictionlessdata.io/field-guide/" target="_blank">datapackage.json</a></b> or
          <b>projects.csv</b> exported from dribdat.
          If an event, category or project has the same name on this server as one in the package, it will be skipped.
          To export event data, tap the 'Action' drop-down next to an event listing.
        </p>
      </div>
      <div class="modal-footer">
        <p class="message-loading hidden alert alert-warning">
          Please wait, loading your data.
        </p>
        <p class="message-error hidden alert alert-warning">
          There was an error. Please check your window log for details.
        </p>
        <p class="message-ok hidden alert alert-success">
          Import complete.
          <a href="javascript:location.reload()">Refresh the page</a>, or continue importing events.
        </p>
        <div class="buttons">
          <input type="submit" value="Import" class="btn btn-primary">
          <button type="button" class="btn btn-lg btn-default" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
  </div>
</div><!-- / Upload Event -->
{% endblock %}
