{% extends "admin/layout.html" %}

{% block content %}
<div class="container">

<div class="w-100 text-center" style="min-width: 640px;">
  {% for stat in stats %}
    {% if stat.text == 'Sprints' %}
      <a href="{{ url_for('admin.events') }}"
    {% elif stat.text == 'People' %}
      <a href="{{ url_for('admin.users') }}"
    {% elif stat.text == 'Dribs' %}
      <a href="{{ url_for('public.dribs') }}"
    {% else %}
      <a href="{{ url_for('admin.projects') }}"
    {% endif %}
       class="card stat" style="width: {{ 90/stats|length }}%; height: {{ stat.height }}em">
      {% if stat.img %}
        <img src="{{ stat.img }}" class="card-img-top">
      {% endif %}
        <div class="card-body" title="{{ stat.text }}">
            <h5 class="card-title">{{ stat.value }}</h5>
            <i class="fa fa-{{ stat.icon }}" aria-hidden="true"></i> {{ stat.text }}
        </div>
    </a>
  {% endfor %}
</div>

<div class="jumbotron admin-stats text-center" style="background:#eee; color:#000; min-width: 640px;">

{% if event %}
  <div class="clearfix text-left m-4">
    {% include "includes/header.html" %}
  </div>

  <div class="btn-group mb-2 text-center">
    <a href="{{ url_for('public.dashboard') }}" class="btn btn-lg btn-dark">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      Dashboard</a>
    <a href="{{ url_for('admin.event', event_id=event.id) }}" class="btn btn-lg btn-secondary">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Edit</a>
    <a href="{{ url_for('admin.event_projects', event_id=event.id) }}" class="btn btn-lg btn-success">
      <i class="fa fa-star" aria-hidden="true"></i>
      Projects</a>
  </div>
{% else %}
  <div class="btn-group mb-2 text-center">
    <a href="{{ url_for('public.event_start') }}" class="btn btn-lg btn-success">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      Start a sprint</a>
    <a href="{{ url_for('admin.presets') }}" class="btn btn-lg btn-info">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Add roles &amp; categories</a>
  </div>
{% endif %}

  <div id="announcements" class="mt-4">
    <textarea class="editable w-100 mb-2" 
              style="max-width: 740px; background: #ffd73e;">{{ status_text }}</textarea>
    <br>
    <button class="btn btn-primary"
      title="Send a message to logged in users"
      >📣 Announce</button>
  </div>

  <div class="container">
    <div id="activities">Welcome to Dribdat Admin! Today's hack-weather is pleasantly warm with patches of cybershine.</div>
  </div>

  <div class="mt-2 fs-4">
    <p><tt>{{ timeinfo }}</tt></p>
    <a href="{{ url_for('public.clear_cache') }}">Refresh</a> |
    <b><a href="{{ url_for('public.about') }}">Help</a></b> |
    <a href="mailto:dribdat@datalets.ch">Hotline</a>
  </div>
    
</div><!-- /jumbotron -->

</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vega@5/build/vega.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5/build/vega-lite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6/build/vega-embed.min.js"></script>
<style>
  #activities {
    margin:2em; padding: 1em;
    max-width:100%; overflow-x: auto;
    clear: both;
    display: inline-block;
    background: #fff;
  }
</style>
<script src="{{ url_for('static', filename='js/admin.js')}}"></script>
{% endblock %}
