{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
<h2> Administer dribdat </h2>

<div class="jumbotron admin-stats text-center" style="background:none; min-width: 600px;">

  <div class="chart-activities">
    <div class="btn-group mb-2 text-center">
    {% if default_event %}
        <a href="{{ url_for('admin.event', event_id=default_event.id) }}" class="btn btn-lg btn-success">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          Current event</a>
        <a href="{{ url_for('admin.event_projects', event_id=default_event.id) }}" class="btn btn-lg btn-success">
          <i class="fa fa-star" aria-hidden="true"></i>
          Projects</a>
    {% else %}
        <a href="{{ url_for('public.event_start') }}" class="btn btn-lg btn-success">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          Start an event</a>
    {% endif %}
    </div>
    <div class="btn-group mb-2 text-center">
      <a href="{{ url_for('admin.categories') }}" class="btn btn-lg btn-info">
        Roles</a>
      <a href="{{ url_for('admin.categories') }}" class="btn btn-lg btn-info">
        Categories</a>
    </div>
    <div class="container">
      <div id="activities"></div>
    </div>
  </div>

  <div class="mb-4">
  {% for stat in stats %}
    {% if stat.text == 'Events' %}
      <a href="{{ url_for('admin.events') }}"
    {% elif stat.text == 'Users' %}
      <a href="{{ url_for('admin.users') }}"
    {% else %}
      <a href="{{ url_for('admin.projects') }}"
    {% endif %}
       class="card stat" style="height: {{ stat.height }}em">
      {% if stat.img %}
        <img src="{{ stat.img }}" class="card-img-top">
      {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ stat.value }}</h5>
            <p class="card-text">{{ stat.text }}</p>
            <i class="fa fa-{{ stat.icon }}" aria-hidden="true"></i>
        </div>
    </a>
  {% endfor %}
  </div>

  <div class="mt-4">
    <a href="https://dribdat.cc" target="_blank"><img src="{{ url_for('static', filename='img/logo11.png') }}" height="128" alt="dribdat logo"></a>
    <br><br>
    <b><a href="{{ url_for('public.dashboard') }}">Dashboard</a></b> |
    <a href="{{ url_for('public.clear_cache') }}">Refresh</a> |
    <b><a href="{{ url_for('public.about') }}">Documentation</a></b> |
    <a href="mailto:dribdat@datalets.ch">Get support</a>
  </div>

</div><!-- /jumbotron -->

</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vega@5/build/vega.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5/build/vega-lite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6/build/vega-embed.min.js"></script>
<script>
    $.getJSON('/api/event/current/activity.json?limit=200', function(data) {
      if (data.activities.length == 0) return; // $('.chart-activities').hide();
      var yourVlSpec = {
        "width": "600",
        "$schema": "https://vega.github.io/schema/vega-lite/v2.0.json",
        "title": "Project activities",
        "data": {
          "values": data.activities
        },
        "mark": {
          "type": "bar"
        },
        "encoding": {
          "x": {
            "field": "date",
            "type": "temporal",
            "scale": { "rangeStep": null }
          },
          "y": {
            "aggregate": "mean",
            "field": "project_score",
            "type": "quantitative",
            "axis": { "title": "score", "labels": true }
          }
        },
        "config": {
          "autosize": { "type": "fit", "contains": "padding" },
          "axis": { "grid": true, "ticks": false }
        }
      }
      vegaEmbed("#activities", yourVlSpec);
    });
// });
</script>
<style>
  #activities {
    margin:2em; padding: 1em;
    max-width:100%; overflow-x: auto;
    clear: both;
    display: inline-block;
    background: #fff;
  }
</style>
{% endblock %}
