{% extends "admin/layout.html" %}

{% block content %}
<h1 class="huge m-1">Presets</h1>
    <hr>

<div class="container admin-roles">

    <a href="{{ url_for('admin.role_new') }}" class="btn btn-success btn-lg">Add role</a>
    <h2>Roles</h2>
    <span>List of participant specialties.</span>
    <table class='table table-hover'>
        <thead>
            <tr>
              <th width="100%">Name</th>
              <th>Assigned</th>
            </tr>
        </thead>
        {% for role in roles %}
        <tr>
            <td>
              <a href="{{ url_for('admin.role', role_id=role.id) }}"
                 class="btn btn-sm btn-warning float-right">
                Edit</a>
              {{ role.name }}
            </td>
            <td>
                {{ role.user_count() }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="container admin-categories pt-5" id="categories">
    <a href="{{ url_for('admin.category_new') }}" class="btn btn-success btn-lg">Add category</a>
    <h2>Categories</h2>
    <span>Used as topics or challenges for reference in projects.</span>
    <table class='table table-hover'>
        <thead>
            <tr>
              <th>Name</th>
              <th>Event</th>
              <th>Manage</th>
            </tr>
        </thead>
        {% for category in categories %}
        <tr>
            <td>
              {{ category.name }}
            </td>
            <td>{{ category.event.name }}</td>
            <td>
              <a href="{{ url_for('admin.category', category_id=category.id) }}"
                 class="btn btn-sm btn-warning">Edit</a>
              <a href="{{ url_for('admin.category_projects', category_id=category.id) }}"
                 class="btn btn-sm btn-info">
                {{ category.project_count() }}&nbsp;projects
              </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="container admin-stages pt-5" id="stages">
  <h2>Stages</h2>
  {% if not config.DRIBDAT_STAGE %}
    To edit the stages, you can configure a link to a YAML file in the environment settings.
    See the <a href="https://dribdat.cc/deploy.html#features" target="_blank">User Handbook</a> for details.
  {% else %}
    The following configuration is currently being loaded from:
    <input style="width:100%" type="text" readonly="readonly" value="{{ config.DRIBDAT_STAGE }}">
  {% endif %}
  <hr />
  <table>
  {% for step in steps %}
    <tr>
      <td style="vertical-align:top; width:12em">
        {% if step.index > 0 %}
          <a id="{{ step.id }}" name="{{ step.phase }}"></a>
          <span class="number">{{ step.index }}</span>
        {% else %}
          <a name="any"></a>
          <span class="number">*</span>
        {% endif %}
        {% if step.emoji %}
          <b class="emoji">{{ step.emoji }}</b>
        {% endif %}
        {% if step.index > 0 %}
          <h3 class="title">{{ step.phase }}</h3>
        {% endif %}
      </td>
      <td>
        {% if step.index > 0 and step.description %}
          <p class="subtitle">{{ step.description }}</p>
        {% endif %}
        {% if step.conditions %}
        <ul class="agree-list" style="width:100%;">
          {% for what in step.conditions.agree %}
            <li>{{ what }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table><!-- /list-stages -->

</div><!-- /-admin-stages -->

{% endblock %}
