{% extends "admin/layout.html" %}

{% block content %}
<div class="container admin-roles">
    <a href="{{ url_for('admin.role_new') }}" class="btn btn-success btn-lg">Add role</a>
    <h2>Roles</h2>
    <span>List of participant specialties.</span>
    <table class='table table-hover'>
        <thead>
            <tr>
              <th width="100%">Name</th>
              <th>Assigned</th>
            </tr>
        </thead>
        {% for role in roles %}
        <tr>
            <td>
              <a href="{{ url_for('admin.role', role_id=role.id) }}"
                 class="btn btn-sm btn-warning float-right">
                Edit</a>
              {{ role.name }}
            </td>
            <td>
                {{ role.user_count() }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<hr />
<div class="container admin-categories" id="categories">
    <a href="{{ url_for('admin.category_new') }}" class="btn btn-success btn-lg">Add category</a>
    <h2>Categories</h2>
    <span>Used as topics or challenges for reference in projects.</span>
    <table class='table table-hover'>
        <thead>
            <tr>
              <th>Name</th>
              <th>Event</th>
              <th>Manage</th>
            </tr>
        </thead>
        {% for category in categories %}
        <tr>
            <td>
              {{ category.name }}
            </td>
            <td>{{ category.event.name }}</td>
            <td>
              <a href="{{ url_for('admin.category', category_id=category.id) }}"
                 class="btn btn-sm btn-warning">Edit</a>
              <a href="{{ url_for('admin.category_projects', category_id=category.id) }}"
                 class="btn btn-sm btn-info">
                {{ category.project_count() }}&nbsp;projects
              </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
