{% extends "admin/layout.html" %}

{% block content %}
<div class="container admin-projects">
    <a href="{{ url_for('admin.project_new') }}" class="btn btn-success btn-lg">Add project</a>
    <h2>Projects</h2>

    {% if category_name %}<h4>Category: <b>{{ category_name }}</b></h4>{% endif %}

    {% if event %}
      <div class="btn-group projects-extra">
        <a href="{{ url_for('public.event', event_id=event.id) }}" class="btn btn-light">
          &#128065; View
        </a>
        <a href="{{ url_for('public.event_print', event_id=event.id) }}"
             title="Detailed overview of this event" class="btn btn-light">
            <i class="fa fa-print" aria-hidden="true"></i>
            Report
        </a>
        <a href="{{ url_for('admin.event_autosync', event_id=event.id) }}" class="btn btn-dark">
          <i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;Sync all
        </a>
      </div>
      <h4 class="text-center font-weight-bold">{{ event.name }}</h4>
      <a href="{{ url_for('admin.event', event_id=event.id) }}" class="btn btn-light">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Event</a>
    {% else %}
      <span><b>Tip</b>: Manage the projects of a specific event for more options.</span>
    {% endif %}

    {% if data %}
      {% include "includes/search.html" %}
      {% include "includes/pagination.html" %}
    {% endif %}

    <table class='table table-hover'>
        <thead>
            <tr>
              <th></th>
              <th>Name <small>(Score, Phase, Hashtag)</small></th>
              <th>Category</th>
              <th>Created</th>
              <th>Updated</th>
              <th></th>
            </tr>
        </thead>
        {% for project in projects or data.items %}
        <tr data-href="{{ url_for('admin.project_view', project_id=project.id) }}"
            {% if project.is_hidden %}style="background:salmon" title="Hidden"{% elif project.progress<0 %}style="background:orange" title="Awaiting approval"{% endif %}>
            <td style="text-align:right">
              <a href="{{ url_for('project.project_view', project_id=project.id) }}" title="Open">
                <div class="btn btn-lg btn-light">
                  {% if project.logo_icon %}
                    <i class="fa fa-{{project.logo_icon}}"></i>
                  {% else %}
                    <i class="fa fa-link"></i>
                  {% endif %}
                </div>
            </td>
            <td width="50%">
              <h5>{{ project.name }}</h5>
              <small>
                {{ project.phase }} &nbsp;
                <b>{{ project.ident or '' }}</b>
                {% if project.is_hidden %}(hidden){%endif%}
              </small>
            </td>
            <td>{{ project.category.name }}</td>
            <td>{{ project.created_at|format_date }}
              <small><br>{{ project.user.name }}</small></td>
            <td>{{ project.updated_at|since_date }}</td>
            <td><div class="btn-group">
              <a class="btn btn-warning" href="{{ url_for('admin.project_view', project_id=project.id) }}">
                <i class="fa fa-pencil"></i>
              </a>
              {% if project.is_hidden %}
                <a href="{{ url_for('admin.project_toggle', project_id=project.id) }}" class="btn btn-danger"
                   onclick="if(!window.confirm('Are you sure you wish to make this project visible?')) return false"
                   title="Show this project">
                  <i class="fa fa-eye-slash"></i>
                </a>
              {% else %}
                <a href="{{ url_for('admin.project_toggle', project_id=project.id) }}"
                   title="Hide this project" class="btn btn-primary"
                   onclick="if(!window.confirm('Are you sure you wish to hide this project?')) return false">
                  <i class="fa fa-eye"></i>
                </a>
              {% endif %}
              {% if project.is_syncable %}
              <a href="{{ url_for('project.project_autoupdate', project_id=project.id) }}"
                 title="Sync project data" class="btn btn-dark">
                <i class="fa fa-recycle"></i>
              </a>
              {% endif %}
            </div></td>
        </tr>
        {% endfor %}
    </table>
  {% if data %}
    {% include "includes/pagination.html" %}
  {% endif %}
</div>
{% endblock %}
