{% from "macros/_form.html" import render_form %}

{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
    <h2>Update project</h2>

    <div class="float-right">
      <a href="{{ url_for('project.project_view', project_id=project.id) }}" class="btn btn-success" target="_blank">
        &#128065; Public view
      </a>
    </div>

    {{ render_form(url_for('admin.project_view', project_id=project.id), form) }}

    {% if project.is_hidden %}
    <a href="{{ url_for('admin.project_toggle', project_id=project.id) }}" class="btn btn-sm btn-success">
      Enable
    </a>
      <a href="{{ url_for('admin.project_delete', project_id=project.id) }}" class="btn btn-sm btn-danger"
      onclick="if(!window.confirm('Are you sure you wish to delete this project?')) return false">
      Delete
    </a>
    {% else %}
    <a href="{{ url_for('admin.project_toggle', project_id=project.id) }}" class="btn btn-sm btn-danger">
      Disable
    </a>
    {% endif %}
</div>
{% endblock %}
