{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
    <div style="float:right; margin-top:1em">
      <a href="{{ url_for('admin.project_new') }}" class="btn btn-success">Add project</a>
    </div>
    <h2>Projects</h2>
    {% if category_name %}<h4>Category: <b>{{ category_name }}</b></h4>{% endif %}
    {% if event_name %}<h4>Event: <b>{{ event_name }}</b></h4>{% endif %}
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
              <th>Name</th>
              <th>Owner</th>
              <th>Created</th>
              <th>Updated</th>
              <th></th>
            </tr>
        </thead>
        {% for project in projects %}
        <tr>
            <td>
              <a href="{{ url_for('admin.project', project_id=project.id) }}">
                {{ project.name }}
              </a>
            </td>
            <td>{{ project.user.username }}</td>
            <td>{{ project.created_at|format_date }}</td>
            <td>{{ project.updated_at|since_date }}</td>
            <td>
              {% if project.is_hidden %}
                <a href="{{ url_for('admin.project_toggle', project_id=project.id) }}" class="btn btn-sm btn-warning">
                  Enable
                </a>
                <a href="{{ url_for('admin.project_delete', project_id=project.id) }}" class="btn btn-sm"
                   onclick="if(!window.confirm('Are you sure you wish to delete this project?')) return false">
                  Delete
                </a>
              {% else %}
                {% if project.is_autoupdate %}
                <a href="{{ url_for('public.project_autoupdate', project_id=project.id) }}" class="btn btn-sm btn-primary">
                  Sync
                </a>
                {% endif %}
                <a href="{{ url_for('admin.project_toggle', project_id=project.id) }}" class="btn btn-sm">
                  Disable
                </a>
              {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
