{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>Projects</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Created</th>
              <th>Updated</th>
            </tr>
        </thead>
        {% for project in projects %}
        <tr>
            <td>
              <a href="{{ url_for('admin.project', project_id=project.id) }}">
                {{ project.name }}
              </a>
            </td>
            <td>{{ project.category.name }}
            <td>{{ project.created_at|format_date }}</td>
            <td>{{ project.updated_at|format_date }}</td>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
