{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
    <a href="{{ url_for('admin.resource_new') }}" class="btn btn-success btn-lg">Add resource</a>
    <h2>Components</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Added</th>
              <th>By</th>
            </tr>
        </thead>
        {% for resource in resources or data.items %}
        <tr>
            <td width="50%">
              <a href="{{ url_for('admin.resource', resource_id=resource.id) }}">
                {{ resource.name }}
              </a>
            </td>
            <td>{{ resource.of_type }}</td>
            <td>
              <i title="{{ resource.created_at }}">
                {{ resource.since }}
              </i>

              {% if resource.event_id %}
                @ {{ resource.event.name }}
              {% endif %}
            </td>
            <td>
              {% if resource.user_id %}
                {{ resource.user.username }} &nbsp;
              {% endif %}

              {% if resource.source_sync %}
              <a href="{{ url_for('admin.resource_sync', resource_id=resource.id) }}" class="btn btn-sm btn-warning">
                Sync
              </a>
              {% endif %}

              {% if not resource.is_visible %}
                <a href="{{ url_for('admin.resource', resource_id=resource.id) }}#EOF"
                   title="Please moderate and unhide if approved" class="btn btn-dark btn-sm">
                    Hidden</a>
              {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
  {% if data %}
    {% include "includes/pagination.html" %}
  {% endif %}
</div>
{% endblock %}
