{% from "macros/_form.html" import render_form %}

{% extends "admin/layout.html" %}

{% block content %}
<div class="container admin-rolenew">
    <h2 class="huge">New role</h2>
    {{ render_form(url_for('admin.role_new'), form, formid='roleNew') }}
</div>
<div class="container admin-defaults">
  <p>Suggestions:</p>
  <button type="button" class="btn btn-secondary">🖍️ Designer</button>
  <button type="button" class="btn btn-secondary">⚙️ Developer</button>
  <button type="button" class="btn btn-secondary">💡 Ideator</button>
  <button type="button" class="btn btn-secondary">🛡️ Coach</button>
</div>
{% endblock %}
