{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
    <a href="{{ url_for('admin.role_new') }}" class="btn btn-success btn-lg">Add role</a>
    <h2>Roles</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
              <th>Name</th>
              <th>Manage</th>
            </tr>
        </thead>
        {% for role in roles %}
        <tr>
            <td>
              <a href="{{ url_for('admin.role', role_id=role.id) }}">
                {{ role.name }}
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-sm btn-disabled">
                {{ role.user_count }}&nbsp;users
              </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
