{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
    <a href="{{ url_for('admin.user_new') }}" class="btn btn-success btn-lg">Add user</a>
    <h2>Users</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
              <th width="100%">Username</th>
              <th>Admin</th>
              <th>SSO</th>
              <th>Created</th>
              <th>Contact</th>
              <th>Password</th>
            </tr>
        </thead>
        {% for user in data.items %}
        <tr>
            <td style="{% if not user.active %}text-decoration:line-through; color:red;{% endif %}">
              <a href="{{ url_for('admin.user', user_id=user.id) }}">
                {{ user.username }}
              </a>
            </td>
            <td>{% if user.is_admin %}&#10003;{% endif %}</td>
            <td>{% if user.sso_id %}&#10003;{% endif %}</td>
            <td>{{ user.created_at|format_date }}</td>
            <td>
              <a href="mailto:{{ user.email }}" class="btn btn-sm btn-info">
                Email
              </a>
            </td><td>
              <a href="{{ url_for('admin.user_reset', user_id=user.id) }}" class="btn btn-sm btn-danger" onclick="if(!window.confirm('Reset the password of this user?')) return false">
                Reset
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>
  {% include "includes/pagination.html" %}
</div>
{% endblock %}
