{% extends "admin/layout.html" %}

{% block content %}
<div class="container admin-users">
    <a href="{{ url_for('admin.user_new') }}" class="btn btn-success btn-lg">Add user</a>

    <h2 class="float-left">Users</h2>

    {% include "includes/search.html" %}
    {% include "includes/pagination.html" %}

    <table class='table table-hover'>
        <thead>
            <tr>
              <th title="Activity count">
                Dribs
              </th>
              <th width="100%">
                <a href="?sort=username">Username</a>
                <div style="float:right">
                  <a href="?sort=admin" title="Administrator ?">Admin</a>
                </div>
              </th>
              <th>
                <a href="?sort=created">Created</a>
              </th>
              <th>
                <a href="?sort=updated">Updated</a>
              </th>
              <th>
                <a href="?sort=sso" title="Single Sign-on ?">SSO</a>
              </th>
              <th></th>
            </tr>
        </thead>
        {% for user in data.items %}
        <tr data-href="{{ url_for('admin.user', user_id=user.id) }}">
            <td>
              <a href="{{ url_for('public.user_profile', username=user.username) }}" class="btn btn-lg btn-light">
                  &nbsp;{{ user.activity_count }}&nbsp;
              </a>
            </td>
            <td {% if not user.active %}style="background:yellow" title="Account inactive"{% endif %}>
              {% if user.is_admin %}
              <div style="float:right">
                &#10003;
              </div>
              {% endif %}
              <b>{{ user.username }}</b>
            </td>
            <td>{{ user.created_at|format_date }}</td>
            <td>{{ user.updated_at|format_date }}</td>
            <td>{% if user.sso_id %}&#10003;{% endif %}</td>
            <td><div class="btn-group">
              <a href="{{ url_for('admin.user', user_id=user.id) }}" class="btn btn-warning" title="Edit user">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="mailto:{{ user.email }}" title="Send an email" class="btn btn-info">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="{{ url_for('admin.user_reset', user_id=user.id) }}" class="btn btn-dark" onclick="if(!window.confirm('Reset the password of this user?')) return false" title="Reset the password">
                <i class="fa fa-asterisk"></i>
              </a>
              {% if user.active %}
              <a href="{{ url_for('admin.user_deactivate', user_id=user.id) }}" class="btn btn-primary" onclick="if(!window.confirm('Deactivate user {{ user.username }} ?')) return false" title="Block user account">
                <i class="fa fa-exclamation"></i>
              </a>
              {% else %}
              <a href="{{ url_for('admin.user_reactivate', user_id=user.id) }}" class="btn btn-danger" onclick="if(!window.confirm('Activate user {{ user.username }} ?')) return false">
                Activate
              </a>
              {% endif %}
            </div></td>
        </tr>
      {% endfor %}
    </table>
  {% include "includes/pagination.html" %}
</div>
{% endblock %}
