{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
    <a href="{{ url_for('admin.user_new') }}" class="btn btn-success btn-lg">Add user</a>
    <h2>Users</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
              <th width="100%">Username</th>
              <th>Contact</th>
              <th>Created</th>
              <th>Admin</th>
            </tr>
        </thead>
        {% for user in users %}
        <tr>
            <td style="{% if not user.active %}text-decoration:line-through; color:red;{% endif %}">
              <a href="{{ url_for('admin.user', user_id=user.id) }}">
                {{ user.username }}
              </a>
            </td><td>
              <a href="mailto:{{ user.email }}" class="btn btn-sm btn-info">
                Email
              </a>
            </td>
            <td>{{ user.created_at|format_date }}</td>
            <td>{{ user.is_admin }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
