{% extends "admin/layout.html" %}

{% block content %}
<div class="container admin-users">
    <a href="{{ url_for('admin.user_new') }}" class="btn btn-success btn-lg">Add user</a>

    <h2 class="float-left">Users</h2>

    <form action="{{ url_for(endpoint) }}" class="row g-3">
      <div class="col-auto ml-3 pr-0">
        <input class="form-control" placeholder="Search ..." name="search">
      </div><div class="col-auto">
        <input class="btn btn-light" type="submit" value="Go">
      </div>
    </form>
  {% include "includes/pagination.html" %}
    <table class='table table-hover'>
        <thead>
            <tr>
              <th width="100%">
                <a href="?sort=username">Username</a>
              </th>
              <th>
                <a href="?sort=id">Dribs</a>
              </th>
              <th>SSO</th>
              <th>
                <a href="?sort=admin">Admin</a>
              </th>
              <th>
                <a href="?sort=created">Created</a>
              </th>
              <th>Actions</th>
            </tr>
        </thead>
        {% for user in data.items %}
        <tr>
            <td {% if not user.active %}style="background:yellow" title="Account inactive"{% endif %}>
              <a href="{{ url_for('public.user', username=user.username) }}">
                {{ user.username }}
              </a>
            </td>
            <td>{{ user.activity_count }}</td>
            <td>{% if user.sso_id %}&#10003;{% endif %}</td>
            <td>{% if user.is_admin %}&#10003;{% endif %}</td>
            <td>{{ user.created_at|format_date }}</td>
            <td><div class="btn-group">
              <a href="{{ url_for('admin.user', user_id=user.id) }}" class="btn btn-primary">
                Edit
              </a>
              <a href="mailto:{{ user.email }}" class="btn btn-info">
                Email
              </a>
              <a href="{{ url_for('admin.user_reset', user_id=user.id) }}" class="btn btn-warning" onclick="if(!window.confirm('Reset the password of this user?')) return false">
                Reset
              </a>
              {% if user.active %}
              <a href="{{ url_for('admin.user_deactivate', user_id=user.id) }}" class="btn btn-danger" onclick="if(!window.confirm('Deactivate user {{ user.username }} ?')) return false">
                Block
              </a>
              {% else %}
              <a href="{{ url_for('admin.user_reactivate', user_id=user.id) }}" class="btn btn-success" onclick="if(!window.confirm('Activate user {{ user.username }} ?')) return false">
                Activate
              </a>
              {% endif %}
            </div></td>
        </tr>
      {% endfor %}
    </table>
  {% include "includes/pagination.html" %}
</div>
{% endblock %}
