{% macro render_project_buttons(project, project_starred, past_version, allow_edit, lock_editing, allow_revert, allow_post, current_user, main_view) %}

{% if not project.event.lock_resources %}
  <div class="btn-group project-tab-buttons" role="group" aria-label="Switch view">

    <a class="btn btn-light{% if not main_view %} active{% endif %}" id="project-tab-md" href="{{ url_for('project.project_view', project_id=project.id) }}"
       title="Go to the Pitch">
      <i class="fa fa-book" aria-hidden="true"></i>
      {%- if not main_view %}{% if project.is_challenge %} Challenge
      {%- else %} Pitch{% endif %}{% endif %}
    </a>
    <a class="btn btn-light{% if main_view %} active{% endif %}" id="dribs-tab-md" href="{{ url_for('project.get_log', project_id=project.id) }}"
       title="Log and progress review">
      <i class="fa fa-paperclip" aria-hidden="true"></i>
      {% if main_view %} Log{% endif %}
    </a>

  </div>
{% endif %}

<div class="btn-group project-edit-buttons" role="group" aria-label="Project tools">

  {% if past_version and allow_revert %}
    <a class="btn btn-lg btn-dark" title="Restore this version"
       href="{{ url_for('project.post_revert', project_id=project.id, activity_id=past_version) }}"
      onclick="if(!window.confirm('Are you sure you wish to restore this version of the project data?')) return false">&#9100; Restore</a>
  {% endif %}

  {% if allow_post %}
     <a id="project-post" href="{{ url_for('project.project_post', project_id=project.id) }}"
        title="Post to this project" class="btn btn-lg btn-success">
       <i class="fa fa-clock-o" aria-hidden="true"></i>
       Post
     </a>
  {% elif current_user and current_user.active %}
    <a id="project-comment-top" href="{{ url_for('project.project_comment', project_id=project.id) }}"
        title="Write a public comment" class="btn btn-lg btn-info">
       <i class="fa fa-comment" aria-hidden="true"></i>
       Comment
    </a>
  {% endif %}
  {% if allow_edit %}
    <a href="{{ url_for('project.project_edit', project_id=project.id) }}"
       title="Edit project" class="btn btn-lg btn-warning">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
  {% endif %}
  {% if not lock_editing and not project.event.has_finished and not project.event.lock_resources and not past_version %}
    {% if project_starred %}
      <a class="btn btn-lg btn-secondary" data-bs-toggle="modal" data-bs-target="#addUser"
        title="Invite someone to this project">
        <i class="fa fa-child" aria-hidden="true"></i>
      </a>
    {% elif project.is_approved %}
      <a href="{{ url_for('project.project_star', project_id=project.id) }}" class="btn btn-lg btn-success project-star"
        title="{% if project.is_challenge %}Follow this challenge{% else %}Join the project{% endif %}">
         <i class="fa fa-thumbs-up"></i>
         Join
      </a>
    {% endif %}
  {% endif %}

</div><!-- / project-tools -->
<br clear="all" />
{% endmacro %}

{% macro render_project_image(project) %}

<a href="#top" class="go-up text-info" title="Scroll up!"><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true"></i></a>

{% if project.image_url %}
  <div class="project-image-container"
    style="background-image:url('{{project.image_url|quote_plus}}'); {% if project.logo_color %}background-color:{{project.logo_color}}; opacity:1.0{% endif %}"
    data-href="{{project.image_url|quote_plus}}">
  </div>
{% endif %}

{% endmacro %}

{% macro render_project_head(project) %}

<!-- Main project content container -->
<div class="jumbotron bg-white text-dark tab-content project-page phase-{{ project.phase }} {% if project.event.lock_resources %}resource-page{% endif %}" {% if project.logo_color %} style="border-color:{{project.logo_color}}"{% endif %}>

  {% if project.ident %}
    <div class="project-ident">{{ project.ident }}</div>
  {% endif %}

  {% if project.event.lock_resources %}
  <a href="{{ url_for('public.event_resources', event_id=project.event.id) }}"
     class="float-right btn btn-lg btn-outline-light"
     title="Recommended at this project stage">
       <i class="fa fa-life-ring" aria-hidden="true"></i>
       {{project.phase}}
  </a>
  {% elif project.score and not project.is_challenge %}
    <div class="mb-4 project-score">
      <a href="{{ url_for('public.event_stages', event_id=project.event.id) }}#{{project.phase}}">
        <div class="progress"
          title="({{project.score}}) {{project.phase}}"
          alt="A score based on profile completeness and voting results">
          <div class="progress-bar" role="progressbar"
               aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70"
               style="width:{{project.score}}%">
          </div>
        </div>
      </a>
      <div class="preview-challenge mt-2 hidden">
        <a title="Click to show the Challenge from which this project started"
           href="{{ url_for('project.get_challenge', project_id=project.id) }}">
             Challenge</a>
        <i class="fa fa-trophy" aria-hidden="true"></i>
        Project
      </div>
    </div>
  {% elif challenge_when %}
    <div class="project-score">
      <div class="preview-challenge">
        <h4>Challenge view</h4>
        <a title="Go back to the current version of this Project"
           href="{{ url_for('project.project_view', project_id=project.id) }}">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
           Back to Project</a>
      </div>
    </div>
  {% endif %}

  {% if project.category %}
    <div class="project-category">
      {% if project.category.logo_icon %}
        <i class="fa fa-{{project.category.logo_icon}}"></i>
      {% else %}
        <span class="project-category-hexagon">⬣</span>
      {% endif %}
      <a href="#"
         data-bs-toggle="modal" data-bs-target="#categoryModal" title="Show Category">
          {{ project.category.name }}</a>
    </div>
  {% endif %}

  <div class="project-headline">
    {% if project.logo_icon %}
      {% if project.logo_icon|length==1 %}
        <span class="logo_icon">{{project.logo_icon}}</span>
      {% else %}
        <i class="fa fa-{{project.logo_icon}}"{% if project.logo_color %} style="color:{{project.logo_color}}"{% endif %}></i>
      {% endif %}
    {% endif %}

    <h2 class="project-name">{{project.name}}</h2>

  {% if project.summary %}
    <p class="project-summary">
      {{project.summary}}
    </p>
  {% endif %}

  {% if project.hashtag %}
    <p class="project-hashtag">
      <a href="{{ project.event.community_url or '#' }}" target="_blank" rel="noopener noreferrer">
        {{project.hashtag}}
      </a>
    </p>
  {% endif %}

  </div><!-- /.project-name -->
{% endmacro %}
