<!-- Based on Hexagon Tiles by Graham Pyne http://codepen.io/gpyne/pen/iElhp/ -->
{% macro render_project_hexagon(project) %}
	<a href="{{ url_for('project.project_view', project_id=project.id) }}"
		 class="hexagon {{
		 	'challenge' if project.is_challenge else 'project'
		 }} category-highlight"
		 category-id="{{ project.category_id }}"
		 {% if project.summary %}
				 data-toggle="tooltip" data-html="true"
				 title="{{ project.summary }}{#

		 		 > Hashtag if available in tooltip:
	 		 #}{% if project.hashtag %}<span>{{project.hashtag}}</span>{% endif %}{#

				 > Add image in tooltip:
			 #}{% if project.image_url %}<img src='{{project.image_url}}'>{% endif %}{#

				 > Status icons in tooltip:
			 #}<div>{% if project.contact_url %}&#x1f44b;{% endif %}{#
			 #}{% if project.webpage_url %}&#x1f310;{% endif %}{#
			 #}{% if project.download_url %}&#x1f4c2;{% endif %}{#
			 #}{% if project.source_url %}&#x1f4bb;{% endif %}</div>"
		 {% endif %}
		 {% if project.logo_color %}
		 	 style="border-bottom-color:{{project.logo_color}}"
		 {% endif %}
		>
		<div class="hexagontent {{
	        'text-md' if 32 < project.name|length else 'text-sm' if 42 < project.name|length
		}}{{ ' with-icon' if project.logo_icon }}">
			{% if project.is_challenge and project.team %}
				<span class="team-count" title="# following">{{ project.team|count }}</span>
			{% endif %}
			{% if project.logo_icon %}
				<i class="fa fa-{{project.logo_icon}}"></i><br>
			{% endif %}
			<span class="project-name">{{ project.name|truncate(64, True, '..') }}</span>
			{% if project.image_url %}
				<div class="hexaicon" style="background-image:url('{{project.image_url}}')"></div>
			{% endif %}
		</div>
		{% if project.score and project.score > 0 %}
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70" style="width:{{project.score}}%">
			</div>
		</div>
		{% endif %}
	</a>
{% endmacro %}

{% macro render_empty_hexagon() %}
	<a class="hexagon challenge blank">
		<div class="hexagontent"></div>
	</a>
{% endmacro %}

{% macro render_project_card(project) %}
	<a class="col-md-5 ms-auto card {{ 'challenge' if project.is_challenge else 'project' }}"
		 href="{{ url_for('project.project_view', project_id=project.id) }}">

		{% if project.image_url %}
			<img class="project-image" src="{{project.image_url}}">
		{% endif %}

		{% if project.score and not project.is_challenge %}
		<div class="project-score">
			<div class="progress" title="A score based on profile completeness and voting results">
				<div class="progress-bar" role="progressbar" aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70" style="width:{{project.score}}%">
					{{project.score}}
				</div>
			</div>
			<center>{{ project.event.name }}</center>
		</div>
		{% endif %}

		<div class="card-body">
			<h5 class="card-title">{{ project.name }}</h5>
			<p class="card-text">{{ project.summary }}</p>
		</div>
	</a>
{% endmacro %}

{% macro render_home_event(event) %}
	<div class="col-lg-4 an-event"><div class="card">
	    {% if event.logo_url %}
	    <div class="card-img-top">
	      <img src="{{ event.logo_url }}" title="{{ event.hostname }}">
	    </div>
	    {% endif %}
	    <div class="card-body">
	      {% if event.lock_resources %}
	        <i class="fa fa-cubes" style="float:right"></i>
	      {% else %}
	        <i class="fa fa-code" style="float:right"></i>
	      {% endif %}
	      <h3 class="card-title">
	        <a href="{{ url_for('public.event', event_id=event.id) }}">
	          {{event.name}}</a>
	      </h3>
	      <div class="card-text">
	        {% if not event.lock_resources %}
	            <p class="an-event-meta">
	              <b>{{ event.date }}</b>
	              <span>{{ event.location }}</span>
	            </p>
	        {% endif %}
	        <p class="an-event-description">
	          {{event.summary or event.description or event.oneliner|markdown|striptags|truncate(500)}}
	        </p>
	      </div>
	      <div class="btn-group an-event-actions" role="group">
	        {% if event.webpage_url %}
	          <a href="{{ event.webpage_url }}" class="btn btn-info">
	            Information</a>
	        {% endif %}
	        {% if event.lock_resources %}
	            <a href="{{ url_for('public.event_instruction', event_id=event.id) }}" class="btn btn-info">
	                Resources
	            </a>
	        {% elif event.has_finished %}
	            <a href="{{ url_for('public.event', event_id=event.id) }}" class="btn btn-warning">
	                Results
	            </a>
	        {% else %}
	            <a href="{{ url_for('public.event', event_id=event.id) }}" class="btn btn-warning">
	                Challenges
	            </a>
	        {% endif %}
	      </div>
	    </div><!-- /.card-body -->
	</div></div>
{% endmacro %}
