{% macro render_project_tooltip(project) %}
	data-toggle="tooltip"
	data-ident="{{ project.ident or '' }}"
	data-status="{{ project.summary|truncate(140, True, '..') }}"
	data-imageurl="{{ project.image_url|quote_plus }}"{#
		> Status icons in tooltip:
	#}data-summary="{{ project.phase }}"
{% endmacro %}

<!-- Based on Hexagon Tiles by Graham Pyne http://codepen.io/gpyne/pen/iElhp/ -->
{% macro render_project_hexagon(project) %}
	<a href="{{ url_for('project.project_view', project_id=project.id) }}"
		 class="hexagon {{
		 	'challenge' if project.is_challenge else 'project'
		 }}{{
		 	' stage-%d' % project.progress if project.progress
		 }} category-highlight"
		 {% if project.category_id %}
		 	 category-id="{{ project.category_id }}"
		 {% endif %}
		 {% if project.logo_color %}
		 	 style="border-bottom-color:{{ project.logo_color }}"
		 {% endif %}
		 {{ render_project_tooltip(project) }}
		>
		 {{ render_hexagontent(project) }}
		{% if project.is_challenge %}
			<div class="team-counter" title="Team size ({{ project.score }})">
				{% if project.score == 1 %}
					<i class="fa fa-user"></i>
				{% elif project.score == 2 %}
					<i class="fa fa-user"></i><i class="fa fa-user"></i>
				{% elif project.score > 2 %}
					<i class="fa fa-users"></i>
				{% endif %}
			</div>
		{% elif project.score and project.score > 0 %}
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70" style="width:{{project.score}}%">
				</div>
			</div>
		{% endif %}
	</a>
{% endmacro %}

{% macro render_challenge_hexagon(project) %}
	<a href="{{ url_for('project.get_challenge', project_id=project.id) }}"
		 class="hexagon challenge category-highlight"
		 {% if project.category_id %}
		 	 category-id="{{ project.category_id }}"
		 {% endif %}
		 {{ render_project_tooltip(project) }}
		>
		 {{ render_hexagontent(project) }}
	</a>
{% endmacro %}

{% macro render_hexagontent(project) %}
	<div class="hexagontent {{
        'text-md' if 32 < project.name|length else 'text-sm' if 42 < project.name|length
	}}{{ ' with-icon' if project.logo_icon or project.image_url }}">
		{% if project.score and project.score > 90 %}
			<span class="team-boost" title="Skyrocketing">🚀</span>
		{% elif project.score and project.score > 69 %}
			<span class="team-boost" title="Trending">🔥</span>
		{% endif %}
		<span class="project-name">{{ project.name|truncate(60, True, '..') }}</span>
		{% if project.image_url or project.logo_icon or project.ident %}
			<div class="hexaicon" style="{% if project.image_url %}background-color:{{project.logo_color or '#FFF'}};background-image:url('{{project.image_url|quote_plus}}'){% endif %}">
				{% if project.ident %}
					<span class="project-ident">{{ project.ident }}</span>
				{% elif project.logo_icon %}
					<i class="fa fa-{{project.logo_icon}}"></i>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endmacro %}

{% macro render_embed_event(event, projects, showNav=False) %}
<div class="embed-event">
	{% if showNav %}
  <div class="btn-group mb-4" role="group" aria-label="Embedded navigation">
    <a href="{{ url_for('public.event', event_id=event.id) }}" target="_blank" class="btn btn-dark">
      <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
      {{ event.name }}
    </a>
  </div>
	{% endif %}
  <div class="honeycomb">
    <div class="ibws-fix">
    {% for project in projects %}
			<a href="{{ url_for('project.project_view', project_id=project.id) }}"
         target="_parent"
				 class="hexagon {{
		 		 	'challenge' if project.is_challenge else 'project'
		 		 }}{{
		 		 	' stage-%d' % project.progress if project.progress
		 		 }}"
		 		 {{ render_project_tooltip(project) }}>
        <div class="hexagontent">
          {% if project.logo_icon %}
          <i class="fa fa-{{project.logo_icon}}"></i>
          {% endif %}
        </div>
      </a>
      {% if showNav and loop.index % 7 == 0 %}
        </div><div class="ibws-fix">
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div><!-- /.embed-event -->
{% endmacro %}

{% macro render_empty_hexagon() %}
	<a class="hexagon challenge blank">
		<div class="hexagontent"></div>
	</a>
{% endmacro %}

{% macro render_project_card(project) %}
	<a class="card mr-4 flex-row flex-wrap {{ 'challenge' if project.is_challenge else 'project' }}"
		 href="{{ url_for('project.project_view', project_id=project.id) }}"
		 style="width: 100%">

		{% if project.image_url %}
			<div class="card-header border-0">
				<img height="60" class="card-img-left" src="{{project.image_url}}">
			</div>
		{% endif %}
    
    <div class="card-block px-2 p-3">
		 <div class="card-body">

				{% if project.score and not project.is_challenge %}
				<div class="project-score float-right">
					<div class="progress" title="Summary of progress" style="width:260px">
						<div class="progress-bar" role="progressbar" style="width:{{project.score}}%">{{project.score}}</div>
					</div>
				</div>
				{% endif %}

				<h5 class="card-title">{{ project.name }}</h5>
				<div style="font-size:10pt; color: black">
					{{ project.summary }}

					<p class="project-stats"><table>
			    	<th>People</th><td>{{ project.stats.people }} &nbsp;</td>
			    	<th>Total</th><td>{{ project.stats.total }} &nbsp;</td>
			    	<th>Dribs</th><td>{{ project.stats.updates }} &nbsp;</td>
			    	<th>Start</th><td>{{ project.created_at }} &nbsp;</td>
			    </table>
					</p>
				</div>

			</div>
		</div>
	</a>
{% endmacro %}

{% macro render_home_event(event, details=True) %}
	<div class="col-lg-4 an-event mb-1"><div class="card">
			<div title="{{ event.hostname }}"
				{% if event.gallery_url %}
				  class="card-img-top gallery-img" style="background-image: url('{{ event.gallery_url }}')"
		    {% elif event.logo_url %}
		      class="card-img-top" style="background-image: url('{{ event.logo_url }}')"
		    {% endif %}>
			</div>
	    <div class="card-body">
	      {% if not event.lock_resources %}
		      <h3 class="card-title">
		        <a href="{{ url_for('public.event', event_id=event.id) }}">
		          {{ event.name }}</a>
		      </h3>
				{% endif %}
	      <div class="card-text">
	        {% if not event.lock_resources %}
            <p class="an-event-meta">
              <span>{{ event.date }}</span>
              {% if event.location %}
	            <i class="fa fa-map"></i>
	            <span>{{ event.location }}</span>
	          {% endif %}
            </p>
	        {% endif %}
	    	{% if details %}
	        <p class="an-event-description">
	          {{event.summary or event.description|truncate(300) or event.oneliner|markdown|striptags|truncate(300)}}
	        </p>
	      </div>
	      <div class="an-event-actions text-center">
	        {% if event.lock_resources %}
            <a href="{{ url_for('public.event_stages', event_id=event.id) }}" class="btn btn-lg btn-warning">
			 				  <i class="fa fa-life-ring" aria-hidden="true"></i>
                {{ event.name }}
            </a>
          {% else %}
          	{% if event.project_count %}
          		<a href="{{ url_for('public.event', event_id=event.id) }}" class="btn">
			          {% if event.has_finished %}
			            <span>{{ event.project_count }}</span>
			            <i class="fa fa-star" aria-hidden="true"></i>
		              Results
			          {% elif event.has_started %}
			            <span>{{ event.project_count }}</span>
			            <i class="fa fa-cube" aria-hidden="true"></i>
		              Challenges
			          {% else %}
			            <span>{{ event.project_count }}</span>
			            <i class="fa fa-arrow-right" aria-hidden="true"></i>
		              Projects
			          {% endif %}
	        		</a>
			      {% endif %}
			      {% if event.webpage_url and not event.has_finished %}
					  	<a href="{{ event.webpage_url }}" class="btn btn-light" target="_blank">
						    <i class="fa fa-ticket" aria-hidden="true"></i>
						    Register
					    </a>
					  {% endif %}
		      {% endif %}
		  	{% endif %}
	      </div>
	    </div><!-- /.card-body -->
	</div></div>
{% endmacro %}

{% macro render_featured_event(event, active=False) %}
	<div class="carousel-item{% if active %} active{% endif %}">
		<svg class="bd-placeholder-img" width="100%" height="100%"
				 xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
			{% if event.background_image %}
				 <image width="100%" height="100%"
				 			  xlink:href="{{ event.background_image }}"
								preserveAspectRatio="xMinYMin slice"/>
			{% else %}
				 <defs><!-- https://toolcool.org/svg-stripes-maker-react/ -->
		      <pattern id="svg-stripes-pattern-32796" patternTransform="rotate(299)" width="100%" height="60" x="0" y="0" patternUnits="userSpaceOnUse">
		          <animate attributeName="y" begin="0s" dur="375s" from="0" to="5000px" repeatCount="indefinite" fill="freeze"></animate>
		          <g>
		              <rect x="0" y="0" width="100%" height="20" fill="rgba(246, 246, 246, 1)"></rect>
		              <rect x="0" y="20" width="100%" height="10" fill="rgba(227, 227, 227, 1)"></rect>
		              <rect x="0" y="30" width="100%" height="20" fill="rgba(255, 207, 175, 1)"></rect>
		              <rect x="0" y="50" width="100%" height="10" fill="rgba(255, 255, 255, 1)"></rect>
		          </g>
		      </pattern>
		     </defs>
		     <rect x="0" y="0" width="100%" height="100%" fill="url(#svg-stripes-pattern-32796)"></rect>
			{% endif %}
		</svg>

		<div class="container">
			<div class="carousel-caption">

  			{% include "includes/eventhome.html" %}

			</div><!-- /.carousel-caption -->
		</div>
	</div><!-- /.carousel-item -->
{% endmacro %}
