{% macro render_project_tooltip(project) %}
	data-ident="{{ project.ident or '' }}"
	data-status="{{ project.summary|truncate(140, True, '..') }}"
	data-imageurl="{{ project.image_url|quote_plus }}"{#
		> Status icons in tooltip:
	#}data-summary="{{ project.phase }}"
{% endmacro %}

<!-- Based on Hexagon Tiles by Graham Pyne http://codepen.io/gpyne/pen/iElhp/ -->
{% macro render_project_hexagon(project) %}
	<a href="{{ url_for('project.project_view', project_id=project.id) }}"
		 class="hexagon {{
		 	'challenge' if project.is_challenge else 'project'
		 }}{{
		 	' stage-%d' % project.progress if project.progress
		 }} category-highlight"
		 {% if project.category_id %}
		 	 category-id="{{ project.category_id }}"
		 {% endif %}
		 {% if project.logo_color %}
		 	 style="border-bottom-color:{{ project.logo_color }}"
		 {% endif %}
		 {{ render_project_tooltip(project) }}
		>
		 {{ render_hexagontent(project) }}
		{% if project.is_challenge %}
			<div class="team-counter" title="Team size ({{ project.score }})">
				{% if project.score == 1 %}
					<i class="fa fa-user"></i>
				{% elif project.score == 2 %}
					<i class="fa fa-user"></i><i class="fa fa-user"></i>
				{% elif project.score > 2 %}
					<i class="fa fa-users"></i>
				{% endif %}
			</div>
		{% endif %}
	</a>
{% endmacro %}

{% macro render_challenge_hexagon(project) %}
	<a href="{{ url_for('project.get_challenge', project_id=project.id) }}"
		 class="hexagon challenge category-highlight"
		 {% if project.category_id %}
		 	 category-id="{{ project.category_id }}"
		 {% endif %}
		 {{ render_project_tooltip(project) }}
		>
		 {{ render_hexagontent(project) }}
	</a>
{% endmacro %}

{% macro render_hexagontent(project) %}
	<div class="hexagontent {{
        'text-md' if 32 < project.name|length else 'text-sm' if 42 < project.name|length
	}}{{ ' with-icon' if project.logo_icon or project.image_url }}"
		title="{{ project.summary|truncate(200, True, '..') }}">
		{% if project.score and project.score > 90 %}
			<span class="team-boost" title="Skyrocketing">🚀</span>
		{% elif project.score and project.score > 69 %}
			<span class="team-boost" title="Trending">🔥</span>
		{% endif %}
		<span class="project-name">{{ project.name|truncate(60, True, '..') }}</span>
		{% if project.image_url or project.logo_icon or project.ident %}
			<div class="hexaicon" style="{% if project.image_url %}background-color:{{project.logo_color or '#FFF'}};background-image:url('{{project.image_url|quote_plus}}'){% endif %}">
				{% if project.ident %}
					<span class="project-ident">{{ project.ident }}</span>
				{% elif project.logo_icon %}
					<i class="fa fa-{{project.logo_icon}}"></i>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endmacro %}

{% macro render_empty_hexagon() %}
	<a class="hexagon challenge blank">
		<div class="hexagontent"></div>
	</a>
{% endmacro %}

{% macro render_project_card(project) %}
	<div class="col-lg-4 mb-4">
	    <a class="card {{ 'challenge' if project.is_challenge else 'project' }}"
		   href="{{ url_for('project.project_view', project_id=project.id) }}">
			<div class="card-header w-100">
				{% if project.image_url %}
					<img height="60" class="card-img-left pe-3" src="{{project.image_url}}">
				{% endif %}
				<h5 class="card-title">{{ project.name }}</h5>
				{% if project.score and not project.is_challenge %}
					<div class="project-score">
						<div class="progress" title="Summary of progress">
							<div class="progress-bar" role="progressbar" style="width:{{project.score}}%">{{project.score}}</div>
						</div>
					</div>
				{% endif %}
			</div>
		    <div class="card-body">
				<div class="card-text">
					<p class="project-summary">
						{{ project.summary }}
					</p>
					<table class="project-stats">
			    	{% if project.stats and project.stats.people %}
			    		<td>People:</td><th>{{ project.stats.people }}</th>
				    	<td>Posts:</td><th>{{ project.stats.total }}</th>
				    	<td>Dribs:</td><th>{{ project.stats.updates }}</th>
						{% endif %}
			    	{% if project.age %}
			    		<td>Started:</td><th>{{ project.age|since_date }}</th>
						{% endif %}
				  </table>
				</div>
			</div>
	    </a>
	</div>
{% endmacro %}

{% macro render_resource_card(project) %}
	<div class="col-lg-4 mb-4">
	    <div class="card challenge">
			<div class="card-header w-100">
				{% if project.image_url %}
					<img height="60" class="card-img-left pe-3" src="{{project.image_url}}">
				{% endif %}
				<h5 class="card-title">{{ project.name }}</h5>
				<div class="project-score">
					<div class="progress" title="Summary of progress">
						<div class="progress-bar" style="visibility:hidden;width:0px"></div>
						{{project.phase}}
					</div>
				</div>
			</div>
		    <div class="card-body">
				<div class="card-text">
					<p class="project-summary">
						{{ project.summary }}
					</p>
				</div>
			</div>
			<div class="card-footer">

			  {% if project.download_url %}
			    <a href="{{ project.download_url }}" target="_blank" rel="noopener noreferrer"
			       class="btn btn-sm btn-light text-dark">
			   		Download</a>
			  {% endif %}

			  {% if project.source_url %}
			    <a href="{{ project.source_url }}" target="_blank" rel="noopener noreferrer"
			       class="btn btn-sm btn-light text-dark">
			   		Source</a>
			  {% endif %}
			  
			  <a href="{{ url_for('project.project_view', project_id=project.id) }}" 
			  	 class="float-right btn btn-sm btn-info">
		   		 Details ...</a>
			</div>
	    </div>
	</div>
{% endmacro %}

{% macro render_project_head(project) %}

	{% if project.score and project.score < 1 and allow_edit and current_event.aftersubmit %}
	  <div class="jumbotron projectnew-boilerplate alert alert-dismissible">
	    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	    <div class="container scroll-after-500">
	      {{ current_event.aftersubmit|markdown }}
	    </div>
	  </div>
	{% endif %}

	<a href="#top" class="go-up text-info" title="Scroll up!"><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true"></i></a>

	<div class="btn-group project-edit-buttons" role="group" aria-label="Project tools">

	  {% if past_version and allow_revert %}
	    <a class="btn btn-lg btn-dark" title="Restore this version"
	       href="{{ url_for('project.post_revert', project_id=project.id, activity_id=past_version) }}"
	      onclick="if(!window.confirm('Are you sure you wish to restore this version of the project data?')) return false">&#9100; Restore</a>
	  {% endif %}

	  {% if allow_post %}
	     <a id="project-post" href="{{ url_for('project.project_post', project_id=project.id) }}"
	        title="Post to this project" class="btn btn-lg btn-success">
	       <i class="fa fa-clock-o" aria-hidden="true"></i>
	       Post
	     </a>
	  {% elif current_user and current_user.active and not project.event.lock_resources %}
	     <a id="project-comment" href="{{ url_for('project.project_comment', project_id=project.id) }}"
	        title="Write a public comment" class="btn btn-lg btn-info">
	       <i class="fa fa-clock-o" aria-hidden="true"></i>
	       Comment</a>
	  {% endif %}
	  {% if allow_edit %}
	    <a href="{{ url_for('project.project_edit', project_id=project.id) }}"
	       title="Edit project" class="btn btn-lg btn-warning">
	      <i class="fa fa-pencil" aria-hidden="true"></i>
	    </a>
	  {% endif %}

	  {% if not lock_editing and not project.event.has_finished and not project.event.lock_resources and not past_version %}
	    {% if project_starred %}
	      <a class="btn btn-lg btn-info" data-bs-toggle="modal" data-bs-target="#addUser"
	        title="Invite someone to this project">
	        <i class="fa fa-child" aria-hidden="true"></i>
	      </a>
	    {% else %}
	      <a href="{{ url_for('project.project_star', project_id=project.id) }}" class="btn btn-lg btn-success project-star"
	        title="{% if project.is_challenge %}Follow this challenge{% else %}Join the project{% endif %}">
	         <i class="fa fa-thumbs-up"></i>
	         Join
	      </a>
	    {% endif %}
	  {% endif %}

	</div><br clear="all">

	{% if project.image_url %}
	  <div class="project-image-container"
	    style="background-image:url('{{project.image_url|quote_plus}}'); {% if project.logo_color %}background-color:{{project.logo_color}}; opacity:1.0{% endif %}"
	    data-href="{{project.image_url|quote_plus}}">
	  </div>
	{% endif %}

<!-- Main project content container -->
<div class="jumbotron project-page phase-{{ project.phase }} {% if project.event.lock_resources %}resource-page{% endif %}" {% if project.logo_color %} style="border-color:{{project.logo_color}}"{% endif %}>

  {% if project.ident %}
    <div class="project-ident">{{ project.ident }}</div>
  {% endif %}

  {% if project.event.lock_resources %}
  <a href="{{ url_for('public.event_resources', event_id=project.event.id) }}"
     class="me-4 float-right text-dark btn btn-default">
       <i class="fa fa-life-ring" aria-hidden="true"></i>
       Resource</a>
  {% elif project.score and not project.is_challenge %}
    <div class="project-score">
      <a href="{{ url_for('public.event_stages', event_id=project.event.id) }}#{{project.phase}}">
        <div class="progress"
          title="({{project.score}}) {{project.phase}}"
          alt="A score based on profile completeness and voting results">
          <div class="progress-bar" role="progressbar"
               aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70"
               style="width:{{project.score}}%">
          </div>
        </div>
      </a>
      <div class="preview-challenge mt-2 hidden">
        <a title="Click to show the Challenge from which this project started"
           href="{{ url_for('project.get_challenge', project_id=project.id) }}">
             Challenge</a>
        <i class="fa fa-trophy" aria-hidden="true"></i>
        Project
      </div>
    </div>
  {% elif challenge_when %}
    <div class="project-score">
      <div class="preview-challenge">
        <h4>Challenge view</h4>
        <a title="Go back to the current version of this Project"
           href="{{ url_for('project.project_view', project_id=project.id) }}">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
           Back to Project</a>
      </div>
    </div>
  {% endif %}

  {% if project.category %}
    <div class="project-category">
      {% if project.category.logo_icon %}
        <i class="fa fa-{{project.category.logo_icon}}"></i>
      {% else %}
        <span class="project-category-hexagon">⬣</span>
      {% endif %}
      <a href="#"
         data-bs-toggle="modal" data-bs-target="#categoryModal" title="Show Category">
          {{ project.category.name }}</a>
    </div>
  {% endif %}

  <div class="project-headline">
  {% if project.logo_icon %}
      <i class="fa fa-{{project.logo_icon}}"{% if project.logo_color %} style="color:{{project.logo_color}}"{% endif %}></i>
  {% endif %}
    <h2 class="project-name">{{project.name}}</h2>

  {% if project.summary %}
    <p class="project-summary">
      {{project.summary}}
    </p>
  {% endif %}

  {% if project.hashtag %}
    <p class="project-hashtag">
      <a href="{{ project.event.community_url or '#' }}" target="_blank" rel="noopener noreferrer">
        {{project.hashtag}}
      </a>
    </p>
  {% endif %}

  </div><!-- /.project-name -->

  {% if not project.event.lock_resources %}
    <div class="badges float-right">
      {% if project.autotext and project.longtext %}
          <a class="btn" id="project-tab-md" href="#project-md"
             title="Challenge pitch">
            <i class="fa fa-book m-2" aria-hidden="true"></i>
            Pitch</a>
      {% endif %}
      {% if project_team %}
        <a class="btn" id="team-tab-md" href="#team-md"
          title="Show team members">
          <i class="fa fa-user m-2" aria-hidden="true"></i>
          Team</a>
      {% endif %}
      {% if project.autotext %}
        <a class="btn" id="readme-tab-md" href="#readme-md"
           title="Readme content">
          <i class="fa fa-book m-2" aria-hidden="true"></i>
          Readme</a>
      {% endif %}
      {% if project_dribs %}
        <a class="btn" id="dribs-tab-md" href="#log"
           title="Play by play progress review">
          <span class="drib-count me-2">{{ project_dribs|length }}</span>
          Log</a>
      {% endif %}
    </div>
  {% endif %}

{% endmacro %}