/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

/*
Dribdat custom styles
*/

nav .section-header .section-header-logo {
  float: left;
  margin-right: 45px;
}
nav .section-header .section-header-logo img {
  height: 80px;
}
nav .section-header .section-header-content * {
  color: white;
}
nav .fa-comment {
  top: -7px;
  position: relative;
}

.home-page h2 a {
  text-align: center;
  font-weight: bold;
  color: #003;
}
.event-countdown {
  zoom: 0.8;
  left: 50%;
  position: relative;
  margin-left: -312px;
  width: 100%;
  margin-top: 50px;
}

.jumbotron.event-page {
  margin-top: 150px;
}
.event-page h1 {
  text-align: right;
  font-size: 60px;
  padding-right: 10px;
  line-height: 0;
  color: #999;
}

.project .hexagontent {
  color: black;
  font-weight: bold;
}
.hexagon:nth-child(2) { background-color: #f0e0a2; }
.hexagon:nth-child(3) { background-color: #adddcf; }
.hexagon:nth-child(4) { background-color: #777777; }
.hexagon:nth-child(5) { background-color: #bfb1d5; }
.hexagon:nth-child(6) { background-color: #abe1fd; }
.hexagon:nth-child(7) { background-color: #e8e7e5; }
.hexagon:nth-child(8) { background-color: #fed1be; }
.hexagon:nth-child(9) { background-color: #cccccc; }
.hexagon:nth-child(11) { background-color: #f0e0a2; }
.hexagon:nth-child(12) { background-color: #adddcf; }
.hexagon:nth-child(13) { background-color: #777777; }
.hexagon:nth-child(14) { background-color: #bfb1d5; }
.hexagon:nth-child(15) { background-color: #abe1fd; }
.hexagon:nth-child(16) { background-color: #e8e7e5; }
.hexagon:nth-child(17) { background-color: #fed1be; }
.hexagon:nth-child(18) { background-color: #cccccc; }
.hexagon:nth-child(20) { background-color: #f0e0a2; }
.hexagon:nth-child(21) { background-color: #adddcf; }
.hexagon:nth-child(22) { background-color: #777777; }
.hexagon:nth-child(23) { background-color: #bfb1d5; }
.hexagon:nth-child(24) { background-color: #abe1fd; }
.hexagon:nth-child(25) { background-color: #e8e7e5; }
.hexagon:nth-child(26) { background-color: #fed1be; }
.hexagon:nth-child(27) { background-color: #cccccc; }

.project-page img {
  max-height: 240px;
  max-width: 100%;
}
.project-page .started-at {
  text-align: right;
}
.project-page .details {
  float: left;
  font-size: 100%;
}

.container.with-event {
  margin-top: 120px;
}
