/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1 {
  color: #999;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

/*
Dribdat custom styles
*/

nav .section-header .section-header-logo {
  float: left;
  margin-right: 45px;
}
nav .section-header .section-header-logo img {
  height: 80px;
}
nav .section-header .section-header-content * {
  color: white;
}
nav .fa-comment {
  top: -7px;
  position: relative;
}

.home-page h2 {
  text-align: center;
  font-weight: bold;
}

.event-countdown {
  zoom: 0.8;
  -moz-transform: scale(0.8);
  left: 50%;
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  margin-left: -355px;
}
.event-countdown .flip-clock-label {
  display: none;
}
@media (max-width: 1280px) {
  .event-countdown {
    margin-left: -313px;
  }
}
@media (max-width: 992px) {
  .event-countdown {
    left: inherit;
    margin-left: 0px;
    margin-top: 10px;
  }
}

.community-embed { margin-top: 60px; }
.community-embed .fa-comment {
  position: relative;
  color: rgba(0, 0, 0, 0.1);
  font-size: 50px;
  left: -38px;
  top: -38px;
  line-height: 0px;
  clear: none;
  display: inherit;
}
@media (max-width: 750px) {
  .community-embed .fa-comment {
    display: none !important;
  }
}

.jumbotron.event-page {
  margin-top: 40px;
}
.event-page .honeycomb {
  margin: 30px 0px 100px 0px;
  text-align: left;
}
.project .hexagontent {
  overflow: hidden;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 0px #fff;
}
.project .hexagontent .fa {
  font-size: 240%;
}
.project .hexagontent .progress {
  margin-top: 6px;
  margin-bottom: 0px;
  height: 3px;
  position: relative;
  width: 72px;
  margin-left: -36px;
  left: 50%;
  opacity: 0.8;
}
.project.hexalist .hexagontent {
  overflow: visible;
  position: relative;
  transform: none;
  left: 30%;
  width: auto;
  text-align: left;
  margin-bottom: 10px;
}
.project.hexalist .hexagontent i.fa,
.project.hexalist .hexagontent br { display: none; }
.project.hexalist .hexagontent small { font-size: 100%; }
.project.hexalist .hexagontent .progress {
  float: left;
  position: initial;
  margin-right: 20px;
}
.project-info .progress {
  width: 100px;
  display: inline-block;
  margin-bottom: -5px;
  margin-left: 1em;
  margin-right: 5px;
}
.progress-bar {
  background-color: #3399f3;
}
.project-tools .progress-bar {
  min-width: 2em;
}
.hexagon {
  background-size: cover;
  background-position: center;
}
.hexagon:nth-child(even) { background-color: #f0e0a2; }
.hexagon:nth-child(odd) { background-color: #adddcf; }

.project-page .project-team {
  font-weight: normal;
  color: #999;
}
.project-page .project-image {
  max-height: 200px;
  max-width: 30%;
  float: left;
  margin-right: 40px;
}
.project-page .details {
  float: right;
  font-size: 100%;
  text-align: right;
}
.project-page .project-info {
  min-height: 240px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-bottom: 10px;
}
.project-page .project-star i {
  padding-right: 5px;
}
.project-page .project-longtext img {
  width: 100%;
}

.navbar-collapse .nav li {
    text-align: center;
}
.nav-categories .btn, .project-category.btn {
  opacity: 0.6;
  font-size: 16px;
  margin-bottom: 10px;
  min-height: 64px;
}
.nav-categories {
  margin: 10px;
}
.project-tools {
  float: right;
  margin-right: 15px;
  text-align: right;
}
.category-info {
  padding: 0 1em;
  margin-top: 6em;
  text-align: left;
}
.category-info img {
  width: 100%;
}

.container.with-event {
  margin-top: 120px;
}

.team-gravatar img {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px;
  border: 2px solid #eee;
}
