/* =============================================================================
    dribdat custom styles
   ========================================================================== */

/* universal */

section { overflow: auto; }
textarea { resize: vertical; }

.container.with-event {
  margin-top: 1em;
  clear: both;
}

.hidden { display: none; }
.bigger { font-size: 125%; }
.huge { font-size: 4rem; opacity: 0.6; }

/* Forms */
form input[type="checkbox"] {
  margin-right: 0.5em;
}
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}
.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  max-width: 25em;
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-project-post h4 {
  margin-top: 1em;
  font-weight: normal;
  text-align: center;
  font-size: 250%;
}
.form-project-post textarea {
  height: 4em;
}
.form-project-post .checkbox input {
  opacity: 1;
  margin-right: 1em;
}
.form-project-post .checkbox input:checked {
  opacity: 0;
}
.form-project-post .checkbox:before {
  font-family: "FontAwesome";
  font-weight: bold;
  color: orange;
  height: 1em;
  content: '\f005';
  margin-left: -.2em;
  position: absolute;
  font-size: 2em;
  margin-top: -.36em;
  z-index: -1;
}

.upload-note {
  font-size: 90%;
  margin: 1em 0;
  opacity: 0.8;
}
.admin .form-group .control-label {
  font-size: 125%; font-weight: bold;
}
.form-group .radio-inline {
  margin-right: 1em;
}
.admin .form-group .checkbox .help-inline {
  float: right;
  /* display: block; */
}
.admin .form-group .checkbox label {
  font-weight: bold;
}
.admin .form-group .checkbox label:hover {
  background: #ff3;
}
.admin-events .event-name {
  font-size: 125%;
}
.admin-projects .projects-extra {
  float:right; clear:both; margin-bottom:1em;
}

.scroll-after-500 {
  overflow-y: auto;
  max-height: 500px;
}
.alert .close {
  font-size: 1.4rem;
}

/* pagination */
.admin-search, .pagination { margin-bottom: 1em; clear: both; }
.pagination > * { margin-right: 0.5em; padding: 0.5em 0.8em; background: #eee; }

.admin .container table td { vertical-align: middle; }

.admin .card.stat {
  width: 20%;
  display: inline-block;
  vertical-align: bottom;
  background: #f55; color: #fff;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  /*border-top: 1px solid #eaeaea;*/
  /*color: #999999;*/
}
footer a {
  color: #999999;
}
footer p {
  float: right;
  margin-right: 25px;
}
footer ul {
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 10px;
}
footer .company {
  float: left;
  margin-left: 25px;
}
footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}
footer .footer-nav a { text-decoration: none }

ul.help-block {
  background-color: red; color: white; padding: 5px;
}

/* Overall layout headings and navigation */
.section-header .section-header-logo {
  float: left;
  margin-right: 45px;
}
.section-header .section-header-logo img {
  height: 6em;
  margin-bottom: 2em;
}
.section-header .event-hostname,
.section-header .event-location {
  font-size: 110%; color: #555;
  display: inline-block;
}
.section-header .event-hostname::before {
  content: ' - ';
}
.section-header .section-header-content div {
  color: initial;
}
.section-header .section-header-content .event-date {
  font-size: 120%;
}
.section-header a:hover {
  text-decoration: none;
}
@media (max-width: 760px) {
  .section-header .section-header-logo {
    position: relative;
    margin: 0px 10px 0 0;
  }
}

nav.navbar {
  margin-bottom: 2em;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  border: 0px;
}
nav.navbar .navbar-brand {
  color: black;
  background: white;
  border-radius: 10px;
}
nav .navbar-nav .fa {
  margin-left:  0.2em;
}
nav .navbar-nav .nav-item {
  margin-right: 0.4em;
  padding-right: 0.4em;
}
nav .nav-login {
  font-weight: bolder;
}
@media (min-width: 992px) {
  nav.navbar { padding: 0rem 1rem; }
}

.home-page h2 {
  text-align: center;
  font-weight: bold;
}
.home-page h1,
.home-page .home-nav {
  display: block;
  text-align: center;
}
.home-page .home-description {
  margin: 1em;
  font-size: 125%;
}
.home .start-event {
  margin: 1em;
}
.home .an-event .card {
  width: 100%;
  margin-bottom: 1em;
}
.home .an-event .card-img-top {
  max-height: 10em;
  overflow: hidden;
}
.home .an-event .card-img-top img {
  width: 100%;
}
.home .an-event-meta {
  font-size: 90%;
  color: #777;
  text-align: right;
}
.home .an-event-meta b {
  display: block;
}

/* Customize the flipclock widget */
.event-countdown .flip-clock {
  margin-top: 20px;
}
.event-countdown .flip-clock-label {
  display: none;
}
@media (max-width: 1200px) {
  .event-countdown .flip-clock .flip-clock-group * {
    width: 38px;
  }
  .event-countdown .flip-clock {
    position: relative;
    left: 50%;
    width: 360px;
    margin-left: -180px;
  }
}
@media (max-width: 400px) {
  .event-countdown {
    display: none;
  }
}
.container-countdown {
  width: 100%;
  display: block;
  text-align: center;
}
.event-countdown {
  display: inline-block;
}
@media (max-width: 1190px) {
  .event-footer .event-countdown {
    transform: scale(0.5);
    position: initial;
    left: initial;
    margin: 0px;
    width: 0px;
  }
}
@media (min-width: 2000px) {
  .event-footer .event-countdown {
    display: none;
  }
}

.community-embed .fa-comment {
  position: relative;
  color: rgba(255,255,255, 0.1);
  font-size: 50px;
  line-height: 0px;
  clear: none;
  display: inherit;
}
@media (max-width: 760px) {
  .community-embed .fa-comment {
    display: none !important;
  }
}

.jumbotron.home-page {
  background: none;
  padding: 1rem;
}
.jumbotron.event-page {
  margin-top: 40px;
  padding: 30px;
}
.with-event .start-project {
  margin: 2em 0px;
  text-align: center;
  display: block;
}
.event-home .event-info .event-summary {
  text-align: center;
  margin: 1em 10%;
  font-size: 180%;
}
.event-home .event-info .event-description {
  font-size: 110%;
  padding: 1em;
  background: white;
}

/* ---- Hexagonal hawtness ---- */

.event-home .honeycomb {
  /*margin: 30px 0px 100px 0px;
  left: 50%;*/
  width: 760px;
}
@media (max-width: 980px) {
  .event-home .honeycomb {
    width: auto;
    /* left: inherit; */
  }
}
@media (max-width: 420px) {
  .event-home .honeycomb .hexagon {
    /* margin-bottom: auto; */
    /* top: auto; */
  }
  .event-home .honeycomb {
    text-align: center;
    clear: both;
  }
}

/* Styles for an event in preparation */
.event-prep {
}
/* Styles for an event that has started */
.event-started {
}
/* Styles for an event that has finished */
.event-finished .hexagontent .progress {
  display: none;
}

.hexagon {
  background-size: cover;
  background-position: center;
  margin-bottom: 73px;
  border-bottom: 4px solid transparent;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.event-home .hexagon {
  margin-bottom: 4px;
}

.hexagon:hover {
  box-shadow: 0 4px 9px rgb(0 0 0 / 5%), 0 9px 15px rgb(0 0 0 / 17%);
  transform: scale(1.2);
}

.project-page.phase-Challenge .progress,
.hide-challenges .challenge,
.challenge.hexagon .progress { display: none; }
.challenge.hexagon .hexagontent {
  color: #35a;
  font-weight: normal;
  padding: 4px 0px;
}
.challenge.hexagon {
  background-color: white;
  border-top: 1px dashed rgba(0,0,200,0.4);
  border-bottom: 1px dashed rgba(0,0,200,0.4);
}
.challenge.hexagon::before {
  background-color: white;
  border-top: 1px dashed rgba(0,0,200,0.4);
  border-bottom: 1px dashed rgba(0,0,200,0.4);
}
.challenge.hexagon::after {
  background-color: white;
  border-top: 1px dashed rgba(0,0,200,0.4);
  border-bottom: 1px dashed rgba(0,0,200,0.4);
}
.challenge.hexagon:hover {
  box-shadow: none;
}

.project .hexagontent {
  overflow: hidden;
  color: black;
  line-height: 1.5;
}
.project .hexagontent.with-icon div {
  font-size: 90%;
}
.project .hexagontent div {
  max-height: 5.4em;
}
.project .hexagontent .fa {
  font-size: 240%;
}
.project .hexagontent .progress {
  margin-top: 1em;
  margin-bottom: 0px;
  height: 3px;
  position: relative;
  width: 72px;
  margin-left: -36px;
  left: 50%;
  opacity: 1;
  border: 1px solid white;
}
.project .hexagontent .progress-bar {
  background-color: #aaa;
}
.honeycomb .hexagon {
  opacity: 0.4;
  box-shadow: none;
}
.honeycomb .hexagon.category-highlight {
  opacity: 1.0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.3);
}
.honeycomb .hexagon.hexalist {
  display: none; background: white !important; color: black;
}
.honeycomb .hexagon.hexalist.category-highlight { display: block; }
.hexagon.hexalist .hexagontent {
  overflow: visible;
  position: relative;
  transform: none;
  left: 10%;
  width: auto;
  text-align: left;
  margin-bottom: 10px;
}
.hexagon.hexalist .hexagontent i.fa,
.hexagon.hexalist .hexagontent br { display: none; }
.hexagon.hexalist .hexagontent small { font-size: 100%; }
.challenge.hexalist .hexagontent .progress { visibility: hidden; }
.project.hexalist .hexagontent .progress {
  float: left;
  position: initial;
  margin-right: 20px;
}
.progress-container {
  display: inline-block;
  text-align: center;
  margin-bottom: -5px;
  margin-left: 1em;
  margin-right: 5px;
}
.project-info .progress {
  width: 100px;
  display: block;
}
.progress-bar {
  background-color: #3399f3;
  color: #fff;
}
.project-info .project-score {
  display: inline-block;
  text-align: center;
  margin-left: 1em;
  margin-right: 5px;
}
.project-score .label-info {
  color: #aaa;
  font-size: 140%;
}

.project-score .progress-bar {
  min-width: 2em;
}
.hexagon {
  background-size: cover;
  background-position: center;
}
.hexagon .hexaicon {
  width: 1.5em; height: 1.5em;
  background-color: white;
  background-size: cover;
  position: relative;
  left: 50%;
  margin: 0.5em 0 0.5em -0.5em;
  box-shadow: -2px -2px 1px rgba(0,0,0,0.2);
  border-radius: 1em;
}
.project.hexagon:nth-child(even) { background-color: rgba(230, 200, 160, 0.95); }
.project.hexagon:nth-child(odd) { background-color: rgba(230, 210, 200, 0.95); }

/* --- Project page --- */

.project-page .project-name {
  font-weight: bold;
  margin-top: 0.5em;
}
.project-page .project-name h2 {
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
  font-size: 3rem;
}
.project-tips.alert-light {
  color: black;
}
.project-page .project-team {
  font-weight: normal;
  color: #999;
}
.project-home .project-image-container {
  margin-top: 10px;
  margin-bottom: -15px;
  height: 200px;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  opacity: 0.1;
}
.project-home .jumbotron.project-page {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 5px solid #ccc;
  margin-top: 0em; /* to overlap slightly with image */
  position: relative;
}
.project-home .project-image-container.underlay {
  filter: blur(2px);
  z-index: -1;
}
.project-home .project-image-container.overlay {
  opacity: 1.0;
}
.project-home #overlayImage {
  position: absolute;
  margin-top: -170px;
  margin-left: 10px;
  height: 160px;
  overflow: hidden;
}
.project-page .details {
  font-size: 80%;
  margin-top: 1em;
  text-align: right;
}
.project-page .details p {
  margin: 0px;
}
.project-page .details a {
  font-size: 120%;
}
.project-page .project-info {
  min-height: 240px;
  overflow-x: auto;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 5px;
  margin-bottom: 10px;
  /* When shown in tabs */
  border-top: none;
  border-radius: 0px;
  clear: both;
}
.project-page .project-star i {
  padding-right: 5px;
}
.project-edit-cover {
  z-index: 99;
  position: absolute;
  margin-top: -2em;
  margin-left: 1em;
}
.project-page img {
  max-width: 100%;
}
.project-page.jumbotron {
  background-color: white;
  color: black;
  padding: 1rem;
}
@media (min-width: 576px) {
  .project-page.jumbotron { padding: 2rem; }
  .project.hexalist .hexagontent {
    left: 35%;
  }
  .project-page .project-longtext { margin: 2em; }
  .project-page .project-autotext { margin: 2em; }
}
.project-page .project-info td,
.project-page .project-info th { padding: 0.2em 1.4em 0 0; }
.project-page .project-info thead { border-bottom: 1px solid black; }

.project-page .project-longtext { margin: 1em 0em; font-size: 125%; }
.project-page .project-autotext { margin: 0em; }

.project-page .latest-drib { padding: 1em; }

/* -- Timeline (dribs) -- */

.timeline-img {
  width: 2em;
  height: 2em;
  background: #baa;
  color: white;
  opacity: 1;
  border-radius: 1em;
  margin-top: 0.5em;
  margin-left: -1em;
  text-align: center;
  line-height: 1.8em;
  font-size: 150%;
}

/* Hides the triangle pointers in the timeline */
.project-page .timeline-card::after { display: none; }
.project-page .timeline-start .timeline-card::after { display: initial; }
.project-page .timeline-finish .timeline-card::after { display: initial; }
.project-page .timeline-card .close { margin: 0.4em; }
/* Other project timeline customizations */
.project-page .timeline-review .timeline-content { background: #f2fef2; border-top: none; }
.project-page .timeline-pencil .timeline-content { background: #ffc; border-top: none; }
.project-page .timeline-finish .timeline-content,
.project-page .timeline-start .timeline-content { background: #aaa; }
.project-page .timeline-finish .date,
.project-page .timeline-start .date { color: white; }
.project-page .timeline-item { margin-bottom: 20px; }
.timeline-boost .timeline-img-header {
  background: teal;
}
.project-page .badges .boost {
  display: inline-block;
  width: 2em;
  height: 2em;
  background: teal;
  color: white;
  opacity: 1;
  border-radius: 1em;
  text-align: center;
  line-height: 1.8em;
  font-size: 150%;
}

.project-buttons { display: block; text-align: center; }
.project-buttons .btn {
  display: inline-block;
  text-align: center;
  font-size: 140%;
  width: 6em;
  background: rgba(255, 255, 255, 0.5);
}
.project-buttons .btn:hover {
  background: #dde;
}
.project-buttons .btn span {
  font-size: 300%; display: block;
}

.project-page .widget {
  text-align: center;
  margin: 1em;
}
.project-page .widget iframe {
  max-width: 100%;
  overflow: hidden;
}

.userprofile .nav,
.project-page .nav {
  clear: both;
  padding: 20px 5px 5px;
  border-bottom: 1px solid lightgrey;
}
.project-page .nav a {
  text-shadow: 1px 1px 4px white;
  font-weight: bold;
  color: #007bff;
}
.project-page .nav a:not(.active):hover {
  background-color: rgba(200, 200, 200, 0.8);
}
.project-page .nav a.active {
  text-shadow: none;
  border-bottom: 1px solid white;
}

/* Autotext fader
.project-page .project-autotext.active {
  max-height: none;
  overflow: visible;
}
.project-page .project-autotext.active .cover {
  display: none;
}
.project-page .project-autotext {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
}
.project-page .project-autotext .cover {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
  cursor: pointer; cursor: hand;

  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 92%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(92%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 92%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 92%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 92%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 92%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
/- Autotext fader */

/* Project embedded content */
.project-page .resizable {
  width: 100%;
  height: 600px;
  box-shadow: 5px 5px 10px #535353;
  border: 1px silver;
  border-radius: 4px;
  overflow: hidden;
  position: sticky;
}
.project-page .resizable iframe {
  width: 100% !important; height: 100% !important;
  border: none !important;
}
@media (max-width: 1000px) {
  .project-page .resizable {
    height: 300px;
  }
  .timeline h2 {
    font-size: 1.3rem;
  }
}
.win-size-grip {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 4px;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/wingrip.png) no-repeat;
 }

/* Resources */
.resource-card {
  display: inline-block;
  background: rgba(0,0,0,0.06);
  width: 90%;
  padding: 0.1em 0.5em;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-right: 0.5em;
}
.resource-card:hover {
  background: rgba(0,0,0,0.03);
  text-decoration: none;
}
.resource-card p {
  font-size: 80%;
  line-height: normal;
  color: #333;
}

/* Oneboxes in content */
.onebox {
  border: 2px solid #ddd;
  background: #f0f0f0;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
  color: black;
  padding: 0.5em;
  margin: 0.5em 1em 1em 0px;
  opacity: 0.8;
  min-height: 6em;

  width: 50%;
  display: block;
  clear: both;
}
.onebox * {
  text-decoration: none !important;
  color: black;
}
.onebox:hover {
  opacity: 1.0;
}
.onebox h5 {
  display: inline-block;
  color: #007bff;
  clear: none;
}
.onebox .phase {
  font-size: 80%; color: #999;
}
.onebox p {
  font-size: 90%;
}
.onebox img {
  width: 5em;
  float: left;
  margin-right: 1em;
}

/* Project entry form */
.projectform .switch-editor .disabled i { display: none; }
.projectform .fld-progress .radio-inline { display: block; }
.projectform .fld-progress { border-width: 25px; padding-left: 5px; border-top: none !important; border-bottom: none !important; border-right: none !important; border-style: solid; -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%; -webkit-border-image: -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%; -moz-border-image: -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%; -o-border-image: -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%; border-image: linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%; }
.projectform .fld-progress select { font-size: 150%; }
.projectform form .control-label[for='resource'],
.projectform form .control-label[for='note'] { margin-top: 0px; }
.projectform form .checkbox label[for="is_autoupdate"] {
  margin-left:30%; margin-top:20px; padding:10px;
  border-radius:10px; box-shadow: 0 0 0 10px cyan;
}
.projectform form .checkbox label[for="is_autoupdate"] input {
  margin-right: 1em;
}
.projectform form .checkbox label[for="is_webembed"] {
  font-weight: bold; display: block; margin-bottom: 1em;
}
.projectform form .checkbox label[for="is_webembed"] input {
  margin-right: 0.4em;
}
.projectform form .autotext-indicator {
  margin-top: 2em;
  display: block;
}

/* General form styles */
.userform form label,
.userform form .control-label,
.projectpost form .control-label,
.projectform form .control-label {
  font-weight: 400; font-size: 140%;
  display: block;
  text-align: center;
  margin-top: 2em;
}
.projectform form > .checkbox {
  margin-top: 1rem;
}
.userform form > .form-group,
.projectpost form > .form-group,
.projectform form > .form-group {
  margin-top: 1rem;
  margin-bottom: 0px;
  text-align: center;
}
.userform form .help-inline,
.projectpost form .help-inline,
.projectform form .help-inline {
  color: #555;
  display: block;
  margin-top: 1em;
}
.userform form .form-control,
.projectpost form .form-control,
.projectform form .form-control {
  font-size: 125%;
  box-shadow: 5px 5px 5px #ccc;
}
.userform .form-group input {
  margin-right: 0.5em;
}
.userform .form-actions {
  clear: both;
  display: block;
  margin-top: 1em;
  text-align: center;
}
.userform .btn-submit {
  min-width: 7em;
}
.projectpost .form-actions input,
.projectform .form-actions input {
  margin-top: 1em;
  font-size: 150%;
  width: 100%;
}

/* Code blocks */
pre { color: #333; background: white; }

/* Badges */
.challenge-badge {
  float: left; display: inline-block;
  height: 3em; width: 3em;
  text-indent: -9999px; color: transparent;
  margin-right: 0.3em;
  background-repeat: no-repeat;
  background-size: contain;
}
.challenge-badge.level-1 {
  background-image: url('/static/img/badge-green.png');
}
.challenge-badge.level-2 {
  background-image: url('/static/img/badge-blue.png');
}
.challenge-badge.level-3 {
  background-image: url('/static/img/badge-black.png');
}
.challenge-badge.level-4 {
  background-image: url('/static/img/badge-red.png');
}

/*.navbar-collapse .navbar-nav li {
    text-align: center;
}*/
.nav-categories .btn, .project-category.btn {
  opacity: 0.6;
  font-size: 16px;
  margin-bottom: 10px;
  min-height: 64px;
}
.nav-categories label {
  border: 1px solid #ddd;
}
.nav-categories label.active {
  border: 1px solid #777;
}
.nav-categories label input {
  display: none;
}
.nav-categories {
  margin: 10px;
  max-width: 97%;
  overflow-x: auto;
}
.project-score {
  float: right;
  margin-right: 15px;
  text-align: right;
}
.project-page .project-category {
  float: right;
  font-size: 110%;
  font-weight: bold;
  margin-top: 0.6em;
  margin-right: 15px;
  text-align: right;
  clear: both;
}
.project-page .project-category a:hover {
  text-decoration: none;
}
.project-edit-buttons {
  left: -1.5em;
  float: right;
}
.project-edit-buttons * {
  box-shadow: none !important;
  opacity: 0.8;
}
@media only screen and (max-width:460px){
  .section-header-content { display: none; }
  .project-edit-buttons { margin: 1em; }
  .container .jumbotron { padding: 0.3em; border: none; }
  .jumbotron section { overflow: hidden; }
  .project-home .jumbotron.project-page { border-width: 1px; }
  .timeline .timeline-item .timeline-img { margin-left: 0em; margin-top: -1em; }
}
.category-info {
  padding: 0 1em;
  margin-top: 6em;
  text-align: left;
}
.category-info img {
  max-width: 100%;
}
.category-container {
  margin-top: 15px;
  padding-top: 10px;
}
.category-tip { opacity: 0.6; }

.event-participants.jumbotron {
  padding: 2rem;
  border: 4px dashed lightgray;
}
.event-participants h1 {
  margin: 1em;
  text-align: center;
  display: none;
}
.event-participants .participant-box {
  padding: 2em;
  margin-bottom: 2em;
  text-align: center;
}

@media (max-width: 760px) {
  .category-info {
    margin-top: 0px;
  }
  .project-score {
    float: none;
  }
}

/* big stylish jumbotrons! */

.jumbotron {
  padding: 2rem;
  border: 4px dashed lightgray;
}

/* tip section */

.join-tip {
  padding: 0.5em;
  text-align: center;
}

/* avatar and profile styles */

.team-gravatar img {
  margin: 5px;
  vertical-align: top;
  width: 3.3em;
}
.team-gravatar span {
  width: 48%;
  display: inline-block;
}
.team-gravatar {
  width: 200px;
  height: 60px;
  display: inline-block;
  background: rgba(255,255,255,0.5);
  border: 2px solid #eee;
  border-radius: 10px;
  padding: 2px; margin-right: 5px;
  overflow: hidden;
  text-align: left;
}
.team-gravatar:hover {
  text-decoration: none;
  border: 2px solid blue;
}
.profile-header {
  margin-top: 1em;
}
.profile-header img {
  width: 80px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-right: 25px;
}
.profile-social img, .profile-social i {
  width: 50px;
  font-size: 50px;
  margin-left: 60px;
  display: inline-block;
  float: left;
  color: #333;
}
.profile-social span {
  line-height: 50px;
  color: #007bff;
}
.profile-roles {
  margin: 0; padding: 0;
}
.profile-roles li {
  list-style: none;
  line-height: 2em;
  font-size: 140%;
  font-weight: bold;
}
.userprofile h1 {
  text-align: center;
  margin-top: 1em;
}
.user-score {
  min-width: 2.5em;
  text-align: center;
  display: inline-block;
  background: #007bff;
  color: #fff;
  border-radius: 2em;
  padding: 0.5em;
}
.profile-projects {
  padding: 1em 2em;
  overflow-x: auto;
  width: 100%;
  background: #f0f0f0;
  border-radius: 20px;
}
.profile-projects.honeycomb {
  padding: 1.5em 4em;
}
.profile-projects::-webkit-scrollbar {
  display: none;
}
.profile-projects .row .card.project {
  height: 8em;
  width: 20em;
  margin-right: 5px;
  overflow: hidden;
  display: inline-block;
  padding: 0px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: white;
  border-left: 1px solid #ccc;
}
.profile-projects .card:hover {
  box-shadow: 3px 3px 3px lightblue;
}
.profile-projects .card .project-image {
  height: 100%;
  max-width: 40%;
  padding: 0px;
  margin-right: 1em;
  float: left;
}
.profile-projects .card-body {
  padding: 10px;
  background: white;
  height: 100%
}
.profile-projects .card-text {
  font-size: 90%;
  color: #555;
}
.profile-projects a:hover {
  text-decoration: none;
}
.profile-projects .project-score {
  float: right;
  margin: 5px;
  text-align: center;
  width: 100px;
}
.profile-projects center {
  margin-top: 5px;
}
.userprofile .profile-text {
  font-size: 125%;
  padding: 1em 1em 0.1em;
  background: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.team-roles {
  display: inline-block;
  float: right;
  margin: -2px;
}
.team-roles em {
    display: block;
    font-size: 70%;
    font-style: normal;
    color: #eee;
    background: rgba(0,0,0,0.2);
    padding: 1px 3px;
    border-radius: 4px;
    margin-bottom: 1px;
}
@media (max-width: 760px) {
  .profile-projects .project-score,
  .profile-projects .card .project-image
  { display: none; }
}

/* Embed view of the projects */
.embed-view footer, .embed-view .navbar { display: none; }
.embed-view h2 { margin-bottom: 0px; }
.embed-event {
  text-align: center;
  background: none transparent !important;
}
.embed-view, .embed-view .container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  background: none !important;
}
.embed-view .honeycomb {
  transform: scale(0.4);
  transform-origin: top center;
  margin-top: 20px;
}
.embed-event .event-countdown {
  bottom: 0px;
  position: absolute;
  transform: scale(0.5);
  display: block;
}
.embed-event .honeycomb .project {
  display: inline-block;
}
.embed-event .hexagon {
  margin-top: 20px;
}
.embed-view .section-header { display: none; }


/* Print view of projects */
.print-page .project-meta {
  float: right;
  width: 50%;
  list-style-type: none;
  border-left: 1px solid #999;
  padding-left: 15px;
}

/* ------------
Code of Conduct
--------------- */
.codeofconduct { margin-top:20px; padding:10px; border-radius:10px; box-shadow:
		0 0 0 4px orange,
		0 0 0 6px yellow,
		0 0 0 10px cyan; }

/* ------------
Issues list view
--------------- */
.list-data .list-group-item {
    border-left: none; border-right: none; border-top: none;
    /* border-bottom: 1px solid #aaa; */
    border-radius: 0px;
    margin-right: 1em;
    text-align: left;
    color: inherit;
    text-decoration: none;
}
.list-data .list-group-item.link-more {
    color: blue;
}
.list-data .list-group-item:hover {
    background: lightyellow;
}
.list-data .list-group-item img {
    height: 1em;
    padding-right: 0.5em;
}
@media (min-width: 1000px) {
  .list-data .list-group-item {
      display: inline-block;
      overflow: hidden;
      height: 3em;
      line-height: 2em;
      padding-top: 0.4em;
  }
}
.list-data a.list-group-item:nth-child(1) {
    /* border-top: 1px solid #aaa; */
}
.widget.widget-github { text-align: left; }

/* -------------
Instruction page
---------------- */

.instruction-page .resource-list {
  margin: 0; padding: 0;
  margin-top: 1em;
}
.instruction-page .event-resources {
  padding: 2rem; margin: 0;
  font-size: 125%;
}

.list-stages .step {
  margin-top: 3em;
}
.list-stages .step .title {
  padding: 3px;
  margin-left: 2rem;
  display: block;
  opacity: 0.7;
  width: 100%;
  z-index: 1;
  cursor: pointer;
  font-size: 200%;
}
.list-stages .step:hover .title { opacity: 1.0; }
.list-stages .step.active .title { color: blue; }
.list-stages .step .number {
  font-size: 3rem;
  position: absolute;
  z-index: 0;
  margin-top: -1rem;
  color: burlywood;
  font-weight: bold;
}
.list-stages .step .agree-list,
.list-stages .step .subtitle {
  margin: 0em 3em;
  font-size: 125%;
}
.list-stages .step .agree-list li {
  clear: both;
  list-style: disclosure-closed;
  padding-right: 1.5em;
}
.list-stages .step .card {
  background: white;
  margin: 1px -1px;
  min-height: 7em;
  min-width: 16em;
  vertical-align: top;
}
.form-project-stage {
  margin-top: 1em;
  font-size: 125%;
  border: 3px dashed lightgray;
  padding: 1em;
}
.form-project-confirm label {
  clear: both;
  margin-top: 0.5em;
  cursor: pointer;
}
.form-project-confirm:hover {
  background-color: lightyellow;
}
.projectpost alert {
  margin-top: 0.5em;
}
.projectpost .honeycomb {
  position: absolute;
  opacity: 0.6;
  z-index: -9;
  left: 50%;
  top: 70px;
  margin-left: -60px;
}

/* ------------
Search engine
--------------- */

#search-results .card-image {
  width: 48px;
  height: 7em;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  background-size: contain;
  margin-right: 8px;
}

/* ------------
Data Packages view
--------------- */

/* .list-datapackage { max-height: 14.7em; overflow: auto } */
#datacentral .btn { color: white; }

.list-datapackage .list-group-item {
    border-left: none; border-right: none; border-top: none;
    border-bottom: 1px solid #333; border-radius: 0px;
    background: transparent;
}
@media (min-width: 1000px) {
.list-datapackage .list-group-item {
    width: 100%;
    display: inline-block;
    min-height: 3em;
    line-height: 2em;
    padding-top: 0.4em;
}
.list-datapackage a.list-group-item:nth-child(2) {
    border-top: 1px solid #333;
}
}
.list-datapackage a.list-group-item:nth-child(1) {
    border-top: 1px solid #333;
}
.list-datapackage .list-infos {
    font-size: 80%; color: #999;
}

/* -----------
SlackIn button
-------------- */

.signin-slack {
  font-size: 0px; border: 0px !important;
  background: url('/static/img/sso/slack-sign-in.png') no-repeat;
  width: 173px; height: 41px;
}
.signin-azure {
  border: 0px !important;
  background: url('/static/img/sso/azure_teams.svg') no-repeat;
  width: auto; height: 41px;
  padding-left: 50px;
}
.signin-github {
  font-size: 0px; border: 0px !important;
  background: url('/static/img/sso/github-sign-in.png') no-repeat;
  width: 372px; height: 64px;
}
.account-register a { margin-left: 3.5em; font-size: 125%; }
.account-register::before,
.sso-login::after {
  content: 'or';
  display: block;
  margin: 1em 5em;
  font-size: 200%;
  font-family: cursive;
  font-style: italic;
}

.__slackin { margin-bottom: 10px; display: block; }

/* .signin-slack, .signin-slack:hover {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/76/Slack_Icon.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 10px 8px;
    line-height: 41px;
    box-shadow: inset 0 0 0 2px #e5e5e5;
    padding: 0 42px;
} */
