<div class="event-header">
  {% if event.logo_url and not event.gallery_url %}
    <div class="section-header-logo">
      <img id="event-logo" src="{{ event.logo_url }}" alt="Logo" title="{{ event.hostname }}" />
    </div>
  {% endif %}
  <a href="{{ url_for('public.event', event_id=event.id) }}">
    <div class="section-header-content">
      <h2 class="event-name">
        <span>{{ event.name }}</span>
      </h2>

      {% if not event.lock_resources %}
        <span class="event-date">
          {{ event.date }}</span>
      {% endif %}
      {% if event.hostname %}
        <span class="event-hostname ml-2">
          <i class="fa fa-bank"></i>
          {{ event.hostname }}</span>
      {% elif event.location %}
        <span class="event-location ml-2">
          <i class="fa fa-map"></i>
          {{ event.location }}</span>
      {% endif %}

      {% if event.summary|trim %}
        <div class="home-description">
          <p>{{ event.summary }}</p>
        </div>
      {% else %}
        <div class="embed-view">
          {{ render_embed_event(event, event.projects, False) }}
        </div>
      {% endif %}
      <div class="an-event-actions text-center">
        {% if event.project_count %}
          <a href="{{ url_for('public.event', event_id=event.id) }}" class="btn btn-lg">
          {% if event.has_finished %}
            <span>{{ event.project_count }}</span>
            <i class="fa fa-star" aria-hidden="true"></i>
            Results
          {% elif event.has_started %}
            <span>{{ event.project_count }}</span>
            <i class="fa fa-cube" aria-hidden="true"></i>
            Challenges
          {% else %}
            <span>{{ event.project_count }}</span>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            Projects
          {% endif %}
          </a>
        {% endif %}

        {% if event.webpage_url and not event.has_finished %}
          <a href="{{ event.webpage_url }}" class="btn btn-dark btn-lg" target="_blank">
            <i class="fa fa-ticket" aria-hidden="true"></i>
            Register
          </a>
        {% endif %}
      </div>
    </div><!-- /.header-content -->
  </a>

</div><!-- /.event-header -->
