<a href="{{ url_for('public.event', event_id=event.id) }}">
<div class="event-header">

  {% if event.logo_url and not event.gallery_url %}
    <div class="section-header-logo">
      <img id="event-logo" src="{{ event.logo_url }}" alt="Logo" title="{{ event.hostname }}" />
    </div>
  {% endif %}

    <div class="section-header-content">
      <h2 class="event-name text-dark">
        <span>{{ event.name }}</span>
      </h2>

      {% if not event.lock_resources %}
        <p class="an-event-meta text-dark">
          <span>{{ event.date }}</span>
          {% if event.hostname %}
            <i class="fa fa-bank ms-2"></i>
            <span>{{ event.hostname }}</span><br>
          {% elif event.location %}
            <i class="fa fa-map ms-2"></i>
            <span>{{ event.location }}</span>
          {% endif %}
        </p>
      {% endif %}

      {% if event.summary|trim %}
        <div class="home-description">
          <p>{{ event.summary }}</p>
        </div>
      {% endif %}
      
      <div class="an-event-actions text-center mt-2 clearfix">
        {% if event.project_count %}
          <a href="{{ url_for('public.event', event_id=event.id) }}"
             class="float-right fs-4 me-2 w-100">
          {% if event.has_finished %}
            <span title="Results">{{ event.project_count }}</span>
            <i class="fa fa-star" aria-hidden="true"></i>
          {% elif event.has_started %}
            <span title="Challenges">{{ event.project_count }}</span>
            <i class="fa fa-cube" aria-hidden="true"></i>
          {% else %}
            <span title="Projects">{{ event.project_count }}</span>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {% endif %}
          </a>
        {% elif event.can_start_project %}
          <a href="{{ url_for('project.project_new', event_id=event.id) }}"
             title="Write a challenge statement"
             class="btn btn-success btn-lg">
            <i class="fa fa-plus"></i>
            Challenge
          </a>
        {% endif %}
      </div><!-- /.an-event-actions -->

    </div><!-- /.header-content -->

</div><!-- /.event-header -->
</a>
