<a href="{{ url_for('public.event', event_id=event.id) }}">
<div class="event-header">

  {% if event.logo_url and not event.gallery_url %}
    <div class="section-header-logo">
      <img id="event-logo" src="{{ event.logo_url }}" alt="Logo" title="{{ event.hostname }}" />
    </div>
  {% endif %}

    <div class="section-header-content">
      <h2 class="event-name text-dark">
        <span>{{ event.name }}</span>
      </h2>

      {% if not event.lock_resources %}
        <p class="an-event-meta text-dark">
          <span>{{ event.date }}</span>
          {% if event.hostname %}
            <i class="fa fa-bank ms-2"></i>
            <span>{{ event.hostname }}</span><br>
          {% elif event.location %}
            <i class="fa fa-map ms-2"></i>
            <span>{{ event.location }}</span>
          {% endif %}
        </p>
      {% endif %}

      {% if event.summary|trim %}
        <div class="home-description">
          <p>{{ event.summary }}</p>
        </div>
      {% elif event.project_count %}
        <div class="embed-view">
          {{ render_embed_event(event, event.projects, False) }}
        </div>
      {% endif %}
      
      <div class="an-event-actions text-center mt-2 clearfix">
        {% if not event.has_finished and event.webpage_url %}
          <a href="{{ event.webpage_url }}"
              title="Visit this page to sign up"
              class="btn btn-dark btn-lg" target="_blank">
            <i class="fa fa-ticket" aria-hidden="true"></i>
          </a>
        {% endif %}
        {% if event.community_url %}
          <a href="{{ event.community_url }}" 
             title="More information about this event"
             target="community" class="btn btn-lg btn-info">
            <i class="fa fa-comment" aria-hidden="true"></i>
          </a>
        {% endif %}
        {% if event.project_count %}
          <a href="{{ url_for('public.event', event_id=event.id) }}"
             class="btn btn-default btn-lg float-right fs-4">
          {% if event.has_finished %}
            <i class="fa fa-star" aria-hidden="true"></i>
            <span title="Results">{{ event.project_count }}</span>
          {% elif event.has_started %}
            <i class="fa fa-cube" aria-hidden="true"></i>
            <span title="Challenges">{{ event.project_count }}</span>
          {% else %}
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span title="Projects">{{ event.project_count }}</span>
          {% endif %}
          </a>
        {% elif event.can_start_project %}
          <a href="{{ url_for('project.project_new', event_id=event.id) }}"
             title="Write a challenge statement"
             class="btn btn-success btn-lg">
            <i class="fa fa-plus"></i>
            Challenge
          </a>
        {% endif %}
      </div><!-- /.an-event-actions -->

    </div><!-- /.header-content -->

</div><!-- /.event-header -->
</a>
