{% if current_event and current_event.countdown and not 'off' in config.DRIBDAT_CLOCK %}
  <div class="footer-clock event-countdown" data-start="{{ current_event.countdown }}"></div>
{% endif %}
<footer>
  <ul class="footer-nav">
    <li>
      <a href="{{ url_for('public.about') }}">
      <small>powered by D R I
      <i class="fa fa-thumbs-up"></i>
      <i style="-moz-transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -o-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1);" class="fa fa-thumbs-up"></i>
      A T</small>
      </a>
      <a class="darkmode" href="#">☽</a>
    </li>
    {% if config.ANALYTICS_HREF %}
    <li>
      <a href="{{ config.ANALYTICS_HREF }}">Analytics</a>
    </li>
    {% endif %}
  </ul>
</footer>
