<footer>
  <ul class="footer-nav">
    {% if current_user and current_user.is_authenticated %}
      <li>
        <a href="{{ url_for('public.user', username=current_user.username) }}" title="{{ current_user.username }}">
          <i class="fa fa-key" aria-hidden="true"></i>
          My Profile
        </a>
      </li>
      {% if current_user.is_admin %}
        <li>
          <a href="{{ url_for('admin.index') }}">
            <i class="fa fa-gear" aria-hidden="true"></i>
            Admin
          </a>
        </li>
      {% endif %}
      <li>
        <a href="{{ url_for('auth.logout') }}">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Logout
        </a>
      </li>
    {% endif %}

    <li>
      <a href="{{ url_for('public.about') }}">&#128214;&nbsp;About</a> &nbsp;
      <!-- <a href="https://github.com/dribdat" target="_blank"><img src="{{ url_for('static', filename='img/logo11.png') }}" style="height:2em; margin-top:-.1em">&nbsp;Source</a> &nbsp; -->
      <a class="darkmode" href="#">&#127763;&nbsp;Darkmode</a>
    </li>

    {% if config.ANALYTICS_HREF %}
    <li>
      <a href="{{ config.ANALYTICS_HREF }}">Analytics</a>
    </li>
    {% endif %}
  </ul>
</footer>
