<footer id="footer">
  <a href="{{ url_for('public.about') }}">
    <i class="fa fa-question ms-3" aria-hidden="true"></i>
    About
  </a>

  <a href="{{ url_for('public.terms') }}">
    <i class="fa fa-exclamation ms-3" aria-hidden="true"></i>
    Terms
  </a>

  <ul class="footer-nav">
    {% if current_user and current_user.is_authenticated %}
      {% if current_user.is_admin %}
        <li>
          <a href="{{ url_for('admin.index') }}" class="font-bold">
            <i class="fa fa-gear" aria-hidden="true"></i>
            Admin
          </a>
        </li>
      {% endif %}
      <li>
        <a href="#top" id="notification-button" class="hidden" title="Toggle showing alert notifications">
          <i class="fa fa-bell" aria-hidden="true"></i>
          Alerts
        </a>
      </li>
      <li>
        <a href="{{ url_for('public.dashboard') }}" title="A live dashboard of the current sprint">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          Dash
        </a>
      </li>
      <li>
        <a href="{{ url_for('auth.logout') }}">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Logout
        </a>
      </li>
    {% else %}
      <li>
        <a href="{{ url_for('auth.login') }}">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          Login
        </a>
      </li>
    {% endif %}
    {% if config.ANALYTICS_HREF %}
    <li>
      <a href="{{ config.ANALYTICS_HREF }}">&#128200;&nbsp;Analytics</a>
    </li>
    {% endif %}

    <li>
      <a class="darkmode" href="#">&#127763;&nbsp;<span>Dark</span></a>
    </li>
  </ul>
</footer>
