<div class="container event-header">
  <div class="section section-centered section-header">
    {% if event.logo_url %}
      <div class="section-header-logo">
        <a href="{{ url_for('public.event', event_id=event.id) }}">
          <img id="event-logo" src="{{ event.logo_url }}" alt="Logo" title="{{ event.hostname }}">
        </a>
      </div>
    {% endif %}
    <div class="section-header-content">
      {% if not event.lock_resources %}
        <div class="event-date no-print">
          {{ event.date }}</div>
        <a href="{{ url_for('public.event', event_id=event.id) }}">
          <h2 class="event-name">{{ event.name }}</h2>
        </a>
      {% else %}
        <a href="{{ url_for('public.event_resources', event_id=event.id) }}">
          <h2 class="event-name">{{ event.name }}</h2>
        </a>
      {% endif %}
      {% if event.hostname %}
        <span class="event-hostname">
          <i class="fa fa-bank"></i>
          {{ event.hostname }}</span>
      {% endif %}
      {% if event.location %}
        <span class="event-location">
          <i class="fa fa-map"></i>
          {% if event.location_lat and event.location_lon %}
          <a title="OpenStreetMap" href="https://www.openstreetmap.org/directions?from=&to={{ event.location_lat }}%2C{{ event.location_lon }}" target="_blank">
            {{ event.location }}
          </a>
          {% else %}
            {{ event.location }}
          {% endif %}
        </span>
      {% endif %}
    </div>
  </div>
</div>
