<nav class="navbar navbar-expand-lg navbar-light bg-faded" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('public.home') }}" title="Home page">
      <i style="-moz-transform: scale(1, 1); -webkit-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1);" class="fa fa-thumbs-up" aria-hidden="true"></i>
      <i style="-moz-transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -o-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1);" class="fa fa-thumbs-up" aria-hidden="true"></i>
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-main-collapse">
    <ul class="navbar-nav navbar-left mr-auto nav-fill">

      {% if tabs %}
        {% for tab, link in tabs %}
        <li class="nav-item">
          <a class="nav-link {% if active == tab %}active{% endif %}" href="{{ link }}">{{ tab|capitalize }}</a>
        </li>
        {% endfor %}
      {% endif %}

      <li class="nav-item">
        <a class="nav-link {% if active == 'dribs' %}active{% endif %}" href="{{ url_for('public.dribs') }}">
          <i class="fa fa-comment" aria-hidden="true"></i>
          Dribs
        </a>
      </li>
      {% if event and not event.lock_resources %}
        <li class="nav-item">
          <a class="nav-link {% if active == 'projects' %}active{% endif %}" href="{{ url_for('public.event', event_id=event.id) }}#top">
            <i class="fa fa-star" aria-hidden="true"></i>
            {% if event.has_finished %}
              Results
            {% elif event.has_started %}
              Projects
            {% else %}
              Challenges
            {% endif %}
          </a>
        </li>
        <!--<li class="nav-item">
          <a href="{{ url_for('public.event_stages', event_id=current_event.id) }}" class="nav-link {% if active == 'stages' %}active{% endif %}">
            <i class="fa fa-signal" aria-hidden="true"></i>
            <span>Stages</span>
          </a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link {% if active == 'participants' %}active{% endif %}" href="{{ url_for('public.event_participants', event_id=event.id) }}">
            <i class="fa fa-child" aria-hidden="true"></i>
            People
          </a>
        </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('public.about') }}">
          <i class="fa fa-search" aria-hidden="true"></i>
          Search
        </a>
      </li>

      {% if current_user and current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link{{ ' active' if active == 'profile' }}" href="{{ url_for('public.user', username=current_user.username) }}" title="{{ current_user.username }}">
              <i class="fa fa-key" aria-hidden="true"></i>
              Profile
            </a>
          </li>
          {% if current_user.is_admin %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.index') }}">
                <i class="fa fa-gear" aria-hidden="true"></i>
                Admin
              </a>
            </li>
          {% endif %}
      {% else %}
        <li class="nav-item">
          <a class="nav-link nav-login" href="{{ url_for('auth.login') }}">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Login
          </a>
        </li>
      {% endif %}

    </ul>
  </div><!-- /.navbar-collapse -->

</nav>
