<nav class="navbar navbar-expand-lg navbar-light bg-faded" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('public.home') }}">
      <i style="-moz-transform: scale(1, 1); -webkit-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1);" class="fa fa-thumbs-up"></i>
      <i style="-moz-transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -o-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1);" class="fa fa-thumbs-up"></i>
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-main-collapse">
    <ul class="navbar-nav navbar-left mr-auto">
      {% if event %}
        <li class="nav-item">
          <a href="{{ url_for('public.event', event_id=event.id) }}#top">
            {% if event.has_finished %}
              <i class="fa fa-bars" aria-hidden="true"></i>
              Results
            {% elif event.has_started %}
              <i class="fa fa-bars" aria-hidden="true"></i>
              Projects
            {% else %}
              <i class="fa fa-trophy" aria-hidden="true"></i>
              Challenges
            {% endif %}
          </a>
        </li>
        {% if event.resources %}
        <li class="nav-item">
          <a href="{{ url_for('public.event', event_id=event.id) }}#resources">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Resources
          </a>
        </li>
        {% endif %}
        {% if event.can_start_project %}
        <li class="nav-item">
          <a href="{{ url_for('public.project_new', event_id=event.id) }}">
            <i class="fa fa-rocket"></i>
            Get started
          </a>
        </li>
        {% endif %}
        {% if event.community_url %}
        <li class="nav-item">
          <a href="{{ event.community_url }}">
            <i class="fa fa-comment"></i>
            Community
          </a>
        </li>
        {% endif %}
      {% endif %}

      {% if tabs %}
        {% for tab, link in tabs %}
        <li class="nav-item" class="{% if active == tab %}active{% endif %}">
          <a href="{{ link }}">{{ tab|capitalize }}</a>
        </li>
        {% endfor %}
      {% endif %}

      {% if current_user and current_user.is_authenticated %}
          <li class="nav-item">
            <a class="navbar-link" href="{{ url_for('auth.user_profile') }}">
              <i class="fa fa-child"></i>
              Profile
              <b>{{ current_user.username }}</b>
            </a>
          </li>
          {% if current_user.is_admin %}
            <li class="nav-item">
              <a class="navbar-link" href="{{ url_for('admin.index') }}">
                <i class="fa fa-gear"></i>
                Admin
              </a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="navbar-link" href="{{ url_for('auth.logout') }}">
              <i class="fa fa-sign-out"></i>
              Logout
            </a>
          </li>
      {% else %}
        <li class="nav-item"><a href="{{ url_for('auth.login') }}">Log in<i class="fa fa-sign-in"></i></a></li>
        {% if not config.DRIBDAT_NOT_REGISTER %}
          <li class="nav-item">
            <a href="{{ url_for('auth.register') }}">
              <i class="fa fa-child"></i>
              Create account
            </a></li>
        {% endif %}
      {% endif %}
    </ul>
  </div><!-- /.navbar-collapse -->

</nav>

{% if event %}
<div class="container event-header">
  <div class="section section-centered section-header">
    <a href="{{ url_for('public.event', event_id=event.id) }}#top">
    {% if event.logo_url %}
      <div class="section-header-logo">
        <img id="event-logo" src="{{ event.logo_url }}" alt="{{ event.hostname }}">
      </div>
    {% endif %}
      <div class="section-header-content">
        <h3 class="event-name">{{ event.name }}</h3>
        {% if event.location %}
          <div class="event-location">{{ event.location }}</div>
        {% endif %}
        <div class="event-date">{{ event.date }}</div>
        {% if event.hostname %}
          <div class="event-hostname">{{ event.hostname }}</div>
        {% endif %}
      </div>
    </a>
  </div>
</div>
<style type="text/css">{{ event.custom_css }}</style>
{% endif %}
