<nav class="navbar navbar-expand-lg navbar-light bg-faded no-print" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggler ms-2" data-bs-toggle="collapse" data-bs-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('public.home') }}" title="GO HOME">
      <i style="-moz-transform: scale(1, 1); -webkit-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1);" class="fa fa-thumbs-up" aria-hidden="true"></i>
      <i style="-moz-transform: scale(1, 1); -webkit-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1);" class="fa fa-lightbulb-o" aria-hidden="true"></i>
      <i style="-moz-transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -o-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1);" class="fa fa-thumbs-up" aria-hidden="true"></i>
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-main-collapse">
    <ul class="navbar-nav navbar-left nav-fill">

      {% if current_user and current_user.is_admin %}
        <li class="nav-item admin-area">
          <a class="nav-link{{ ' active' if active == 'index' }}"
             title="The engine room"
             href="{{ url_for('admin.index') }}">
            <i class="fa fa-gear bg-danger text-white" aria-hidden="true"></i>
            Admin
          </a>
        </li>
      {% endif %}

      {% if tabs %}
        {% for tab, link in tabs %}
        <li class="nav-item">
          <a class="nav-link {% if active == tab %}active{% endif %}" href="{{ link }}">{{ tab|capitalize }}</a>
        </li>
        {% endfor %}
      {% endif %}

      <li class="nav-item">
        <a class="nav-link {% if active == 'dribs' %}active{% endif %}"
           title="Latest posts from the teams"
           href="{{ url_for('public.dribs') }}">
          <i class="fa fa-comment bg-warning text-white" aria-hidden="true"></i>
          Dribs
        </a>
      </li>

      {% if current_user and current_user.is_authenticated %}
          <li class="nav-item">
            <a id="project-post"
               class="nav-link{{ ' active' if active == 'post' }}"
               href="{{ url_for('public.user_post') }}"
               title="Post an update to your current project">
              <i class="fa fa-clock-o bg-info text-white" aria-hidden="true"></i>
              Post
            </a>
          </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link nav-login"
             title="Sign in with your account"
             href="{{ url_for('auth.enter') }}">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Log&nbsp;in
          </a>
        </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link{{ ' active' if active == 'people' or active == 'profile' }}"
           title="List and search for participants"
           href="{{ url_for('public.all_participants') }}">
          <i class="fa fa-user bg-primary text-white" aria-hidden="true"></i>
          People
        </a>
      </li>

      <li class="nav-item me-0 pe-0">
        <a class="nav-link pe-0" title="Search this dribdat site"
           href="{{ url_for('public.about') }}">
          <i class="fa fa-search bg-dark text-white" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

    <span data-action="{{ url_for('api.project_search_json') }}" 
          id="search" class="form-inline ms-0 my-2 my-lg-0 me-auto">
      <input class="form-control mr-sm-2 ms-0 ms-sm-2" type="search" name="q" 
             aria-label="Search projects" placeholder="Find">
    </span>

  </div><!-- /.navbar-collapse -->
</nav>

<!-- Popup search results -->
<div class="container nav-search mt-0 mb-0" id="navSearch"
     tabindex="-1" role="dialog" aria-labelledby="searchLabel" aria-hidden="true">
  <div class="profile-projects container-fluid">
    <table class="table mt-4 hidden">
      <thead class="thead">
        <tr>
          <th scope="col">Team</th>
          <th scope="col" width="33%">Sprint</th>
        </tr>
      </thead>
      <tbody id="search-results"></tbody>
    </table>
    <div class="text-center mb-3 hidden" id="search-matches"></div>
  </div>
</div>

<!-- Popup global alerts -->
<div id="global-notifications-alert" class="hidden">
  <div class="alert alert-info">
    <button type="button" class="btn-close float-right" data-bs-dismiss="alert" aria-label="Close"></button>
    <i class="fa fa-info-circle float-left" aria-hidden="true"></i>
    <span id="notifications-status-text"></span>
  </div>
</div>
