<nav class="navbar navbar-expand-lg navbar-light bg-faded" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('public.home') }}" title="GO HOME">
      <i style="-moz-transform: scale(1, 1); -webkit-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1);" class="fa fa-thumbs-up" aria-hidden="true"></i>
      <i style="-moz-transform: scale(1, 1); -webkit-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1);" class="fa fa-lightbulb-o" aria-hidden="true"></i>
      <i style="-moz-transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -o-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1);" class="fa fa-thumbs-up" aria-hidden="true"></i>
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-main-collapse">
    <ul class="navbar-nav navbar-left mr-auto nav-fill">

      {% if tabs %}
        {% for tab, link in tabs %}
        <li class="nav-item">
          <a class="nav-link {% if active == tab %}active{% endif %}" href="{{ link }}">{{ tab|capitalize }}</a>
        </li>
        {% endfor %}
      {% endif %}

      <li class="nav-item">
        <a class="nav-link {% if active == 'dribs' %}active{% endif %}"
           title="Latest posts from the teams"
           href="{{ url_for('public.dribs') }}">
          <i class="fa fa-comment bg-warning text-white" aria-hidden="true"></i>
          Dribdat
        </a>
      </li>

      {% if current_user and current_user.is_authenticated %}
          <li class="nav-item">
            <a id="project-post"
               class="nav-link{{ ' active' if active == 'post' }}"
               href="{{ url_for('public.user_post') }}"
               title="Post an update to your current project">
              <i class="fa fa-clock-o bg-info text-white" aria-hidden="true"></i>
              Post
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link{{ ' active' if active == 'profile' }}"
               title="Take me to my profile"
               href="{{ url_for('public.user_current') }}" title="My User Profile">
              <i class="fa fa-user bg-primary text-white" aria-hidden="true"></i>
              Profile
            </a>
          </li>
          {% if current_user.is_admin %}
            <li class="nav-item admin-area">
              <a class="nav-link{{ ' active' if active == 'index' }}"
                 title="The engine room"
                 href="{{ url_for('admin.index') }}">
                <i class="fa fa-gear bg-danger text-white" aria-hidden="true"></i>
                Admin
              </a>
            </li>
            {% if event %}
              <li class="nav-item">
                <a href="{{ url_for('admin.event_projects', event_id=current_event.id) }}"
                    title="Administer event projects" class="nav-link">
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Check</a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('admin.event', event_id=event.id) }}"
                   title="Edit event details" class="nav-link">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  Edit</a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('admin.project_new', event_id=event.id) }}"
                   title="Add a project here" class="nav-link">
                  <i class="fa fa-plus"></i>
                  Add</a>
              </li>
            {% endif %}
          {% endif %}
      {% else %}
        <li class="nav-item">
          <a class="nav-link nav-login"
             title="Sign in with your account"
             href="{{ url_for('auth.login') }}">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Login
          </a>
        </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" id="navSearchButton"
           title="Search this dribdat site"
           href="{{ url_for('public.about') }}">
          <i class="fa fa-search" aria-hidden="true"></i>
          Search
        </a>
      </li>

    </ul>

  </div><!-- /.navbar-collapse -->
</nav>

<!-- Popup global alerts -->
<div id="global-notifications-alert" class="hidden">
  <div class="alert alert-info">
    <a class="close" title="Close" href="#">&times;</a>
    <i class="fa fa-info-circle float-left" aria-hidden="true"></i>
    <span id="notifications-status-text"></span>
  </div>
</div>

<!-- Popup search results -->
<div class="hidden container nav-search" id="navSearch"
     tabindex="-1" role="dialog" aria-labelledby="searchLabel" aria-hidden="true">
  <div class="profile-projects container-fluid mb-3">
    <div data-action="/api/project/search.json" id="search">
      <div class="content input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
        <input type="text" class="form-control" name="q" aria-label="Search projects" placeholder="Start typing ..."  style="width:20em">
      </div>
    </div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Team</th>
          <th scope="col">Event</th>
          <th scope="col">Updated</th>
        </tr>
      </thead>
      <tbody id="search-results"></tbody>
    </table>
    <div class="text-center mb-2" id="search-matches"></div>
  </div>
</div>
