<!-- Dialog for getting suggestions -->
<div class="modal fade" id="autopostModal" role="dialog" tabindex="-1">
  <div class="modal-dialog auto-post">
    <div class="modal-content">
      <div class="modal-body text-start">
        <p>
          Need a nudge? Get advice from
          <b>{{ config.LLM_MODEL|upper }}</b>
          - an automated service.
          Data from your project page will be uploaded for processing,
          then an AI-generated comment with suggestions will appear in your log.
        </p>
        <p class="text-center">
          <button
             onclick="this.disabled=1; this.innerHTML='Please wait...'; location.href='{{ url_for('project.project_autopost', project_id=project.id) }}'"
             title="Get a tip from an AI coach" class="btn btn-lg btn-success">
            &#x1F170;&#xFE0F;&#x2139;&#xFE0F;
            Coach me!
          </button>
        </p>
        <p>
          Or tap here to use the prompt in another tool of your choice:
        </p>
        <p class="auto-prompt text-center">
          <button id="autoprompt"
             data-api="{{ url_for('project.project_autoprompt', project_id=project.id) }}"
             class="btn btn-light btn-md">📋 Prompt my clipboard</button>
        </p>
        <hr>
        <p>
          If you are looking for help with Dribdat, visit the
          <a href="https://dribdat.cc/usage" target="_blank">📖 User Guide</a>
        </p>
      </div>
      <div class="modal-footer">
        {% if current_user.is_admin %}
          <button 
            onclick="this.disabled=1; this.innerHTML='Please wait...'; location.href='{{ url_for('project.project_autoboost', project_id=project.id) }}'" 
            class="btn btn-lg btn-light project-autoboost"
            title="Admins only - not limited">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            Run automated evaluation
          </button>
        {% endif %}
        <button class="btn btn-lg btn-dark" type="button" data-bs-dismiss="modal" aria-label="Close">
          Close
        </button>
      </div>
    </div>
  </div>
</div><!-- /.modal -->

<!-- Dialog for adding new team members -->
<div class="modal fade widget-team-add" id="addUser" tabindex="-1"
        role="dialog" aria-labelledby="addUserLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserLabel">
          Team
          <i class="fa fa-child" aria-hidden="true"></i><i class="fa fa-child" aria-hidden="true"></i>
          builder</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      {% if missing_roles %}
        <div class="missing-roles" title="This role is not yet filled. Try to find another team member!">
          {% for role in missing_roles %}
            <a class="role" data-id="{{ role.id }}"
               href="{{ url_for('public.all_participants') }}?u=~{{ role.name }}">
              <span>{{ role.name }}</span>
            </a>
          {% endfor %}
        </div>
      {% endif %}
        <p class="text-small text-start">
          Use the <a href="{{ url_for('public.all_participants')}}">participant list</a>
          to look up a username, share the QR code, or enter an e-mail address below to send out an invite.
        </p>
        <center>
          <div id="qrcode"
            data-href="{{ url_for('project.project_star', project_id=project.id,  _external=True) }}"
          ></div>
        </center>
        <div class="input-group mb-3 mt-3">
          <span class="input-group-text btn btn-light" title="Copy invite link" id="basic-addon1">📋 Copy</span>
          <input class="form-control" aria-label="Invite link" type="text"
            value="{{ url_for('project.project_star', project_id=project.id,  _external=True) }}"
            id="invite-link" disabled />
        </div>
        <form action="{{ url_for('project.project_star_user', project_id=project.id)}}"
              method="post" onsubmit="$('#addUser').modal('hide')">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input class="form-control" aria-label="User name" type="text" name="username" placeholder="user or e-mail" size="12" />
            <input class="form-control" class="bg-success" type="submit" value="Invite" />
          </div>
        </form>
        {% if current_user.is_admin %}
          <p class="text-start">
            Admins can kick users with the <b>X</b> button,
            or <a href="{{ url_for('admin.users')}}">deactivate</a> them.
          </p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <a href="{{ url_for('project.project_unstar_me', project_id=project.id) }}"
           class="project-star btn btn-light float-left"
          title="Stop being a member of the project"
          onclick="return confirm('Are you sure you wish to leave this team?')">
          <i class="fa fa-unlink" aria-hidden="true"></i>
          Leave
        </a>
        <button class="btn btn-dark" type="button" data-bs-dismiss="modal" aria-label="Close">
          Close
        </button>
      </div>
    </div>
  </div>
</div><!-- /modal -->
