<!-- Upload image dialog -->
<div class="modal fade uploader" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="uploadLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="uploadLabel">Upload an image</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="upload-note">
					Open web formats (<tt>PNG</tt>, GIF, JPEG, SVG, WebP) are accepted.
					<b>Max {{ (config.MAX_CONTENT_LENGTH/(1024*1024))|round(1) }} MB.</b>
				</p>
				<div class="input-group" style="margin-top:1em">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputImageLabel">Select</span>
					</div>
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="inputImageFile"
							name="image" aria-describedby="inputImageLabel" accept="image/*"
							data-maxsize="{{ config.MAX_CONTENT_LENGTH }}">
						<label class="custom-file-label" for="inputImageFile">Choose file</label>
					</div>
				</div>
				<hr>
				<center class="preview hidden" id="img-preview">
					<img src="" height="128">
					<input name="url" disabled style="display:block;margin-top:1em">
				</center>
				<center class="col hidden" style="margin-top:1em" id="img-confirm">
					<button class="btn btn-warning btn-lg" data-target="weblink">
						<i class="fa fa-desktop"></i><br>
						Presentation
					</button>
					<button class="btn btn-info btn-lg" data-target="pitch">
						<i class="fa fa-plus-square-o"></i><br>
						Insert into Pitch
					</button>
					<button class="btn btn-info btn-lg" data-target="post">
						<i class="fa fa-check-square"></i><br>
						Add to Post
					</button>
					<button class="btn btn-warning btn-lg" data-target="cover">
						<i class="fa fa-image"></i><br>
						Use as Cover
					</button>
					<button class="btn btn-light btn-lg" data-target="xclip">
						<i class="fa fa-clipboard"></i><br>
						Copy
					</button>
				</center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div><!-- / Upload Image -->


<!-- Upload File dialog -->
<div class="modal fade uploader" id="uploadFile" tabindex="-1" role="dialog" aria-labelledby="uploadFileLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="uploadFileLabel">Attach file</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="upload-note mt-0">
					Data formats permitted:
					<sp>PDF</sp>
					<sp>CSV</sp>
					<sp>TSV</sp>
					<sp>ODS</sp>
					<sp>JSON</sp>
					<sp>GeoJSON</sp>
					up to {{ (config.MAX_CONTENT_LENGTH/(1024*1024))|round(1) }} MB in size.

					<b>Tip:</b> <a href="https://frictionlessdata.io/" target="_blank">Data Packages</a> can be
					<a href="https://frictionlessdata.io/projects/#visual-interfaces" target="_blank">made with tools</a> or <a href="https://github.com/schoolofdata-ch/datapackage-template" target="_blank">templates</a>.
				</p>
				<div class="input-group" style="margin-top:1em">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputFileLabel">Select</span>
					</div>
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="inputFile"
							name="image" aria-describedby="inputFileLabel" accept="application/json,.geojson,.csv,.tsv,.pdf,application/vnd.oasis.opendocument.spreadsheet"
							data-maxsize="{{ config.MAX_CONTENT_LENGTH }}">
						<label class="custom-file-label" for="inputFile">Choose file</label>
					</div>
				</div>
				<div class="file-preview hidden">
					<table width="100%">
						<tr><th>File name:</th><td class="filename"></td></tr>
						<tr><th>Size of file:</th><td class="filesize"></td></tr>
						<tr><th>Type of data:</th><td class="filetype">
							<div class="filetype-pdf hidden">PDF</div>
							<div class="filetype-csv hidden">CSV</div>
							<div class="filetype-tsv hidden">TSV</div>
							<div class="filetype-ods hidden">ODS</div>
							<div class="filetype-json hidden">JSON</div>
							<div class="filetype-geojson hidden">GeoJSON</div>
							<div class="filetype-frictionless hidden">Data Package</div>
						</td></tr>
					</table>
				</div>
				<center class="col hidden" style="margin-top:1em" id="file-confirm">
					<button class="btn btn-warning btn-lg" data-target="weblink">
						<i class="fa fa-desktop"></i><br>
						Presentation
					</button>
					<button class="btn btn-info btn-lg" data-target="pitch">
						<i class="fa fa-plus-square-o"></i><br>
						Insert into Pitch
					</button>
					<button class="btn btn-light btn-lg" data-target="xclip">
						<i class="fa fa-clipboard"></i><br>
						Copy
					</button>
				</center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div><!-- / Upload File -->
