<!-- Upload image dialog -->
<div class="modal fade uploader" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="uploadLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadLabel">Upload Images</h5>
        <button type="button" class="btn-close float-right" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="upload-note">
          Open web formats accepted: <sp>PNG</sp> <sp>GIF</sp> <sp>JPEG</sp> <sp>SVG</sp> <sp>WebP</sp>
          <br><b>Max file size: {{ (config.MAX_CONTENT_LENGTH/(1024*1024))|round(1) }} MB</b>
        </p>
        <div class="input-group" style="margin-top:1em">
          <div class="custom-file">
            <label class="form-label custom-file-label" for="inputImageFile">Choose file</label>
            <input class="custom-file-input form-control form-control-lg" id="inputImageFile"
              type="file" name="image" aria-describedby="inputImageLabel" accept="image/*"
              data-maxsize="{{ config.MAX_CONTENT_LENGTH }}">
          </div>
        </div>
        <hr>
        <center class="image-upload-preview preview hidden" id="img-preview">
          <img src="" height="128">
          <input name="url" disabled>
        </center>
        <center class="image-upload-confirm col hidden" id="img-confirm">
          <button type="button" class="btn btn-info btn-lg" data-target="pitch">
            <i class="fa fa-plus-square-o"></i><br>
            Insert into Pitch
          </button>
          <button type="button" class="btn btn-info btn-lg" data-target="post">
            <i class="fa fa-check-square"></i><br>
            Add to Post
          </button>
          <button type="button" class="btn btn-warning btn-lg" data-target="cover">
            <i class="fa fa-image"></i><br>
            Use as Cover
          </button>
          <button type="button" class="btn btn-light btn-lg" data-target="xclip">
            <i class="fa fa-clipboard"></i><br>
            Copy link
          </button>
        </center>
        <p class="upload-note mt-4">
          &copy; Make sure to <a href="https://commons.wikimedia.org/wiki/Commons:Reusing_content_outside_Wikimedia" target="_blank">correctly attribute</a> the author with the source and license of any creative works that you use in your project.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- / Upload Image -->


<!-- Upload File dialog -->
<div class="modal fade uploader" id="uploadFile" tabindex="-1" role="dialog" aria-labelledby="uploadFileLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadFileLabel">Attach Presentation</h5>
        <button type="button" class="btn-close float-right" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="upload-note mt-0">
          You can upload a <sp>PDF</sp> export of your presentation here,
          up to {{ (config.MAX_CONTENT_LENGTH/(1024*1024))|round(1) }} MB in size.
        </p>
        <div class="input-group mt-2">
          <div class="custom-file">
            <label class="form-label custom-file-label" for="inputFile">Choose file</label>
            <input class="custom-file-input form-control form-control-lg" id="inputFile"
              type="file" name="image" aria-describedby="inputFileLabel" accept=".pdf"
              data-maxsize="{{ config.MAX_CONTENT_LENGTH }}">
          </div>
        </div>
        <div class="file-preview hidden mt-3">
          <table width="100%">
            <tr><th width="20%">File name:</th><td class="filename"></td></tr>
            <tr><th>File size:</th><td class="filesize"></td></tr>
          </table>
        </div>
        <center class="col hidden" style="margin-top:1em" id="file-confirm">
          <button type="button" class="btn btn-warning btn-lg" data-target="weblink">
            <i class="fa fa-desktop"></i><br>
            Use as Presentation
          </button>
          <button type="button" class="btn btn-light btn-lg" data-target="xclip">
            <i class="fa fa-clipboard"></i><br>
            Copy link
          </button>
        </center>
        <p class="upload-note mt-4">
          <b>Tip:</b> 
          Use the <i>Export to PDF</i> function in your presentation, or an <a href="https://www.adobe.com/acrobat/online/ppt-to-pdf.html" target="_blank">online converter</a> to prepare your file.
          Too big? Try <a href="https://tools.pdf24.org/compress-pdf" target="_blank">compressing your PDF</a> before uploading.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- / Upload File -->


<!-- Upload Data dialog -->
<div class="modal fade uploader" id="uploadPackage" tabindex="-1" role="dialog" aria-labelledby="uploadDataLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadDataLabel">Attach Data</h5>
        <button type="button" class="btn-close float-right" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="upload-note mt-0">
          Accepted formats:
          <sp>PDF</sp>
          <sp>CSV</sp>
          <sp>TSV</sp>
          <sp>ODS</sp>
          <sp>JSON</sp>
          <sp>GeoJSON</sp>
          <br>(up to {{ (config.MAX_CONTENT_LENGTH/(1024*1024))|round(1) }} MB)

          &#x1F4A1; Consider using
          <a href="https://frictionlessdata.io/" target="_blank">Frictionless Data</a> 
          standards to share an open data package made
          <a href="https://frictionlessdata.io/projects/#which-software-is-right-for-me" target="_blank">with tools</a> or <a href="https://github.com/schoolofdata-ch/datapackage-template" target="_blank">a template</a>.
        </p>
        <div class="input-group mt-2">
          <div class="custom-file">
            <label class="form-label custom-file-label" for="inputFile">Choose file</label>
            <input class="custom-file-input form-control form-control-lg" id="inputFile"
              type="file" name="image" aria-describedby="inputFileLabel" accept="application/json,.geojson,.csv,.tsv,.pdf,application/vnd.oasis.opendocument.spreadsheet"
              data-maxsize="{{ config.MAX_CONTENT_LENGTH }}">
          </div>
        </div>
        <div class="file-preview hidden mt-3">
          <table width="100%">
            <tr><th width="20%">File name:</th><td class="filename"></td></tr>
            <tr><th>Size of file:</th><td class="filesize"></td></tr>
            <tr><th>Type of data:</th><td class="filetype">
              <div class="filetype-pdf hidden">PDF</div>
              <div class="filetype-csv hidden">CSV</div>
              <div class="filetype-tsv hidden">TSV</div>
              <div class="filetype-ods hidden">ODS</div>
              <div class="filetype-json hidden">JSON</div>
              <div class="filetype-geojson hidden">GeoJSON</div>
              <div class="filetype-frictionless hidden">Data Package</div>
            </td></tr>
          </table>
        </div>
        <center class="col hidden" style="margin-top:1em" id="data-confirm">
          <button type="button" class="btn btn-info btn-lg" data-target="pitch">
            <i class="fa fa-plus-square-o"></i><br>
            Insert into Pitch
          </button>
          <button type="button" class="btn btn-light btn-lg" data-target="xclip">
            <i class="fa fa-clipboard"></i><br>
            Copy link
          </button>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- / Upload Data -->
